-if @issue.id.nil?
  -url = [ :admin, @issue ]
  -method = :post
-else
  -url = admin_issue_path(@issue)
  -method = :put
=form_for @issue, :url => url, :html =>{ :method => method, :multipart => true } do |f|
  =show_errors @issue 
  %p        
    =f.label :name
    %br
    =f.text_field :name

  %p        
    =f.label :type
    %br
    =f.select :type, Issue::ALL_TYPES

  -if @issue.is_a?(ManagedIssue)
    %p        
      =f.label :index
      %br
      =f.collection_select :managed_issue_page_id, ManagedIssuePage.where(issue_id: @issue.id), :id, :name

  -if @issue.image.exists?
    = image_tag @issue.image.url(:normal)

  %p
    =f.label :image, "Attach an Image (looks best at 3:2 ratio)"
    %br
    =f.file_field :image
    
  %p
    =f.label :summary
    %br
    =f.text_area :summary, :class => 'tinymce'
    
  %p
    =f.label :url, "Reference URL"
    %br
    =f.text_field :url
    
  %p
    =f.label :url_title, "URL Title"
    %br
    =f.text_field :url_title

  %p
    =f.label :zip_code
    =f.text_field :zip_code
    
  %p
    =f.label :sponsor_name
    =f.text_field :sponsor_name
  %p
    =f.submit "Update Issue"

:plain
  <script type="text/javascript">
    $().ready(function() {
      init_tiny_mce('#issue_summary');
    });
  </script>
