%h2 Issues
%table{:summary => 'Listing of Issues in the Area'}
  %thead
    %tr
      %td Description
      %td Summary
  %tbody
    -@issues.each do |issue|
      %tr
        %td= link_to issue.description, admin_issue_path(issue)
        %td= issue.summary
        %td= link_to 'Edit', edit_admin_issue_path(issue)

=link_to "Add Issue", new_admin_issue_path
|  
=link_to "Back", admin_root_path