%h2= @issue.name

%p
  %b Type:
  =@issue.type

%p
  %b Exclude From Result:
  =@issue.exclude_from_result

%p
  %b Topics:
  %ul
    -@issue.topics.each do |topic|
      %li
        = topic.name

-if @issue.is_a?(ManagedIssue)
  %p
    %b Index Page:
    =@issue.index.try(:name)

-if @issue.image.exists?
  = image_tag @issue.image.url(:normal)

%p
  %b Index Summary Description:
  %br
  =raw @issue.index_summary

%p
  %b Summary:
  %br
  =raw @issue.summary

%p
  %b Reference URL:
  =@issue.url
  =link_to @issue.url_title, @issue.url

%p
  %b Zip Code:
  =@issue.zip_code

= if @issue.sponsor_name
  %p
    %b Client Name:
    =@issue.sponsor_name


=link_to "Edit", edit_admin_issue_path(@issue)
-if @issue.is_a?(ManagedIssue)
  |
  =link_to "Page List", admin_issue_pages_path(@issue)
  |
  =link_to "Add Page", new_admin_issue_page_path(@issue)
|
=link_to "Back", admin_issues_path
