<div class="t-grid">
  <div class="t-col t-col-search">
    <div class="group">
      <h1>What do you care about?</h1>
      <div id="search" class="main-search-bar t-search-bar">
        <form class="dropdown">
          <input type="text" class="js-grid-search textbox" data-toggle="dropdown" placeholder="Search" />
          <input class="submit" id="Search" type="submit" value="Search" />
          <ul class="dropdown-menu">
            <li><a href="#">Education</a></li>
            <li><a href="#">Environment</a></li>
            <li><a href="#">Arts</a></li>
          </ul>
        </form>
      </div>
    </div><!-- /.group -->
  </div><!-- /.t-col-span -->
  <div class="t-col t-col-conv-create mrn">
    <%= render :partial => 'layouts/create_conversation' %>
  </div>
</div>
