<script type="text/javascript">
  $(function() {
      $('.slideshow').cycle({
          fx:      'scrollHorz',
          speed:   1000,
          timeout: 15000,
          pager:   '.hero-slideshow-nav',
      });
  });
</script>

<div class="content-container slideshow">

  <% featured_opportunities.each_with_index do |featured_opportunity, index| %>
    <%= render partial: 'hp_slideshow_container', locals: {featured_opportunity:featured_opportunity, index:index} %>
  <% end %>

</div><!-- /.slideshow -->

<div class="hero-slideshow-nav slideshow-nav"></div>
