<div class="mod fl-left mrn">
  <div class="card">
    <h2>3. Reflect</h2>
    <div class="media mbm">
      <%= conversation_profile(reflection.owner).html_safe %>
      <div class="bd">
        <strong><%= reflection.owner_name %></strong><br/>
      </div>
    </div>
    <div class="recent-item">
      <p class="bd"><%= truncate(Sanitize.clean(reflection.details), length:225).html_safe %></p>
    </div>
    <%= link_to("Continue Reading", conversation_reflection_url(reflection.conversation, reflection, :anchor => 'opportunity-nav')) %>
  </div>
</div>
