<div class="t-grid">
  <div class="t-col t-col-search">
    <div class="group">
      <h1>What do you care about?</h1>
      <div id="search" class="main-search-bar t-search-bar">
        <%= render :partial => '/search/search' %>
      </div>
    </div><!-- /.group -->
  </div><!-- /.t-col-span -->
  <div class="t-col t-col-conv-create mrn">
    <%= render :partial => 'layouts/create_conversation' %>
  </div>
</div>
