<div class="mod fl-left">
  <div class="card">
    <h2>1. Join a conversation</h2>
    <div class="arrow_box">
      <p><%= truncate(Sanitize.clean(contribution.content), length:225).html_safe %></p>
    </div>
    <div class="media mtl">
      <%= conversation_profile(contribution.owner).html_safe %>
      <div class="bd">
        <strong><%= contribution.person_name %></strong><br/>
      </div>
      <span style="float:right; padding:10px;">
        <%= link_to("Continue Reading", url_to_contribution(contribution)) %>
      </span>
    </div>
  </div>
</div>
