.article
  %p
    %a{:href => event_path(item), :title => "#{item.title}"}= "#{item.title}"
    \<br/>
    %strong When &ndash;
    %span=item.when.strftime("%m/%d/%Y %I:%M%p")
    <br />
    %strong Where &ndash;
    %span=item.where
  %a.secondary.button{:href => event_path(item)} Join
  %a.text.button{:href => event_path(item), :title => "#{item.total_rating} people found this productive"} #{item.total_rating} found this productive