  <div class="content-container">
    <%= render :partial => '/articles/featured' %>
  </div>

<div class="content-container">
  <div class="main-content">
    <%= render :partial => '/conversations/conversation_pager' %>
  </div><!-- /.main-content -->
  <div class="aside supplementary">
    <h3>Select a Region</h3>
  <ul class="conversations">
    <li>
      <h4><a href="#">Secondary Article Title</a></h4>
      <p>By: Person's Name</p>
    </li>
    <li>
      <h4><a href="#">Secondary Article Title</a></h4>
      <p>By: Person's Name</p>
    </li>
    <li>
      <h4><a href="#">Secondary Article Title</a></h4>
      <p>By: Person's Name</p>
    </li>
  </ul>
<h3>Community Poll</h3>
  <p>Of the three options below, which do you think is the most authoritative.</p>
  <form class="general-aside">
            <div class="form-block radio">
              <label for="option-1"><input type="radio" name="option-1" /> Option 1</label>
              <label for="option-2"><input type="radio" name="option-2" /> Option 2</label>
              <label for="option-3"><input type="radio" name="option-3" /> Option 3</label>
            </div>
            <div class='form-block'>
              <p>
            <input class='submit' type='submit' value='Submit'>
              </p>
            </div>
          </div>
        </form>
  </div><!-- /.aside -->
</div><!-- /.content-container -->
