%span#invite-participant
  = link_to("Invite a Friend", {:controller => "invites", :action => "new", :source_type => "conversations", :source_id => conversation.id}, :class => "text button", 'data-colorbox' => true, 'data-remote' => true, :title => "")
