<% content_for :main_body do %>

  <% if flash[:notice] -%>
    <div class="flash-notice">
      <%=flash[:notice] %>
    </div>
  <% end -%>

  <% if @conversation %>
    <div class="feature-mast">
      <div class="wrapper">
        <div class="content-container">
          <div class="main-content">
            <%= image_tag @conversation.image.url(:panel), :class => 'featured main-img', :width => '120', :height => '80' %>
            <h1><%= @conversation.title %></h1>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <%= render :partial => 'form' %>
      </div>
    </div>
  </div>

<% end %>
