%div.content
  %span.contribution-person-name= person_display_name(contribution.person)
  =format_comment(contribution)
- if contribution.attachment_content_type =~ /^image/
  %p.attached-file
    - if contribution.new_record? || contribution.unconfirmed?
      = image_tag(contribution.attachment.url(:medium))
    - else
      = link_to(image_tag(contribution.attachment.url(:medium)).html_safe, contribution.attachment.url(:large), {'data-colorbox' => true})
- else
  %p.attached-file
    = link_to("Download attached file", contribution.attachment.url, {:target => :blank})
