%p.content
  %strong= person_display_name(contribution.person)
  &nbsp;-&nbsp;
  = auto_link(contribution.content)
- if contribution.attachment_content_type =~ /^image/
  %p.attached-file
    =link_to(image_tag(contribution.attachment.url(:medium)), contribution.attachment.url(:large), {'data-colorbox' => true})
- else
  %p.attached-file
    = link_to("Download attached file", contribution.attachment.url, {:target => :blank})
