%div.content
  %span.contribution-person-name= person_display_name(contribution.person)
%p.content.link-quote
  = raw EmbedlyService.to_html(contribution)
%p.content.link-quote
  = contribution.description
