%p.content
  = auto_link(contribution.content)
%p.link-title
  = link_to(contribution.title, contribution.url)
  %br
  %span.link-url
    = contribution.url
%p.content.link-quote
  = contribution.description