- if current_person && contribution.user_rating
  %p.rating
    =format_user_rating(contribution.user_rating)
    =format_rating(contribution)
- else
  %p.rating
    %a.rate-comment{:title => "Rate this contribution", :href => "#", 'data-target' => "#rate-form-#{contribution.id}" }
      Rate this contribution
    =format_rating(contribution)
  .rate-form-container(id="rate-form-#{contribution.id}")
    =render(:partial => 'conversations/rate_contribution_form', :locals => {:contribution => contribution})