<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>About Us</h1>

        <p><strong>The Civic Commons is all about to building conversations and connections that have the power to become informed, productive collective civic action.</strong></p>
        <p>Too often in Northeast Ohio civic engagement happens in isolation. We believe social media, journalism, and emerging technologies can change that, connecting citizens to each other and to information in powerful ways, and allowing them to become thought leaders and creators of our shared future.</p>

        <h2>How the Civic Commons works</h2>
        <p>If you prefer video to text, be sure to check out our how-to video. If you're not a check-out-the-video kind of citizen, here's a groovy graphic: &lt;there will be an exceptionally groovy illustration&gt;</p>

        <h2>How we do what we do</h2>
        <p>Here are the basic principles that shape how we do stuff. We think they're pretty important and central to building productive conversations. We hope you'll agree, but if you don't, tell us about your guiding principles. </p>
        <p>The Civic Commons strives to be&hellip;</p>

        <h2>How we pay the bills</h2>
        <p>The John S. and James L. Knight Foundation provided most of our startup funding. The Fund for Our Economic Future kicks in a fair bit of financial and technical support, too.</p>

        <p>Got questions? <a href="/faq">We've got a few answers</a>.</p>
      </div>
    </div>
  </div>
<% end %>
