<%= content_for :main_body do %>
  <div class="wrapper">

      <div class="content-container">

      <div class="main-content">

        <div class="wide_content" id="ShowContentModule">

          <h1>Common Blog</h1>

          <div class="blog" id="outer_block_57">
            <h2>Back to the airwaves</h2>
            <a href="http://theciviccommons.com/user/9">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/large/Moulthrop1.jpg" class="blog-pic" alt="Dan Moulthrop" />
            </a>
            <div class='blog_inner'>
              <p>
              I love radio. There's nothing quite like the intimacy it allows. When it's done well, it feels like a conversation
              you're already a part of. Those of us who have steady radio habits know exactly what I'm referring to. That's part
              of why it was so difficult for me to leave my last job at WCPN, and also why I was so excited when Mark Krieger
              of <a href="http://en.wikipedia.org/wiki/WJCU">WJCU</a> (88.7 FM) invited the Civic Commons to take advantage of an
              8:30 a.m. slot that is opening Saturday mornings.
              </p>
              <p>
              So this Saturday morning (1/22) the Civic Commons is taking to the airwaves. Our goal with the radio show is to take
              a different sort of approach to the issues we're dealing with every day across Northeast Ohio. Our main goal is to
              bring your voice to the airwaves as much as possible. We'll be starting off by using the
              <a href="http://www.theciviccommons.com/principles">CC principles</a> as a way to examine what's happening in the
              region. For a variety of reasons, we thought we'd start with transparency. That gives us a chance to examine the
              recent transition to a new form government in Cuyahoga County and some of the stumbles along the way. (If you want
              a preview, you can hear the
              <a href="http://s3.amazonaws.com/com.theciviccommons.production/attachments/3389/original/rogers-greenspan%20intv.mp3?1295262987">entire, unedited interview</a>
              I did with newly installed council members Julian Rogers and Dave Greenspan.)
              </p>
              <p>
              We hope you'll tune in! And if you can't, check back here for the podcast.
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/9">Dan Moulthrop</a> on January 08, 2011
            </div>

         </div>

         <div class="blog" id="outer_block_57">
            <h2>Lessons from the Mobile Town Hall</h2>
            <a href="http://theciviccommons.com/user/9">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/large/Moulthrop1.jpg" class="blog-pic" alt="Dan Moulthrop" />
            </a>
            <div class='blog_inner'>
              <p>
              Last Wednesday, we spent the lunch hour with about 20 or 30 citizens and Akron Deputy Mayor Dave Lieberth at the
              public library and the municipal building. <%= link_to "The conversation", conversation_path(82) %> was fantastic,
              and people weren't even in the same room. What we're finding is that technology can actually bring people closer
              to the officials who work for them. We connected the dep mayor to his constituents via Skype, and that prompted a
              really interesting question. The mayor's office is only a few blocks away, so why bother with the technology? My
              colleague Noelle Celeste supplied the perfect response: Would you walk those few blocks to ask that question? The
              answer to that is usually 'No.'
              </p> 
              <p>
              So, we see this as a success for a few reasons
              </p> 
              <p>
              --we were able to bring government right to where people live their lives
              </p>
              <p>
              --the technology created a different kind of conversation, one that doesn't feel like an ordinary town hall performance
              </p>
              <p>
              --we heard from a lot of people who don't typically get heard from
              </p>
              <p>
              We learned a few lessons, too, some about logistics (we could use twitter to preview who's coming next for both the dep.
              mayor and the public to see, for instance), some about other ways to extend the conversation (stream it live), some about
              how the location may dictate the kind of participants you get (who would you see at Lock 3 in the summer, or the Mustard
              Seed Market, for instance). The most important lesson, though, would be to make sure we have a community advocate of some
              sort on hand to help connect people to the resources they need, particularly when they bring up issues such as prisoner
              re-entry or child protective services.
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/9">Dan Moulthrop</a> on January 08, 2011
            </div>

          </div>

          <div class="blog" id="outer_block_55">
            <h2>Mobile Town Hall</h2>
            <a href="http://social.theciviccommons.com/user/9">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/large/Moulthrop1.jpg" class="blog-pic" alt="Dan Moulthrop"/>
            </a>
            <div class='blog_inner'>
              <p>
              To kick off the New Year, we’re hosting a special Town Hall meeting in Akron next Wednesday, January 5th. This isn’t
              your usual Town Hall, though. It’s more like an opportunity for citizens to get some real one-on-one time with one of
              the most important (and most accessible) elected officials in Akron--Deputy Mayor Dave Lieberth.
              </p>
              <p>
              The dep. mayor wants to hear from Akronites on all sorts of stuff: what you'd  like to see improved in Akron, a
              New Year’s resolution the city should take on, a big idea for improving the city, a pet pothole that’s been bugging
              you. What makes this a little different is that we're doing this with a technological twist--Lieberth will be connecting
              with citizens via Skype and we'll be recording the whole thing and then posting it online for others to interact with.
              </p>
              <p>
              (Sure, the dep mayor could walk down the library, but this is just a proof of concept--imagine how this could be used to
              connect city hall to all the branch libraries at once, or all the community centers in town.) 
              </p>
              <p>
              Here are the details:
              <br />
              WHEN: January 5th, noon
              <br />
              WHERE: Akron Public Library, Garden
              Corridor, near the High Street entrance
              <br />
              SIGN UP: <a href="mailto:jasonrussell@theciviccommons.com">jasonrussell@theciviccommons.com</a>
              <br />
              Feel free to come join us to watch as well, the conversation will be broadcast for everyone to see.
              <br />
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/9">Dan Moulthrop</a> on December 30, 2010
            </div>

          </div>

          <div class="blog" id="outer_block_54">
            <h2>$500 for your creative interpretation</h2>
            <a href="http://social.theciviccommons.com/user/11">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/11/large/Photo 96.jpg" class="blog-pic" alt="Noelle Celeste"/>
            </a>
            <div class='blog_inner'>
              <p>
              We're serious when we say that this is YOUR Civic Commons, that's why we've launched a poster contest that invites you
              to add your creativity to the mix.
              </p>
              <p>
              Throughout the month of January we are accepting poster ideas and then we'll turn to the Civic Commons community to help
              select winning concepts. The selected entries will receive $500. So help us spread the word to students, young professionals,
              artists, designers, writers, activists, community leaders, business owners, and anyone else ready to take up the challenge.
              We can't wait to see what you come up with!
              </p>
              <p>
              Find out more at our <a href="http://www.theciviccommons.com/posters">poster contest web page</a>.
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/11">Noelle Celeste</a> on December 29, 2010
            </div>

          </div>

          <div class="blog" id="outer_block_39">
            <h2>Another Experiment in Social Media for Social Good Gets Started</h2>
            <a href="http://social.theciviccommons.com/user/11">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/11/large/Photo 96.jpg" class="blog-pic" alt="Noelle Celeeste"/>
            </a>
            <div class='blog_inner'>
              <p>
              Yesterday Jumo launched its <a href="http://www.jumo.com/">beta site</a>.
              </p>
              <p>
              A project sprearheaded by Chris Hughes, co-founder of Facebook and chief digital organizer for Barack Obama, Jumo is
              designed to see if social media can be used to drive volunteerism and donations to causes worldwide.
              </p>
              <p>
              Like Civic Commons is exploring how technology can help build civic engagement by removing barriers and connecting 
              citizens to information and each other, Jumo is testing if creating a place where individuals can connect to non-profits
              and get involved in their work will generate engagement.
              </p>
              <p>
              It's happening all over the country--innovative teams are heading into uncharted territory to find out how by working
              together we can use these powerful tools to connect people to more than entertainment, and in the process strengthen
              our communities.
              </p>
              <p>
              <a href="http://www.nytimes.com/2010/11/30/technology/30jumo.html">
                “The more connected that individual is to an issue they care about, the higher probability there is they will stay involved over a longer period of time,” 
              </a>Mr. Hughes said.
              </p>
              <p>
              Sound familiar?
              </p>
              <p>
              We hope you'll continue to help us test and build Civic Commons so that we can give civic engagement a persistent
              presence in our community.
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/11">Noelle Celeste</a> on December 01, 2010
            </div>

          </div>

          <div class="blog" id="outer_block_36">
            <h2>What exactly are we doing here?</h2>
            <a href="http://social.theciviccommons.com/user/9">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/large/Moulthrop1.jpg" class="blog-pic" alt="Dan Moulthrop"/>
            </a>
            <div class='blog_inner'>
              <p>
              The Civic Commons is a grand experiment. We opened the doors last week to a group of you—close to 200 so far—to
              help us test this web environment. And we realize it’s maybe not entirely clear what you can do here and why you
              would want to do it. One of the most common bits of feedback we received last week goes something like this:
              “It feels like the conversation has already happened,” or “I feel like I’d be interrupting if I jump in.” or
              “This system is baffling. I keep getting entirely different windows to respond and they're all quirky.”
              <b>This kind of feedback is great. It tells us that what we think we've created isn't working right yet</b>.
              </p>
              <p>So, I'm going to try to explain exactly what we’re doing and you can tell me how we might do it better. Conversation
              is basically the engine of civic engagement. It’s how we exchange ideas, how we organize, how we share information with
              one another. Important civic conversations are happening all over the place, all the time, and <strong>what we’re trying
                to create is a place and practice for those conversations to continue, to be ongoing, and to involve more people.</strong>
              </p>
              <p>
              So, take <a href="http://theciviccommons.com/conversations/27">the conversation about urban farming</a>—we transcribed a
              City Club event from last Spring and created an opportunity for anyone to join the conversation anywhere in the conversation.
              Where you see &quot;No responses&quot; or &quot;3 responses&quot;--those are all places where you can jump in and add your
              thoughts, ask a question, suggest an action, or post some piece of information you think is relevant.  We’re used to just
              seeing things presented and then commenting on them at the end. This is different. We’re trying to make it possible to allow
              real, authentic, valuable participation by everyone, even people who weren’t there.
              </p>
              <p>
              Clearly, we haven’t figured this out yet, so help us. What would make this work better?
              </p>
              <p>
              A couple things we’re contemplating are notifications (if someone comments on something you said or in a conversation you’re
              following, you get a heads up), and also the ability to ask a question of a particular conversation participant (or even
              someone who’s not there, who could be invited to join the Commons). But those could wind up baffling people, too. So your
              suggestions here are welcome. We’re listening.
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/9">Dan Moulthrop</a> on November 22, 2010
            </div>

          </div>

          <div class="blog" id="outer_block_18">
            <h2>National Day of Conversation</h2>
            <a href="http://social.theciviccommons.com/user/11">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/11/large/Photo 96.jpg" class="blog-pic" alt="Noelle Celeste"/>
            </a>
            <div class='blog_inner'>
              <p>
              The Civic Commons team recently sat down for lunch with citizens in Akron and Cleveland while a couple of other groups
              gathered independently, all to participate in the National Day of Conversation. Our topic: What's the most important work
              newly elected officials can address in your community?</p><p> </p><p>Here's some of what we heard: redistricting, regional
              identity, vacant property, the lakeshore as a resource, keeping electeds informed, public input on government efficiencies,
              using technology to increase transparency, following up on continuing impact of project (how good has the Euclid Corridor been?),
              how citizens can hold elected officials accountable, state budget, understanding how tax money is spent, building neighborhoods
              that can support changing lifestyles (leaner times), and transportation... just to name a few.
              </p>
              <p>
              Though the National Day of Conversation is over, we've brought the conversation here to Civic Commons so that you too can share
              your answer to the question. So tell us, what's the most important work you think newly elected officials can address in your
              community?
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/11">Noelle Celeste</a> on November 09, 2010
            </div>

          </div>

          <div class="blog" id="outer_block_2">
            <h2>Can you volunteer at the Civic Commons?</h2>
            <a href="http://social.theciviccommons.com/user/9">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/large/Moulthrop1.jpg" class="blog-pic" alt="Dan Moulthrop"/>
            </a>
            <div class='blog_inner'>
              <p>
              We get this question a fair bit, and the answer, of course, is <strong>yes</strong>. There’s lots of ways you can volunteer at
              the Commons. Volunteering is one of those things that simply makes life better. We help someone else or some organization, and
              in return, we get a warm fuzzy feeling and the sense that we’re more of the person we want to be and less of the person who
              guiltily eats chocolate chips out of the peanut butter jar with a spoon while watching “Glee.” And what’s great about volunteering
              at the Commons is that it’s not quite like a lot of other volunteer gigs.
              </p>
              <p>
              A few months back I heard was listening to <a href="http://www.wcpn.org/soi">the radio program I used to host</a>. They were
              talking about how to make local governments more efficient, a topic in which I have a keen interest. This guy called in,
              identifying himself as a listener from Lakewood and a former economic development professional. He said he didn’t think he
              ever created any jobs, and he didn’t think economic development professionals ever create any jobs, except for more economic
              development professionals.
              </p>
              <p>
              Well, I got to wondering, what if we had fifty or a hundred volunteers across this corner of the state, and we could ask them
              to go their city’s economic development department or community liaison, and ask them three questions:
              </p> 
              <p>
              What was your economic development budget for each of the last three years?
              </p>
              <p>
              What economic development strategies did you employ in each of the last three years?
              </p>
              <p>
              How many jobs did those strategies create?
              </p>
              <p>
              Then, we could get the answers back and create something that looks like <a href="http://www.informationisbeautiful.net/visualizations/snake-oil-supplements/">this</a>
              -- except it would be about economic development and not whether nutritional supplements are snake oil.
              </p>
              <p>
              So, to pull that off, we can use volunteer reporters, data crunchers, designers, organizers. And elsewhere in the commons, we’ve
              got room for volunteer writers, editors, conversation moderators (or as one of our volunteers put it, “conversation shepherds”),
              researchers, photographers, transcribers, coders, and social media mavens. I suspect there are a few volunteer categories I’ve
              forgotten about. Which is to say if you’ve got an idea about how you’d like to lend your talents to the project, you can send an
              email to us (<a href="mailto:volunteer@theciviccommons.com">volunteer@theciviccommons.com</a>), and we can certainly find a place
              for you.
              </p>
              <p>
              The other part of this is that volunteering for the Commons shouldn’t necessarily take a ton of your time (unless you want it to).
              If you’ve got ten minutes a week, we can use it. And it's worth pointing out at the risk of undermining this call for volunteers,
              that just participating in a conversation here or suggesting one that you think ought to be launched is a way to make your
              community stronger.
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/9">Dan Moulthrop</a> on November 03, 2010
            </div>

          </div>

          <div class="blog" id="outer_block_1">
            <h2>A Great Experiment</h2>
            <a href="http://social.theciviccommons.com/user/9">
              <img src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/9/large/Moulthrop1.jpg" class="blog-pic" alt="Dan Moulthrop" />
            </a>
            <div class='blog_inner'>
              <p>
              The CC team spent a beautiful Saturday afternoon recently at Cleveland State’s student center, participating in Spotlight
              Cleveland, an event organized by Senator Sherrod Brown’s office to bring together local organizations who have volunteer
              and networking opportunities for young professionals. We participated for all the reasons you’d expect us to participate—to
              connect with other organizations and interested citizens. But what really piqued our interest was the chance to see if we
              could use an unconventional setting—the ballroom expo—for unconventional civic engagement.
              </p>
              <p>
              Here’s what we did (and big ups to project directors Lia Lockert and Jason Russell for masterminding this effort):
              </p>
              <ol>
                <li>
                We commandeered a corner of the ballroom with two couches a couple of small tables, and, crucially, a small table lamp
                (for ambience).
                </li>
                <li>
                We invited people to sit down with complete strangers, pick a question out of a hat and talk about it.
                </li>
                <li>
                We recorded it.
                </li>
              </ol>
              <p>
              Here are a few things I noticed:
              </p>
              <ul>
                <li>
                People like to be asked their thoughts on issues that matter (in this case, questions were about what drives people to
                choose one community over another, and about the regional identity of this corner of the state)
                </li>
                <li>
                Conversations don’t really require a whole lot of active moderation
                </li>
                <li>
                Unconventional settings can be turned into surprising places for engagement.
                </li>
              </ul>
              <p>
              I’ve spent a lot of the last five years actively managing and moderating formal and informal conversations, and I was
              happily surprised to find that role was rendered almost irrelevant. In conversations, people naturally rise into roles,
              asking questions of one another and following up on one another’s comments. The conversations were civil and compelling;
              there was a diversity of perspectives, everyone participated. In some ways, this exemplified a lot of the principles we
              put at the center of our work here, the desire to strive to be diverse, participatory, civil, credible, transparent,
              entrepreneurial and optimistic.
              </p>
              <p>
              So, if part of the secret it seems is to set up opportunities and then get out of the way so people can just engage with
              one another, here’s the challenge: how do you do this online? How do you take one of our online conversations—whether they
              begin with a live event or not—and foster the same kind of self-directed energy we found with the participants at Spotlight
              Cleveland?
              </p>
            </div>

            <div class="post_info">
              posted by <a href="http://social.theciviccommons.com/user/9">Dan Moulthrop</a> on November 03, 2010
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
