<% content_for :main_body do %>
  <div class="feature-mast">
    <div class="wrapper">
      <div class="content-container">
        <h1>Help Build the Civic Commons</h1>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">

        <div class="form-block">
          <h2>Suggest a conversation or issue</h2>
          <p>What issues or topics are you interested in that aren't covered on the Civic Commons? Do you have a killer idea we should know about? What would you do to make Civic Commons easier to use? What tools or capabilities do you think should be added? We want to hear from you.</p>
          <p><a href="mailto:&#115;&#117;&#103;&#103;&#101;&#115;&#116;&#105;&#111;&#110;&#115;&#64;&#116;&#104;&#101;&#99;&#105;&#118;&#105;&#99;&#99;&#111;&#109;&#109;&#111;&#110;&#115;&#46;&#99;&#111;&#109;?subject=Suggest a Conversation/Issue" class="button">Make a Suggestion</a></p>
        </div>

        <div class="form-block">
          <h2>Volunteer your talents</h2>
          <p>Do you have a lot of enthusiasm and a little bit of time?  Are you an editor, writer, host, researcher, photographer, transcriber, developer, promoter, something else?</p>
          <p><a href="mailto:&#118;&#111;&#108;&#117;&#110;&#116;&#101;&#101;&#114;&#64;&#116;&#104;&#101;&#99;&#105;&#118;&#105;&#99;&#99;&#111;&#109;&#109;&#111;&#110;&#115;&#46;&#99;&#111;&#109;?subject=Volunteer" class="button">Volunteer to Help</a></p>
        </div>

        <div class="form-block">
          <h2>Report a bug</h2>
          <p>Did something break while you were using it?  Please let us know so that we can fix it.</p>
          <p><a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#116;&#104;&#101;&#99;&#105;&#118;&#105;&#99;&#99;&#111;&#109;&#109;&#111;&#110;&#115;&#46;&#99;&#111;&#109;?subject=Report a Bug" class="button">Report a Bug</a></p>
        </div>
      </div>

      <div class="aside supplementary">
        <div class="mod">
          <h3>Need some help?</h3>
          <div class="mod-content">
            <p>Check out our <a href="/faq">FAQ</a>, or <a href="/contact-us">contact us</a> for more help.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
