<% content_for :main_body do %>
  <div class="feature-mast">
    <div class="wrapper">
      <div class="content-container">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <p>Waiting for Content</p>
      </div>

      <div class="aside supplementary">
        <div class="mod">
          <h3>Have a Suggestion?</h3>
          <div class="mod-content">
            <p>Help us make the Civic Commons a better place by <a href="/build-the-commons">making a suggestion</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
