<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>FAQ</h1>

        <h2>Questions you may be asking</h2>

        <ul>
          <li><a href="#what-can-i-do-here">What can I do here?</a></li>
          <li><a href="#what-kind-of-action-can-i-suggest">What kind of action can I suggest?</a></li>
          <li><a href="#proxy-account">I've never been here but there's an account with my name&hellip; what's up with that?</a></li>
          <li><a href="#can-i-volunteer-at-the-civic-commons">Can I volunteer at the Civic Commons?</a></li>
          <li><a href="#so-youre-not-just-another-web-site">So, you're not just another website&hellip;</a></li>
          <li><a href="#isnt-this-just-more-talk">Isn't this just more talk?</a></li>
          <li><a href="#what-exactly-does-this-have-to-do-with-journalism">What exactly does this have to do with journalism?</a></li>
          <li><a href="#are-you-just-another-facebook">You mention social media. Are you just another Facebook?</a></li>
          <li><a href="#where-did-this-project-come-from">Where did this project come from?</a></li>
        </ul>

        <dl>
          <a name="what-can-i-do-here"></a>
          <dt>What can I do here?</dt>
          <dd>You can join any conversation you stumble across. And by join, we mean rate the contributions, make a contribution, respond to someone else's contribution, add some relevant information from another site, upload a video response to something you've read, or suggest an action.</dd>

          <a name="what-kind-of-action-can-i-suggest"></a>
          <dt>What kind of action can I suggest?</dt>
          <dd>An action could be almost anything related to the conversation. We're focused on the actions because we want the Commons to be about more than just talk. Not that talk's bad. It's just that talk that leads to a real outcome is way better. So maybe an action is bringing people together for a face-to-face meeting. Maybe it's a trip to see your mayor or a phone call to your state representative. It's whatever you think should happen next.</dd>

          <a name="proxy-account"></a>
          <dt>I've never been here but there's an account with my name&hellip; what's up with that?</dt>
          <dd>Some of the conversations here were begun at public events, where you probably participated, maybe by posing a question or making a comment. If you identified yourself when you did that, we went ahead and used your name in the transcript because we're big believers in transparency and giving people credit. If you'd like to claim your account, just send us an email <mail to link: support@theciviccommons.com>. If you'd like to correct our misspelling of your name, we can do that too! And when you claim your account, you get to choose the picture.</dd>
          
          <a name="can-i-volunteer-at-the-civic-commons"></a>
          <dt>Can I volunteer at the Civic Commons?</dt>
          <dd>
            Absolutely. We have a lot of volunteers donating their personal and professional talents in a variety of ways, from our advisory board and launch director to our friend Kurt who designed our logo. Send an email to 
            <a href='m&#97;ilto&#58;%76&#111;l%&#55;&#53;nt&#101;er&#64;th%6&#53;&#99;&#105;vi&#37;&#54;&#51;c&#111;%6Dmon%7&#51;&#46;co&#109;'>&#118;o&#108;unt&#101;er&#64;theciviccommons&#46;com</a>
            and tell us a little bit about you, and we'll follow up as quickly as we can.
          </dd>
          <dd>Also, you might want to check out where we wrote about this on the <a href="http://social.theciviccommons.com/content/cid=2">Common Blog</a>.</dd>

          <a name="so-youre-not-just-another-web-site"></a>
          <dt>So you're not just another web site&hellip;</dt>
          <dd>The Civic Commons is more than that. You'll see us and our programs in communities throughout the region, at town halls and public forums, working with many of the organizations you know are doing great work in your neighborhood. We'll use the Civic Commons as a way to bring live forums to more people across the region. You won't have to have been at the Akron Press Club or Mahoning Valley Chamber event to participate.</dd>
          <dd>Social media and other emerging technologies can make civic engagement both easier and more effective. If it helps, think of us as a news and information/social media mash-up, where what you do online can have a real impact in the world. (If the word mash-up means nothing to you, ignore what we just said.)</dd>

          <a name="isnt-this-just-more-talk"></a>
          <dt>Isn't this just more talk?</dt>
          <dd>That's a good question. What if it is? Is more talk necessarily a bad thing? Right now, one of the common complaints about how decisions are made is that the important talk happens behind closed doors. With your help, The Civic Commons will be the place for transparent and informed “talk” about how to handle the issues the region faces. Pick any example of a closed-door decision that bugs you. Lorain's income tax credit reduction, Akron's sewer privatization idea, Cuyahoga County's Med Mart--all these have bugged some in our community. With the Civic Commons, there's a persistent space for citizens to inform and engage one another on the issue and invite the decision-makers to be a part of the conversation.</dd>
          <dd>It's worth noting, too, that talk and conversation has the power to open minds and change attitudes and opinions. For as much flack as time-limited civic engagement efforts get for not leading to anything, they often plant seeds that bear fruit years down the road. Ten years ago, how many people inside and outside of government were thinking about sharing fire departments or costs on other municipal services? How many people were imagining Lake Erie might be a suitable location for a wind farm? Or that a shrinking population could be turned into an asset for a city? Or that anyone could both farm and sell vegetables without leaving the urban core? It all starts with informed conversation and building a community of citizens around an issue who are actually dedicated to making something happen.</dd>

          <a name="what-exactly-does-this-have-to-do-with-journalism"></a>
          <dt>What exactly does this have to do with journalism?</dt>
          <dd>Everything. We'll be experimenting with ways journalism can be participatory, where those who were traditionally informed readers and writers of letters to the editor can be involved in reporting, writing and analyzing the news. That means readers can decide what stories get covered--because with the right tools and training, they can report them. Our region has some incredible citizen-led journalistic efforts going on already. The Civic Commons doesn't want to compete with any of them. We want to collaborate with all of them, bring their work to an audience across Northeast Ohio, and make the hyper-local regionally significant.</dd>

          <a name="are-you-just-another-facebook"></a>
          <dt>You mention social media. Are you just another Facebook?</dt>
          <dd>No, but Facebook, Twitter, Flickr and all the other social media tools you know have demonstrated something very important within just a few years of their release. These technologies have the power to connect people in disparate and far-flung places, transcending geography to bring together people who share a common interest. We believe that same power can be directed toward civic good. Just think, what if everybody who ever filled out a survey comparing themselves to movie stars instead compared their views on the issues they cared about to those of the candidates running for office in their district? And what if they then told the people in their network what they learned in that survey? Call us crazy, but that sounds to us like it's got some real potential.</dd>

          <a name="where-did-this-project-come-from"></a>
          <dt>Where did this project come from?</dt>
          <dd>Way back when news organizations were still debating whether to allow their reporters to join Facebook, the folks at The Fund for Our Economic Future got to wondering if there was some way to use social media and journalism to bring more people together to focus on the issues affecting the whole region. They came up with a pretty cool idea and shared it with the Knight Foundation. Knight liked it, and eventually, they decided to team up and to fund this thing called The Civic Commons.</dd>
          <dd>There is, right now, a wave of these kind of technology-enhanced civic engagement projects happening all over the country--wikis for cities, games for community planning, networks for solving global problems. And they're being led by big corporations like Microsoft and small start ups like us. What's happening with the Civic Commons and the Knight Foundation puts Northeast Ohio on a national stage. (It's going to be pretty cool to see what we do with that stage.)</dd>
          <dd>A couple of important things about us: we're issue agnostic and outcome agnostic. That means we don't take stances as an organization and we're not here to push anyone's agenda. We're here to provide a place for informed conversation to happen and to lead to action. What those conversations are focused on and what action they lead to is up to the participants.</dd>
          <dd>That said, we're all citizens, too. So we'll have opinions on topics and we'll share them transparently. </dd>
      </div>
    </div>
  </div>
<% end %>

