<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>In The News</h1>

        <div class="in-the-news-post">
          <p class="date">1/27/11</p>
          <h2>
            <a href="http://www.ideastream.org/soi/entry/38242" target="_blank">Changing Gears: Regional Prosperity</a>
          </h2>
          <p>The Civic Commons was mentioned in this Sound of Ideas broadcast discussing how regionalism and government collaboration in Northeast Ohio could contribute to progress in our corner of the state.</p>
          <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">1/6/11</p>
          <h2>
            <a href="http://www.akronist.com/News/Akron-residents-vent-concerns-to-deputy-mayor-at-mobile-town-hall-event.html" target="_blank">Akron Residents Vent Concerns to Deputy Mayor at Mobile Town Hall Event</a>
          </h2>
          <p>Three different news outlets (the <a href="http://www.akronist.com/News/Akron-residents-vent-concerns-to-deputy-mayor-at-mobile-town-hall-event.html" target="_blank">Akronist</a>,
            <a href="http://www.ohio.com/news/top_stories/112992674.html" target="_blank">Akron Beacon Journal</a> and <a href="http://www.wksu.org/news/story/27105" target="_blank">WKSU</a>) reported
            on The Civic Commons' first ever "Mobile Town Hall", an event which
            allowed citizens to speak one-on-one with Dave Lieberth, Deputy Mayor
            of Akron using Skype at the Akron Public Library.</p>
          <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">11/10/10</p>
          <h2>
            <a href="http://www.ideastream.org/soi/entry/32821" target="_blank">Making Do With Less</a>
          </h2>
          <p>Dan Moulthrop, The Civic Commons' Curator of Conversation, guest stars in a "Sound of Ideas" broadcast concerning the implications of the recent election on state budgeting and how citizens can contribute to the discussion around reshaping government.</p>
          <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">11/07/10</p>
          <h2>
            <a href="http://www.cleveland.com/opinion/index.ssf/2010/11/challenges_remain_after_electi.html" target="_blank">Challenges Remain After Election Day, But Solutions Do, Too: Dan Moulthrop</a>
          </h2>
          <p>In this op-ed, which ran in four different dailies
            (<a href="http://www.cleveland.com/opinion/index.ssf/2010/11/challenges_remain_after_electi.html" target="_blank">The Plain Dealer</a>,
            <a href="http://www.vindy.com/news/2010/nov/08/connecting-with-one-another-is-key/?newswatch" target="_blank">The Vindicator</a>,
            <a href="http://www.ohio.com/editorial/commentary/106840828.html" target="_blank">The Akron Beacon Journal</a> and
            <a href="http://www.cantonrep.com/opinion/x782438569/Lets-all-focus-on-restoring-civility-to-political-process" target="_blank">The Canton Repository</a>),
            Dan discusses the future and implications of civic engagement following election day.</p>
            <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">11/02/10</p>
          <h2>
            <a href="http://www.youtube.com/watch?v=WTIlSQJbi2Y" target="_blank">Dan Moulthrop Appears on the Playa T Show</a>
            <span class="source"><a href="http://www.youtube.com/" target="_blank">(Youtube)</a></span>
          </h2>
          <p>Former host of Sounds Of Ideas on 90.3 WCPN ideastream, Dan Moulthrop visits with
            Playa T and tells of his beginning working in the prison system,
            using the social media to bring about political and practical
            change and being sought out to head Civic Commons.</p>
          <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">10/21/10</p>
          <h2>
            <a href="http://www.freshwatercleveland.com/features/civiccommons102110.aspx" target="_blank">Q&amp;A: Dan Moulthrop and Noelle Celeste, Co-founders of Civic Commons</a>
            <span class="source"><a href="http://www.freshwatercleveland.com/" target="_blank">(Fresh Water Cleveland)</a></span>
          </h2>
          <p>Dan and Noelle explain the goals, direction and reasoning behind the Civic Commons.</p>
          <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">9/30/10</p>
          <h2>
            <a href="http://www.freshwatercleveland.com/features/iliveheremarccanter.aspx" target="_blank">I Live Here (Now): Marc Canter</a>
            <span class="source"><a href="http://www.freshwatercleveland.com/" target="_blank">(Fresh Water Cleveland)</a></span>
          </h2>
          <p>Marc Canter discusses his involvement with the Civic Commons and
            his "People Aggregator" product.</p>
          <p class="decoration">.</p>
        </div>

        <div class="in-the-news-post">
          <p class="date">7/31/10</p>
          <h2>
            <a href="http://www.cleveland.com/tipoff/index.ssf/2010/07/wcpn_radios_sound_of_ideas_hos.html" target="_blank">WCPN Radio's "Sound of Ideas" Host, Dan Moulthrop Departs for Civic Engagement  Project</a>
            <span class="source"><a href="http://www.cleveland.com/plaindealer/" target="_blank">(The Plain Dealer)</a></span>
          </h2>
          <p>Dan Moulthrop on leaving WCPN for a full time position at The
            Civic Commons.</p>
          <p class="decoration">.</p>
        </div>

      </div>
    </div>
  </div>
<% end %>
