<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">

        <h2>The Civic Commons</h2>
        <p>The Civic Commons is a regional, civic start-up that is building a civic engagement utility to serve civic leaders, community institutions and the growing desire of citizens to be engaged and empowered on key civic decisions. The Civic Commons is online combining social media, visualizations, and gaming components, and in the community supporting media and civic engagement (e.g. newspapers, radio, public meetings, grassroots organizing).</p>
        <p>The mission of The Civic Commons is to:</p>
        <p>"Build conversations and connections that have the power to become informed, productive, and collective civic action."</p>
        <p>The Civic Commons was formed in early 2010 and formally launched in July as a partnership between the Fund for Our Economic Future, the John S. and James L. Knight Foundation, and Kent State University.  While initially focused on Northeast Ohio, it is expected that The Civic Commons can become a national model for connecting individuals to civic issues through engaged community conversations.</p>
        <p>The Civic Commons is currently beta-testing its technology environment and is working on pilot projects with civic institutions.  A more formal and extensive launch of the program is expected in mid-to-late 2011.</p>

        <h1>Operations and Communications Coordinator</h1>

        <p>
          The Civic Commons is looking for an ambitious and talented individual as its next
          <strong>Operations and Communications Coordinator</strong>! Check out the job description below.
          Cover letters and resumes are due by April 1st. Please send all materials to Mike Shafarenko (<a href="mailto:mikeshafarenko@theciviccommons.com">mikeshafarenko@theciviccommons.com)</a>.
        </p>

        <h2>Position Description</h2>
        <p>The Operations and Communications Coordinator will provide a variety of organizational and communications support to the Civic Commons ("CC") leadership team and other key staff. This individual will:</p>
        <ul>
          <li>facilitate internal and external communications</li>
          <li>manage contact and other informational databases</li>
          <li>coordinate all CC offices and scheduling</li>
          <li>assist with financial/accounting processes</li>
          <li>conduct research to add as content to the site</li>
          <li>assist with transcribing video content and uploading content to the site</li>
          <li>manage a variety of CC vendors</li>
          <li>contribute directly to the implementation of specific The Civic Commons projects</li>
        </ul>
        <p>This individual will also serve as "air traffic control" for interactions with various Civic Commons stakeholders, including the CC Leadership, Board of Directors, funders, media/organizational partners, CC users/participants and a diverse array of regional civic organizations, leaders, and investors.</p>
        <p>The selected candidate will have the opportunity to work in an innovation-driven environment with other ambitious and talented individuals. She or he will be responsible for helping to create and maintain a culture of creative risk-taking, rapid innovation, personal responsibility, public responsiveness and fun in The Civic Commons organization.</p>

        <h2>Candidate Characteristics</h2>
        <p>The Operations and Communications Coordinator is an enthusiastic, self-motivated, responsive multi-tasker. To succeed in this position, you must demonstrate excellent written and oral communications skills, strong personal initiative and attention to detail, independent work habits and motivation, as well as proficiency with both basic office productivity software and online research and collaboration tools. You seek critical feedback because you know teamwork is how good ideas become great. You also know how to give that same kind of constructive criticism. You’re not afraid of technology and you enjoy finding out if there’s a way to do something more effectively or more efficiently. Because The Civic Commons is based, in part, on the desire to explore how social media and emerging technology can mobilize the public to engage with information and each other, you also need to be comfortable with a wide range of online technology (especially innovative forms of social networking).</p>

        <h2>Minimum Qualifications</h2>
        <ul>
          <li>Bachelor’s degree</li>
          <li>Experience related to this position</li>
          <li>Familiarity with Google and Microsoft-related productivity tools (e.g. Calendar, Spreadsheets, Documents, Powerpoint) and Mac computers</li>
          <li>Insanely great organizational skills</li>
        </ul>

        <h2>Accountablility</h2>
        <p>The Operations and Communications Coordinator will report to the President of the Civic Commons, but will work directly with various key staff members.</p>

        <h2>Compensation</h2>
        <p>We’re a philanthropically funded start-up, so we have to invest thoughtfully. The salary will be competitive, and for the right candidate, we’ll probably all agree it’s a fraction of what you’re worth, but the best we can do.</p>

        <h2>Timetable</h2>
        <p>This position is a contract hire to begin as soon as possible.</p>

        <h2>Application Process</h2>
        <p>Interested candidates should send a resume and cover letter to: <%= mail_to "mikeshafarenko@theciviccommons.com" %></p>

      </div>
    </div>
  </div>
<% end %>
