<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">

        <h2>The Civic Commons</h2>
        <p>The Civic Commons is a regional, civic start-up that is building a civic engagement utility to serve civic leaders, community institutions and the growing desire of citizens to be engaged and empowered on key civic decisions. The Civic Commons is online combining social media, visualizations, and gaming components, and in the community supporting media and civic engagement (e.g. newspapers, radio, public meetings, grassroots organizing). </p>
        <p>The mission of The Civic Commons is to <em>build conversations and connections that have the power to become informed, productive, and collective civic action.</em></p>
        <p>The Civic Commons was formed in early 2010 and formally launched in July as a partnership between the Fund for Our Economic Future, the John S. and James L. Knight Foundation, and Kent State University Foundation.  While initially focused on Northeast Ohio, it is expected that The Civic Commons can become a national model for connecting individuals to civic issues through engaged community conversations and other interactive engagement activities.</p>
        <p>The Civic Commons is currently beta-testing its technology environment and is working on pilot projects with civic institutions and citizens.  A more formal and extensive launch of the program is expected in mid-to-late 2011.</p>

        <h1>Manager of Marketing, Communications &amp; Outreach</h1>

        <p>
          The Civic Commons is looking for an ambitious and talented individual as its next
          <strong>Manager of Marketing, Communications &amp; Outreach</strong>! Check out the job description below.
          This position is a contract hire to begin May 1, 2011. Please send all materials to Mike Shafarenko (<a href="mailto:mikeshafarenko@theciviccommons.com">mikeshafarenko@theciviccommons.com)</a>.
        </p>

        <h2>Position Description</h2>
        <p>The Manager of Marketing, Communications &amp; Outreach is a new position at The Civic Commons with a focus on implementing strategic marketing, communications and outreach tactics – and generally being awesome. The Manager is responsible for attracting and retaining users such as to grow the crowd at The Civic Commons; generating visibility and managing brand and messaging in the region; encouraging citizens and organizations to engage through The Civic Commons; and supporting engagement services by helping partners connect with key stakeholders and citizens to effectively meet the partner’s engagement needs.  On a day-to-day basis, this person will work with and manage the work of the Operations and Communications Coordinator to fulfill all marketing, communications, and outreach responsibilities. </p>
        <p>Specific responsibilities for this position include (but are not limited to): </p>
        <p>
        <strong>Marketing &amp; Communications</strong>
        <ul>
          <li>Lead development and implementation of market strategy (e.g., the marketing plan) including the mix of viral marketing, PR, advertising, channel usage, pricing, and promotions </li>
          <li>Create a “viral marketing” plan that uses social media, community, and media partners to grow awareness and users</li>
          <li>Manage and implement the marketing launch plan</li>
          <li>Lead the creation of collateral and centralized communications materials for use by the Civic Commons team when engaging with any stakeholders and community members</li>
          <li>Ensure a strong, well-written and well-read blog </li>
          <li>Lead market research where needed</li>
        </ul>
        </p>
        <p>
        <strong>Outreach</strong>
        <ul>
          <li>Cultivate and manage relationships with community and media organizations to increase public awareness, add active users and attract engagement services clients.  </li>
          <li>Manage public speaking opportunities for, primarily, the President and Curator of Conversation – this includes sourcing opportunities, making sure appropriate presentations are developed, and that appropriate collateral materials are being disseminated. </li>
          <li>Manage Civic Commons’ initiated community activities such as public forums, small-group meetings, etc. – this includes working with the Operations and Communications Coordinator to secure all necessary logistics for meetings and making sure these activities provide a unique and exciting engagement experience for participants. </li>
          <li>Manage internal/external communications processes for key Civic Commons’ stakeholders, including funders, Board members, media/community partners, registered users, Facebook/Twitter followers, engagement services clients, etc. This work includes specifying stakeholder groups, overseeing accuracy of contact lists, developing written copy for communications, and establishing appropriate timelines for delivery of communications to various stakeholders. </li>
        </ul>
        </p>
        <p>
        <strong>Organizational</strong>
        <ul>
          <li>Lead the preparation of written materials for RFPs for engagement services clients or grant applications </li>
          <li>Assist staff with managing projects </li>
          <li>Support a culture of creative risk taking, rapid innovation, personal responsibility, public responsiveness and fun</li>
        </ul>
        </p>

        <h2>Candidate Characteristics</h2>
        <p>The Manager of Marketing, Communications and Outreach is an enthusiastic, optimistic, self-motivated, responsive multi-tasker. To succeed in this position, the candidate must demonstrate <strong><em>excellent</em></strong> written and oral communications skills, strong personal initiative and attention to detail, independent work habits and motivation. </p>
        <p>The ideal candidate possesses a balanced mix of creativity and an orientation to get things done. The ability to use new technologies and collaboration-based software tools is essential to this position and working at The Civic Commons. Because The Civic Commons is based, in part, on the desire to explore how social media and emerging technology can mobilize the public to engage with information and each other, the candidate needs to be comfortable with a wide range of online technology (especially innovative forms of social networking). We practice what we preach! </p>

        <h2>Minimum Qualifications</h2>
        <ul>
          <li>Bachelor’s degree, preferably in a field related to Marketing or Communications. </li>
          <li>Minimum five years of related experience. </li>
          <li>Familiarity with Google and Microsoft-related productivity tools (e.g. Calendar, Spreadsheets, Documents, Powerpoint) and Mac computers. Ability to use Prezi and other innovative marketing/communications tools is a huge plus. </li>
          <li>Hard work ethic, outgoing personality, comfortable in a flexible, fast-paced work environment</li>
        </ul>

        <h2>Accountablility</h2>
        <p>The Manager of Marketing, Communications &amp; Outreach will report to the President of the Civic Commons, but will work closely with the Curator of Conversation and Director of Engagement to fulfill The Civic Commons’ objectives. </p>

        <h2>Compensation</h2>
        <p>We’re a philanthropically funded start-up, so we have to invest thoughtfully. The salary will be competitive, and for the right candidate, we’ll probably all agree it’s a fraction of what you’re worth, but the best we can do.</p>

        <h2>Timetable</h2>
        <p>This position is a contract hire to begin May 1, 2011.</p>

        <h2>Application Process</h2>
        <p>Interested candidates should send a resume and cover letter to our President, Mike Shafarenko at: <%= mail_to "mikeshafarenko@theciviccommons.com" %></p>

      </div>
    </div>
  </div>
<% end %>
