<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>Partners</h1>

        <p>Thanks to our Partners in Principle who believe that the mission and principles of Civic Commons can help strengthen civic engagement in Northeast Ohio.</p>
        <p>Want to know more about becoming a Partner in Principle? Let us know and we'll fill you in.</p>

        <h2>Partners in Principle</h2>

        <ul>
          <li><a href="https://www.akroncommunityfdn.org/">Akron Community Foundation</a></li>
          <li><a href="http://admc.ohio.com">Akron Digital Media Center</a></li>
          <li><a href="http://www.amatsplanning.org">Akron Metropolitan Area Transportation Study</a></li>
          <li><a href="http://www.alpl.org/">Avon Lake Public Library</a></li>
          <li><a href="http://www.braintreepartners.org/">Braintree</a></li>
          <li><a href="http://www.slavicvillage.org/">Broadway Slavic Village P-16</a></li>
          <li><a href="http://cat-strat.com">CatStrat</a></li>
          <li><a href="http://www.c4fc.org/">Center for Families &amp; Children</a></li>
          <li><a href="http://www.stdominicchurch.net/">Church of St. Dominic</a></li>
          <li><a href="http://www.cityclub.org">City Club of Cleveland</a></li>
          <li><a href="http://www.chnnet.com">Cleveland Housing Network</a></li>
          <li><a href="http://www.icleveland.org">Cleveland Leadership Center</a></li>
          <li><a href="http://www.clevelandpublicart.org/">Cleveland Public Art</a></li>
          <li><a href="http://www.peoplewhocare.org/">Community Foundation of Lorain</a></li>
          <li><a href="http://www.compelcom.com/ ">Compelling Communications</a></li>
          <li><a href="http://www.tri-c.edu/">Cuyahoga Community College (Metro Campus)</a></li>
          <li><a href="http://www.cuyahoga.lib.oh.us/">Cuyahoga County Public Library</a></li>
          <li><a href="http://www.deacomfdn.org/">Deaconess Community Foundation</a></li>
          <li><a href="http://www.diversitycenterneo.org">Diversity Center</a></li>
          <li><a href="http://www.easternohiop16.org/">Eastern Ohio P-16 Partnership for Education</a></li>
          <li><a href="http://www.elyria.lib.oh.us/">Elyria Public Library</a></li>
          <li><a href="http://www.facinghistory.org/">Facing History and Ourselves</a></li>
          <li><a href="http://foundationcenter.org/cleveland">Foundation Center Cleveland</a></li>
          <li><a href="http://www.glideit.org/">GLIDE</a></li>
          <li><a href="http://www.graftonpl.lib.oh.us/">Grafton-Midview Public Library</a></li>
          <li><a href="http://www.gcpartnership.com/">Greater Cleveland Partnership</a></li>
          <li><a href="http://www.greaterakronchamber.org/">Greater Akron Chamber</a></li>
          <li><a href="http://www.gcbl.org/ ">GreenCityBlueLake Institute</a></li>
          <li><a href="http://www.lakron.com/">Leadership Akron</a></li>
          <li><a href="http://www.leadershiploraincounty.com">Leadership Lorain County</a></li>
          <li><a href="http://www.csuohio.edu/">Levin College of Urban Affairs, CSU (Levin)</a></li>
          <li><a href="http://www.mahoningcountyoh.gov/DepartmentsAgencies/Departments/Treasurer/LienForwardOhio/tabid/1230/Default.aspx">Lien Forward Ohio</a></li>
          <li><a href="http://www.lorainccc.edu">Lorain County Community College</a></li>
          <li><a href="http://www.mvorganizing.org/">Mahoning Valley Organizing Collaborative</a></li>
          <li><a href="http://www.motivasians.org/">MotivAsians for Cleveland</a></li>
          <li><a href="http://www.naacp.org/">NAACP Cleveland</a></li>
          <li><a href="http://www.neighborhoodgrants.org/">Neighborhood Connections</a></li>
          <li><a href="http://www.neighborhoodprogress.org/">Neighborhood Progress</a></li>
          <li><a href="http://www.nordff.org">Nord Family Foundation</a></li>
          <li><a href="http://www.ohiohistorycentral.org">Northeast Ohio Hispanic Chamber of Commerce</a></li>
          <li><a href="http://www.gcbl.org/blog/marc-lefkowitz/oberlin-project-gets-leed-nd-nod">Oberlin Project</a></li>
          <li><a href="http://www.ocnw.org">Ohio City Near West Development Corp</a></li>
          <li><a href="http://www.oneillfdn.org">O'Neill Foundation</a></li>
          <li><a href="http://www.policy-bridge.org/">Policy Bridge</a></li>
          <li><a href="http://www.libraryvisit.org/">Public Library of Youngstown &amp; Mahoning County</a></li>
          <li><a href="http://www.neo-rpi.org/">Public Service Institute</a></li>
          <li><a href="http://www.neo-rpi.org/">Regional Prosperity Initiative</a></li>
          <li><a href="http://saintlukesfoundation.org">Saint Luke's Foundation</a></li>
          <li><a href="http://www.savingcities.com/">Saving Cities</a></li>
          <li><a href="http://www.sistersofcharitysc.com/">Sisters of Charity Foundation of Canton</a></li>
          <li><a href="http://www.slavicvillage.org">Slavic Village Development</a></li>
          <li><a href="http://www.teamloraincounty.com/">Team Lorain County</a></li>
          <li><a href="http://www.gundfdn.org">The George Gund Foundation</a></li>
          <li><a href="http://www.thirdfederal.com">Third Federal Foundation</a></li>
          <li><a href="http://www.trinitycleveland.org">Trinity Cathedral</a></li>
          <li><a href="http://www.universitycircle.org">University Circle Inc.</a></li>
          <li><a href="http://www.upakron.com">University Park Alliance</a></li>
          <li><a href="http://www.wayne.lib.oh.us">Wayne County Public Library</a></li>
          <li>Wayne Growth Partnership</li>
          <li><a href="http://www.younglatinonetwork.org">Young Latino Network</a></li>
          <li><a href="http://www.ybi.org/">Youngstown Business Incubator</a></li>
        </ul>

        <h2>Media Partners</h2>

        <ul>
          <li><a href="http://www.ohio.com/">Akron Beacon Journal</a></li>
          <li><a href="http://www.cantonrep.com/">Canton Repository</a></li>
          <li><a href="http://chronicle.northcoastnow.com/">Elyria Chronicle Telegram</a></li>
          <li><a href="http://www.heightsobserver.org/">Heights Observer</a></li>
          <li><a href="http://www.ideastream.org/">Ideastream</a></li>
          <li><a href="http://www.indeonline.com/">Independent Massillon</a></li>
          <li><a href="http://www.lakewoodobserver.com">Lakewood Observer</a></li>
          <li><a href="http://www.morningjournal.com">Lorain Morning Journal</a></li>
          <li><a href="http://www.wysu.org">News Outlet/WYSU</a></li>
          <li><a href="http://thesuburbanite.com/">Suburbanite</a></li>
          <li><a href="http://www.plaindealer.com/">The Plain Dealer</a></li>
          <li><a href="http://www.timesreporter.com/">Times Reporter</a></li>
          <li><a href="http://westernreservepublicmedia.org/">Western Reserve Public Media</a></li>
          <li><a href="http://www.wjcu.org/">WJCU</a></li>
          <li><a href="http://www.wksu.org/">WKSU</a></li>
          <li><a href="http://www.vindy.com/">Youngstown Vindicator</a></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

