<div id="headline">
  <h1>What would happen if we all spent just ten minutes listening to each other?</h1>
</div>

<div class="aside supplementary">
  <object width="280" height="182"><param name="movie" value="http://www.youtube.com/v/HYAUJU921zw?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/HYAUJU921zw?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="280" height="182"></embed></object>

  <p></p>
  <p><a href="http://www.flickr.com/photos/civiccommons/sets/72157625550814356/">View Poster Submissions &rarr;</a></p>
</div>

<div id="main-column">
  <p>The Civic Commons poster contest is your chance to show us what "Join the Conversation" means to you.</p>
  <p>This contest is open to everyone. To enter please use any 11x17 surface to creatively express your interpretation. The rest is up to you. You can illustrate with crayons, markers, paint, your trusty ballpoint pen, spray paint, recycled materials, Adobe design software - whatever suits you.</p>
  <p><strong>Five winners will be voted on by the Civic Commons and will receive $500 prizes and be used in future promotional materials.</strong></p>
  <p><strong>Be sure to submit your entry by January 31, 2011.</strong> You can email it to <a href="mailto:posters@theciviccommons.com">posters@theciviccommons.com</a> or mail or deliver it to:</p>

  <address>
    The Civic Commons<br />
    1 South Main Street, Suite 302<br />
    Akron, OH  44308
  </address>    
  
  <p>or</p>

  <address>
    The Civic Commons<br />
    1360 E. 9th Street, Suite 210<br />
    Cleveland, OH 44114
  </address>

  <p>For each entry, please include your name, email address, phone number, mailing address and a one-line description of your poster.</p>

  <p>An email will be sent confirming the receipt of all physical submissions.</p>

  <p>
    We can't wait to see what you come up with&hellip;
  </p>
</div>
