<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>In the News</h1>

        <p>Waiting for content&hellip;</p>
      </div>
    </div>
  </div>
<% end %>

