<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">

        <h1>Mission & Principles</h1>

        <p><strong>
          The mission of the Civic Commons is to build conversations and connections that have the power to become informed, productive 
          collective civic action. 
        </strong></p>

        <%= render :partial => "principles_list" %>
      </div>
    </div>
  </div>
<% end %>

