<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>The Team</h1>

        <p>Waiting for content from Lisa.  Markup in dropbox is incorrect.</p>
      </div>
    </div>
  </div>
<% end %>


