<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>The Team</h1>

        <h2>Marc Canter</h2>
        <p>
          <strong>Name:</strong> Marc Canter<br />
          <strong>Hometown:</strong> South side of Chicago<br />
          <strong>Current community:</strong> Shaker Square
        </p>

        <dl>
          <dt>What are you doing for Civic Commons?</dt>
          <dd>I'm helping to invent it - and build it - and then maintain and grow it - and evolve - all the while listening carefully to the needs of the citizens.  Some call me a CTO.</dd>

          <dt>Why did you lend your talents to this project</dt>
          <dd>'Cause it needed to get built - it needs to happen - Citizens need to be empowered to take their destiny into their own hands and control their future!?</dd>

          <dt>What do you hope Civic Commons can do?</dt>
          <dd>Reduce bureaucracy, provide a sustainable future, get access for us citizens to the Lakefront, make the process of workforce development more efficient (use the money better), bring people here to NEO, connect all the city states of NEO - together, encourage creativity and design and create LOTS of jobs!</dd>
        </dl>
      </div>
    </div>
  </div>
<% end %>


