<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>The Team</h1>

        <h2>Michael Val Shafarenko*</h2>
        <p class="job-title">President</p>
        <p>Mike was part of the small group inside the Fund for Our Economic Future that conceived of the idea that became the Civic Commons. He comes to the Commons after three years at the Fund where he managed finance and operations and ran the EfficientGovNow project, a grant contest that accelerated local government collaboration and efficiency throughout Northeast Ohio. Mike grew up in St. Louis and came to Cleveland where he studied at Case Western Reserve University. He lives on Cleveland's west side in the Edgewater neighborhood, where he keeps his neighbors awake practicing the electric bass into the wee hours.</p>
        <p>Mike's been with the Civic Commons since the beginning, and he says he's excited "to figure out how to use new media and networking tools to collectively reimagine democracy in the 21st century."</p>

        <h2>Noelle Celeste*</h2>
        <p class="job-title">Director of Engagement</p>
        <p>Noelle is a Yale graduate who returned home to Northeast Ohio as a community organizer, development consultant and social entrepreneur. Her diverse breadth of work includes stints as one of City Year's first Local Directors, Corporate Relations Director at ideastream, Director of Marketing &amp; Community Relations at MOCA; regional marketing manager for the Film Festival; campaign manager for countywide Health and Human Service &amp; Public Library funding issues; and principle of her own consulting business. Noelle is a board member or founder of several recent community start-ups, including Bulldogs on the Cuyahoga and Cleveland Colectivo.</p>
        <p>Explaining why she joined the project, Noelle says, "I like working on challenging new ideas with amazing people and Civic Commons has the potential to support the work of so many great people. Plus, I wanted to challenge myself to get to know my region well beyond Cuyahoga County, which judged by the number of miles I'm putting on my car is definitely the case with this gig."</p>

        <h2>Dan Moulthrop*</h2>
        <p class="job-title">Curator of Conversation</p>
        <p>An award-winning journalist, author, former teacher and a California transplant, Dan joined the Civic Commons after five years at ideastream as host of 90.3 WCPN's The Sound of Ideas. In his last year, the program was named the best local public affairs program in the nation by the Public Radio News Directors. Dan is the co-author (with Ninive Calegari and Dave Eggers) of Teachers Have it Easy: The Big Sacrifices and Small Salaries of America's Teachers (New Press, 2005), a book that foreshadowed the current national debate over teacher accountability and compensation.</p>
        <p>Dan joined The Civic Commons because "it's an opportunity to figure out how to make journalism more relevant to more people and to bring those people into the conversations that have the power to make our corner of the state a little stronger. How could I not want to be a part of that?"</p>

        <h2>Jerry D'Antonio*</h2>
        <p class="job-title">Director of Software Development</p>
        <p>Jerry has been helping to build the web since the mid-90's. He experienced both the boom and the bust of the Internet bubble first hand. It was the bust that brought Jerry back to the region of his early youth and he now happily resides in Akron. During his time as a software developer Jerry has worked at small startups and big established companies; he has worked with tools from all the big names including Microsoft, Sun/Oracle, and Apple as well as numerous open source technologies; he has built web sites in industries as diverse as education, banking, and public broadcasting. Most recently Jerry worked as the Director of Web Technology at WVIZ/PBS &amp; 90.3 WCPN ideastream where he helped develop the current web strategy and directed the design and construction of their current web infrastructure. Jerry also holds part-time faculty positions at two universities where he teaches software engineering at the graduate and undergraduate level. Jerry is a proud veteran of the US Navy where he was stationed on the amphibious ship USS Duluth LPD-6.</p>
        <p>When asked why he joined the project Jerry responded, "The Civic Commons is the perfect intersection of two of my passions: building the web and promoting my community. Akron is my home. My wife and I believe strongly in the responsibility of every citizen to make their home a better place. Managing the web/software development team at the Civic Commons allows me to help build something I believe will be of great benefit to Akron and the entire NE Ohio region.”</p>

        <h2>Lia Lockert*</h2>
        <p class="job-title">Project Director</p>
        <p>Lia has recently returned to her hometown of Peninsula after a number of years producing documentaries, wrangling feature film crews, observing international elections, organizing political campaigns, and making mischief on a global scale, as well as picking up a graduate degree at Johns Hopkins.</p>
        <p>She's happy to be back home. "We're fortunate to live in one of the most resource-rich areas of the country," Lia says, "and I'm excited to partner with people who believe in further strengthening NEO through positive thinking, innovative action and the sharing of ideas."</p>

        <h2>Jason Russell*</h2>
        <p class="job-title">Project Director</p>
        <p>A graduate of Cleveland State University's Levin College of Urban Affairs, Lehigh University and Hudson High School, Jason is one of the savviest and most successful young political campaign managers around, with two unlikely wins under his belt in two years in the profession. Jason has had a passion for urban planning from a young age, having spent a significant portion of his youth playing SimCity. Joining the Commons, he says, "offered me a unique opportunity to combine my passion for Northeast Ohio with the potential to create change."</p>

        <h1>Our Superfriends</h1>

        <p><strong>Becca Braun</strong> helped Civic Commons bring a bit more order to our creative chaos by providing short-term paid consulting for operations and business planning in 2010. She hopes the users of Civic Commons will create a new, 2.0 type of conversational engagement. That they will bring their ideas to a platform where they can have meaningful conversations, conversations that create change, like the town hall meeting of yesteryear.</p>

        <p><strong>Malissa Bodmann</strong> runs Compelling Communications, which helps a variety of clients meet strategic marketplace needs. A resident of Shaker Heights, Malissa volunteers as a leader on the Commons communications team. She says she "believes in the power of everyday people to improve their communities," and she thinks the Commons can be a vehicle for that.</p>

        <p><strong>Lisa Canter*</strong> is a native of Madison, WI, who moved to Cleveland just last year and loves it! She's stepped in to project manage the website application into existence. Always interested in media and the web, she's enjoying the challenge of launching Civic Commons and hopes it becomes an effective tool and media destination, that helps people communicate in meaningful ways that affect constructive change in our communities. Lisa is currently providing quality assurance testing support.</p>

        <p><strong>Christopher Celeste</strong> is a champion of good ideas and innovation, an entrepreneur who, since he left advertising years ago, has launched and helped to launch a diverse group of companies and organizations. He served as our Volunteer Launch Director in 2010.</p>

        <p><strong>Parama "Perry" Danoesubroto*</strong> grew up in Jakarta, Boston and Chicago and makes his home now in Toronto, Ontario. He is working on the code that supports the commons and describes himself as "passionate about building social media related technologies." He says he hopes the Commons can become "the de-facto standard in which people can interact with their government easily, just like people interacting with others on Facebook."</p>

        <p><strong>Luke Frazier*</strong> is the principal at NOW productions, a multi media production company. He is working with the Commons and WJCU to produce a weekly program and podcast. He makes his home in Cleveland Heights.</p>

        <p><strong>Parag Jagdale*</strong> is a coding wizard from Wooster, capable of aligning disparate technologies, which actually explains his interest in this project. The Commons, he says, "connects disconnected voices, opinions or issues together. I am a fan of diversity, collaboration and openness and the Civic Commons' goals are parallel with mine."</p>

        <p><strong>Krystin Jarrell</strong> is a recent graduate of Eastern Michigan University and the Akron Digital Media Center's citizen journalism program. She has been helping the Civic Commons recruit and organize citizen journalists.</p>

        <p><strong>Erica Jones</strong> was a part of the launch team providing crucial day-to-day support coordination as paid executive assistant to the entire Commons team. Erica is a Dayton native, a recent graduate of Smith College, and a Summer on the Cuyahoga alum, who is now living in Japan participating in a one-year fellowship. Erica has big dreams for the Commons. "I hope that the Civic Commons helps revitalize people's hopes for Cleveland and region," she says, "and that the idea of civic engagement becomes a more tangible reality for every community in Northeast Ohio."</p>

        <p><strong>Chris Jungjohann</strong> recently left the 9-5 world to start up the digital agency, Recess Creative, teach design at Tri C, and even while doing that, he managed to eke out time to do some paid work to make sure our web site is well-designed. He is formerly an associate creative director at Rosetta and also worked at Melamed Riley advertising. The Civic Commons, he says is "a one-of-a-kind experience,… a great opportunity to be a part of something special." Chris offered his design talents to help us create final graphics for the launch of our website.</p>

        <p><strong>Jonathan Knapp*</strong> of Wadsworth provides key programming support linking the various aspects of the Commons.</p>

        <p><strong>Kurt Pettit</strong> designed our logo. He is one of the first volunteers to join the Civic Commons. When he's not answering pesky emails from us, he runs the design team at Findaway World or designing neat devices to make the world both prettier and easier to use. He grew up in Bridgeport, and has bounced around Greater Cleveland, now making his home in Mayfield Heights. He says he hopes the Commons "can help Northeast Ohio become a viable community and prosper."</p>

        <p><strong>Josh Schramm</strong> of Eastlake was smitten by the chance to work on a significant coding challenge that has the end goal of exposing citizens online to civic issues.</p>

        <p><strong>Brian Stack</strong> is a student at Case Western Reserve University working on the code that makes the Commons possible. He says he hopes the project "can improve communication and increase activism among citizens."</p>

        <p><strong>Graham Veysey*</strong> is a talented writer, multi-media producer and civic activist who contributes his creative genius to various Commons projects, including our hand-crafted introductory videos. "Northeast Ohio has a great story to tell," he says, "and Civic Commons will be a great platform to bring people together to tell that story."</p>

        <p><strong>Josh Walsh*</strong> is the only piano instructor employed by Civic Commons. He's also the guy responsible for helping us design how the site feels and works. Josh makes his home in North Ridgeville and he says he hopes the Commons will help bring better leadership to our corner of the state. "The beliefs and opinions of its residents are valuable to improving the economy in our region," Josh says, "This project will give the community a voice."</p>

        <p><strong>Marc Canter</strong> is CEO of Digital City Mechanics (DCM) and is a more than 25-year veteran of the software business. Marc was the original founder of a company called MacroMind which became Macromedia [MACR]. In that regard, you could say Marc was instrumental in giving birth to the multimedia industry. Marc has recently moved from California to the Northeast Ohio area to launch DCM and pursue a PhD in "How to Create New Kinds of Jobs." Marc helped us begin to envision the web environment for the Civic Commons and recruited great developers to bring that vision to life.</p>

        <h1>Other designers, developers, and testers who helped make the Civic Commons possible</h1>

        <ul>
          <li>Owen Bell</li>
          <li>Brad Dielman*</li>
          <li>Tom Dooner</li>
          <li>Joe Fiorini</li>
          <li>Priyanka Jagdale*</li>
          <li>Steve Schwartz*</li>
          <li>Joseph Sheppa*</li>
          <li>Len Smith</li>
          <li>Kevin Solorio*</li>
          <li>Max Thom Stahl</li>
          <li>Winston Tsang*</li>
          <li>Jeff Zellman</li>
        </ul>

        <h3>* denotes those that are currently paid members of the Civic Commons team either at a full-time capacity or as independent contractors.</h3>

      </div>
    </div>
  </div>
<% end %>
