<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <h1>Rules of Engagement</h1>

        <p>
        Civic Commons is intended to be a place where informed conversations can help citizens throughout Northeast Ohio connect to each other and to reliable information about issues that matter. We believe these connections can strengthen our social fabric by creating communities of shared interest that can imagine new solutions and build a stronger region. Of course often when people come together to discuss issues and to take action, the conversation can become heated. To keep our conversations productive, here are a few rules of engagement. Ultimately, we are all responsible for maintaining a respectful environment, but if one of these lines is crossed, we will step in.
        </p>

        <h2>
          Attacks
        </h2>

        <p>
        We don’t tolerate hateful comments against individuals or groups. We are a diverse community with different experiences and backgrounds and we respect those differences. Hate speech and personal attacks have no place at The Civic Commons. Remember, we’re here to tackle the issues, not each other. 
        </p>

        <h2>
          Spamming
        </h2>

        <p>
        Don’t promote commercial interests here through your posts and comments. No one likes when a telemarketer calls during dinner, and well, they like you even less when you pollute a non-commercial space with your promotions.
        </p>

        <h2>
          Plagiarism
        </h2>

        <p>
        We respect the facts and where they come from. We encourage you to bring in outside resources to inform conversations, but be sure all sources are cited, and never claim something as your own that rightfully belongs to someone else. Please be sure not to post any unlicensed photos and videos as well.
        </p>

        <h2>
          Obscenity
        </h2>

        <p>
        Some of us never really figured out how to get attention without shocking people—please don’t use that strategy here at Civic Commons. We give you a moment to review your comments before they are posted. Use it. We’re not interested in contributions that could be seen as libelous, obscene, pornographic, racist, sexist, homophobic, etc. Find a constructive way to make your point or keep it to yourself.
        </p>

        <h2>
          Identity
        </h2>

        <p>
        Speaking of yourself, we don’t do anonymity. That also means we expect you to represent yourself and not impersonate others or make false or misleading statements about your knowledge or experience.
        </p>

        <h2>
          Accountability
        </h2>

        <p>
        We appreciate the fact that you’ve joined The Civic Commons community and we agree not to sell your email address or other information connected to your profile.
        </p>

        <p>
        As a Civic Commons participant, know that you are solely responsible for what you share here. Although we receive support from the Fund for Our Economic Future and Knight Foundation, all comments and contributions at Civic Commons are those of the users who share them, not of Civic Commons or its partnering and sponsoring organizations.  
        </p>

        <p>
        If any of these rules of engagement is violated, the account of the user in violation can be suspended which will prevent the user from logging in and participating in activities at Civic Commons. The suspension will be noted on the user’s profile as well. Repeat offenders may have their accounts permanently deleted.
        </p>

        <p>
        If you see something offensive at Civic Commons—let us know. We’ll be on the lookout, but the fact is, that maintaining a respectful environment is everyone’s responsibility. Please don’t tip us off to comments you simply disagree with—we expect disagreement to be part of all of our conversations and an important way to gain perspective on issues. However, if something is truly offensive, we want to know about it.
        </p>

        <p>
        We want Civic Commons to represent the diversity of thought, background, and experience of our region. To do that, we need to welcome each other to the conversation and respect our differences. We hope you’ll bring a dose of optimism to every exchange at Civic Commons and help create productive conversations of consequence.
        </p>
      </div>
    </div>
  </div>
<% end %>
