.bundle
.autotest
chromedriver.log
db/*.sqlite3
db/*.sql
log/*.log
tmp/*
tmp/**/*
doc/**/*
coverage
rake/**/*
config/amazon_s3.yml
config/civic_commons.yml
config/database.yml
config/newrelic.yml
config/people_aggregator.yml
.DS_Store
**/.DS_Store
.rvmrc
.*.sw?
*.swp
*.*~
*~
.jhw-cache
.idea
solr/data
solr/*
log
sunspot-solr.pid
.rspec
specrunner.*.html
.jhw-cache
Guardfile
rack-test
public/images/regions/
public/assets
