- content_for :main do
  %h1 Create a New Event
  %form
    .form-group
      .form-block
        %label(for="name")
          Name:
        %input(class="textbox" name="event-name" placeholder="Clocktower Ribbon Cutting Ceremony...")
      .form-block
        %label(for="when")
          When:
        %input(class="textbox datetime" name="event_date" placeholder="8:04 PM, November 23 1885" style="-webkit-appearance: textfield")
      .form-block
        %label(for="where")
          Where:
        %input(class="textbox" name="event_location" placeholder="Hill Valley Courthouse")
      .form-block
        %p
          - succeed "or" do
            %input(type="submit" class="submit" value="Create Event")
          %a.cancel(href="#") cancel
