<div class='feature group'> 
  <%= image_tag 'cc_radio_show.jpg', :alt => 'The Civic Commons Radio Show and Podcast', :class => 'float featured main-img', :height => 194, :width => 300 %>
  <p>
    <%= raw @radioshow_description.description_long unless @radioshow_description.blank? %>
  </p>
  <p>&nbsp;</p>
</div>
