<div class='feature group'> 
  <%= image_tag 'cc_radio_show.jpg', :alt => 'The Civic Commons Radio Show and Podcast', :class => 'float featured main-img', :height => 194, :width => 300 %>
  <p>
    <b>The Civic Commons podcast</b> is a dynamic half-hour public affairs program
    airing Saturday mornings on <b><a href="http://www.wjcu.org">88.7 FM, WJCU, University Heights</a></b>,
    and Tuesday evenings on <b><a href="http://wysu.org">88.5 FM, WYSU, Youngstown</a></b>.
    It features citizen voices more than talking heads,
    citizen commentaries instead of expert drones, and hosts who are always
    looking for different ways to set the stage for discussion. Hosted by award-winning
    public radio host Dan Moulthrop, produced by Luke Frazier of NOW
    Productions with assistance from WJCU and edited by Daniel Steinberg of
    <b><a href="http://dimsumthinking.com">Dim Sum Thinking</a></b> and Erica Brenner of Brenner Productions.
    The podcast is part of The Civic Commons, a regional effort to bring more citizens
    into the conversations that matter. You can
    <b><a href="http://itunes.apple.com/us/podcast/the-civic-commons-podcast/id436134274">subscribe to the podcast</a></b> on iTunes
    or listen to it on <b><a href="http://stitcher.com/listen.php?fid=16395">Stitcher Smart Radio</a></b>.
    (<b><a href="http://www.apple.com/itunes">Download iTunes</a></b> or <b><a href="http://stitcher.com">Stitcher</a></b>)
  </p>
  <p>&nbsp;</p>
</div>
