<div class='feature group'> 
  <%= image_tag 'CivicCommonsPoster.jpg', :alt => 'Civic Commons radio and podcast', :class => 'float featured main-img', :height => 200, :width => 300 %>
  <p>
    <b>The Civic Commons podcast</b> is a dynamic half-hour public affairs program airing Saturday mornings on
    <b><a href="http://www.wjcu.org">88.7 FM, WJCU</b></a> and Tuesday evenings on <a href="http://wysu.org">WYSU</a>.
    It features citizen voices more than talking heads, citizen commentaries instead of expert drones, and hosts who are
    always looking for different ways to set the stage for discussion. Hosted by award-winning public radio host Dan Moulthrop,
    produced by Luke Frazier of <b><a href="http://now-productions.com/">NOW Productions</a></b> with assistance from WJCU and
    edited by Daniel Steinberg of<b><a href="http://dimsumthinking.com/"> Dim Sum Thinking</b></a>.
    The podcast is part of The Civic Commons, a regional effort to bring more citizens into the conversations that matter
    (find out more at <a href="http://theciviccommons.com">theciviccommons.com</a>).
    You can <a href="http://itunes.apple.com/us/podcast/the-civic-commons-podcast/id428628855">subscribe to the podcast</a> on iTunes.
    (<a href="http://www.apple.com/itunes/">Download iTunes</a>.)
  </p>
  <p>&nbsp;</p>
</div>
