<h4><%= link_to link.title, link.url, :target => '_blank', :title => link.url %></h4>
<% if link.description.present? %>
  <div class="bd">
    <p>
      <%= link.description %>
    </p>
  </div>
<% end %>