<a href="http://itunes.apple.com/us/podcast/the-civic-commons-podcast/id436134274" class="button"><span class="itunes">iTunes</span></a>
<a href="/radioshow.xml" class="button"><span class="rss">RSS</span></a>
<a href="http://stitcher.com/listen.php?fid=16395" class="button"><span class="stitcher">Stitcher</span></a>
