<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2>New Petition</h2>
      <%= render 'form' %>
        
    </div><!-- /.main-content -->

    <div class="aside">
    </div><!-- /.aside -->

  </div>
</div>