<div class="result community-result">
  <div class="offset-2">
    <%
      person = hit.result
    %>
    <%= user_profile(person) %>
    <h4><%= link_to person.display_name, user_path(person), title: person.display_name %></h4>
    <p><%= best_hit_description(hit, :bio) %></p>
  </div>
</div>
