<% if(hit.result.conversation_id) %>
  <div class="result contribution-result">
    <% title =  hit.result.title || "This contribution has no title" %>
  <h4><%= link_to title , conversation_path(hit.result.conversation_id) %></h4>
  <p><%= best_hit_description(hit, :content) %></p>
</div>
<% end %>
