<div class="result ">
  <% 
    title =  hit.result.title
    type = hit.result.content_type
    case type 
    when "BlogPost"
      author_name = [hit.result.author.first_name, hit.result.author.last_name].join(' ')
  %>
      <h4><%= link_to author_name + ' blogged: ' + title, blog_path(hit.result) %></h4>
  <% 
    when "NewsItem"
  %>
     <h4><%= link_to title, hit.result.external_link, :title => title, :target => "blank" %></h4>
  <% 
    when "RadioShow"
  %>
     <h4><%= link_to title , radioshow_path(hit.result) %></h4>
  <% end %>
  <p><%= best_hit_description(hit, :body) %></p>
</div>
