<div id="search">
  <form accept-charset="utf-8" action="/search/results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input class="textbox" id="q" name="q" placeholder="What are you looking for?" type="text">
    <input class="submit" id="Search" type="submit" value="Search">
  </form>
</div>