<%= form_for Contribution.new, :url => create_contribution_issue_url(@issue),
    :remote => true, :html => {:class => "general-aside contribution-form", :style => "display:none",
                                :multipart => true,
                                :id => "new-file-contribution"} do |f| %>
  <div class='form-block'>
    <%= f.text_area(:content, :rows => 2, :placeholder => "Description of File") %>
    <%= f.file_field(:attachment) %>
  </div>
  <div class="errors"></div>
  <%= f.submit("Submit", :class => "submit") %>
  <button class="cancel">Cancel</button>
<% end %>
