%h1 Create a New Issue
= form_for(@issue) do |f|
  - if (@issue.errors.any?)
    .error_explanation
      %h2= pluralize(@issue.errors.count, "error") + " prohibited this issue from being saved:"
      %ul
      - @issue.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    .form-block
      %label(for="title")
        Name:
      %input(class="textbox" name="issue[name]" placeholder="Finding Plutonium in the Year 1885")
    .form-block
      %label(for="summary") Summary:
      %input(class="textbox" name="issue[summary]" placeholder="A brief description of the issue")
    .form-block
      %p
        - succeed "or" do
          %input(type="submit" class="submit" value="Create Issue")
        = link_to "cancel", :issues, :class => 'cancel'
