<% content_for(:main_body) do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Annual Subscription Plans <span class="heading-subtitle">(because it's time to engage)</span></h1>
      <section class="card card-height mod">
        <h2 class="promotion-title mtn">Classic</h2>
        <div class="fl-right promotion-cta">
          <h3 class="mtn promotion-price">Free</h3>
          <%= link_to 'Learn More', promotion_products_services_path(:product => 'Classic'), class: 'button button-block' %>
        </div>
        <div class="promotion-info">
          <ul>
            <li>Organizational Profile</li>
            <li>Unlimited individual profiles for employees and representatives</li>
            <li>Unlimited conversations connected to your profile</li>
            <li>Connection to a national network of engaged citizens and organizations</li>
            <li>Ability to embed any conversation on a third party site</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="content-container">
      <section class="card card-height mod">
        <h2 class="promotion-title mtn">Annual Pro</h2>
        <div class="fl-right promotion-cta">
          <h3 class="mtn promotion-price">$2,500/yr.</h3>
          <%= link_to 'Learn More', promotion_products_services_path(:product => 'Pro'), class: 'button button-block' %>
        </div>
        <div class="promotion-info">
          <p>All of the above, plus...</p>
          <ul>
            <li>Consultation on best practices for using the Commons and maximizing your organization’s presence</li>
            <li>Landing page displaying your conversations, Twitter stream, curated news feed and other multimedia content. Includes simple monthly revisions.</li>
            <li>Listing in projects page</li>
            <li>Professional content review</li>
            <li>Online engagement and outreach training</li>
            <li>Monthly web analytics: page views, unique visitors, average user time spent on page, click through rates, bounce rates, number of active conversation participants, number of contributions/ratings in conversations, etc.</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="content-container">
      <section class="card card-height mod">
        <h2 class="promotion-title mtn">Annual Premium</h2>
        <div class="fl-right promotion-cta">
          <h3 class="mtn promotion-price">$7,500/yr.</h3>
          <%= link_to 'Learn More', promotion_products_services_path(:product => 'Premium'), class: 'button button-block' %>
        </div>
        <div class="promotion-info">
          <p>All of the above, plus...</p>
          <ul>
            <li>Professional conversation curation and moderation for up to 3 conversations per year</li>
            <li>Custom microsite on theciviccommons.com, with up to 4 sub-pages.
              <ul>
                <li>Landing page with most recent conversations, Twitter stream, curated news feed and other content to provide context for your community</li>
                <li>Sub pages can include maps, resources, multimedia content, educational information</li>
                <li>Includes monthly content revisions</li>
              </ul>
            </li>
            <li>Preferred listing in projects page</li>
            <li>Monthly web analytics: page views, unique visitors, time spent on page, click throughs, bounce rates  (Landing page and sub pages, org profile, connected engagement opportunities)</li>
            <li>Summary report of qualitative engagement data (additional reports may be purchased)</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="content-container">
      <h2>Other Add-On Services</h2>
      <div class="card card-height mod">
        <div class="four-col-fluid">
          <div class="cols">
              <h3>Technology</h3>
              <p>Additional revisions to landing site, non-standard landing site customizations (embedding live stream of events, data mapping or other)</p>
          </div>
          <div class="cols">
              <h3>Moderation</h3>
              <p>Moderation and curation of additional conversations</p>
          </div>
          <div class="cols">
              <h3>Consultation &amp; Training</h3>
              <p>Collaborative design of your complete engagement strategy</p>
          </div>
          <div class="cols">
              <h3>Outreach</h3>
              <p>Strategic coordinated social media outreach</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
