<h1>The Civic Commons account activation</h1>
<p>
  Thanks for joining The Civic Commons. Your account is almost ready to go. Just confirm your email address by
  <%= link_to 'clicking this link.', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>
