<table width="600px" border="0" cellspacing="0">
  <tr>
    <td style="padding: 20px 0 0 0;">
      <h1>Here’s a quick update on what’s going on at the Commons.</h1>
      <% @conversations.each do |conversation| %>
        <% unless conversation.last.empty? %>
          <h2><%=conversation.first.title %></h2>
          <% conversation.last.each do |contribution| %>
            <p><%= "In response to #{contribution.parent.person.name}, #{contribution.person.name} #{contribution_action_past_tense(contribution.class)}
            this #{contribution.contribution_type.to_s.gsub(/_/,' ')} "%> <%= link_to 'Continue the Conversation', conversation_url(conversation.first) %>
            </p>
          <% end %>
        <% end %>
      <% end %>

      <p>Don’t want to receive these updates any more? No problem. <%= link_to 'Click here', edit_user_url(@person) %></p>

    </td>
  </tr>
</table>
