<% unless @conversations.empty? %>
  <h1>Here’s a quick update on what’s going on at the Commons.</h1>
  <% @conversations.each do |conversation| %>
    <% unless conversation.first == nil%>
      <h2><%= conversation.first.title %></h2>

      <% conversation.last.each do |item| %>
        <%= render :partial => "daily_digest_#{item.class.name.underscore}", :locals => {:item => item, :conversation => conversation} %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
<h3>Too much information?</h3>
<p>
You can opt out of specific conversations by clicking "Stop Following this Conversation" on that conversation page at
<%= link_to 'theciviccommons.com', root_url %>, or you can
<%= link_to 'unsubscribe', unsubscribe_confirmation_url(@person) %> all together.
</p>
