<h1>You've recently changed your email with The Civic Commons</h1>
<p>You've changed your email with The Civic Commons from <%= @old_email %> to <%= @new_email %>.<br/>If you did not do this on purpose please <%= mail_to Civiccommons::Config.email["support_email"], 'let us know', :subject => 'Email Violation Alert' %>.</p>
