<h1>An Invitation!</h1>
<p><%= @user.name %> wants to invite you to add your voice to an important conversation at The Civic Commons about <b>"<%=h @conversation.title %>."</b></p>
<p></p>
<h2>Here's a little more information:</h2>
<p></p>
<p><%= raw @conversation.summary%></p>
<p>Click on <a href="<%= conversation_url(@conversation) %>">this link</a> to go to The Civic Commons, sign up for an account (takes only a minute), and join the conversation.  Check back in to see what others are saying.</p>
<p></p>	
<p>See you there!</p>	
