<table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
  <td style="padding:20px 0 0 0;">
    <h1 style="margin-top:0; color:#555; font-size:26px; letter-spacing:-1px;">New User Registered</h1>
    <p style="line-height:1.4em;">Awesomeness! Chalk up another for the CC team! You’ve got a new sign up!</p>
    <p style="line-height:1.4em;">Here’s their info:</p>
    <p style="line-height:1.4em;"><%= @resource.first_name %> <%= @resource.last_name %></p>
    <p style="line-height:1.4em;"><%= @resource.email %></p>
  </td>
</tr></table>
