<h1>New User Registered</h1>
<p>Awesomeness! Chalk up another for the CC team! You’ve got a new sign up!</p>
<p>Here’s their info:</p>
<p><%= @resource.first_name %> <%= @resource.last_name %></p>
<p><%= @resource.email %></p>
