<h1>Forgotten Password</h1>
<p>We were alerted that you forgot your password. Yeah, yeah, we know. Too many passwords to remember, right? Don’t worry, we’ve got you covered.</p>
<p>You can change your password through the link below.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>Of course, if you suddenly recall your current password and don't want to change a thing, you can ignore everything above and keep on using it.</p>
