<table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
  <td style="padding:20px 0 0 0;">
    <h1 style="margin-top:0; color:#555; font-size:26px; letter-spacing:-1px;">Forgotten Password</h1>
    <p style="line-height:1.4em;">We were alerted that you forgot your password. Yeah, yeah, we know. Too many passwords to remember, right? Don’t worry, we’ve got you covered.</p>
    <p style="line-height:1.4em;">You can change your password through the link below.</p>
    <p style="line-height:1.4em;"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
    <p style="line-height:1.4em;">Of course, if you suddenly recall your current password and don't want to change a thing, you can ignore everything above and keep on using it.</p>
  </td>
</tr></table>