<table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
  <td style="padding:20px 0 0 0;">
    <h1 style="margin-top:0; color:#555; font-size:26px; letter-spacing:-1px;">Thank you for your suggestion</h1>
    <p style="line-height:1.4em;">Thanks for your suggestion--in this early stage, feedback like yours is crucial to building the Civic Commons! You rock!</p>
  </td>
</tr></table>
