<h1>Thank you for participating on our <%= @survey.type.downcase %></h1>
<p>Thanks for your <%= @survey.type.to_s.downcase %> on "<%= link_to @survey.title, send("#{@survey.type.underscore}_url".to_sym,@survey.id) %>".<p/> 
<p>Please check back on <%= @survey.end_date && @survey.end_date.to_s(:long) %> to see the results.</p>
