<h1>Welcome to The Civic Commons</h1>
<p>Welcome to The Civic Commons, we’re really glad you decided to join us in our goal of turning talk into action.</p>

<p>Now that we’ve got all the formalities out of the way, here’s some suggestions for what to do next:</p>
<p>1. Start a conversation. <br/>We know there's something you want to engage your community about, some question you've been wanting feedback on. Go ahead, <%=link_to  'start it up',conversation_responsibilities_url %>.</p>

<p>Or, maybe you want to add your voice to some of the conversations your friends, neighbors and community have already started. <%= link_to 'Go, find them', conversations_url %>.</p>
<p>Cool? If you need help or a hand to hold, just <%= mail_to 'emilycole@theciviccommons.com', 'email me' %>. I promise to get right back to you (as long as it's not, like, the middle of the night).</p>

<p>See you on the Commons!</p>

<p>
  Emily Cole<br/>
  Community Connector
</p>