<h1>Welcome to The Civic Commons</h1>
<p>Welcome to The Civic Commons, we’re really glad you decided to join the conversation</p>
<p>Now that we’ve got all the formalities out of the way, here’s how to get started:</p>
<p>If you like to read instructions or you haven’t seen this yet, <%= link_to "check out our video introduction to the Commons",root_url %>.</p>
<p>If you’re the kind of person who ignores instruction manuals,  feel free to head over to your profile, add a picture of yourself and some other information and then jump into a conversation.</p>
<p>Cool? </p>
<p></p>
<p></p>
<p><%= link_to root_url, root_url %></p>
