<table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
  <td style="padding:20px 0 0 0;">
    <h1 style="margin-top:0; color:#555; font-size:26px; letter-spacing:-1px;">Welcome to The Civic Commons</h1>
    <p style="line-height:1.4em;">Welcome to The Civic Commons, we’re really glad you decided to join the conversation</p>
    <p style="line-height:1.4em;">Now that we’ve got all the formalities out of the way, here’s how to get started:</p>
    <p style="line-height:1.4em;">If you like to read instructions or you haven’t seen this yet, <%= link_to "check out our video introduction to the Commons",root_url %>.</p>
    <p style="line-height:1.4em;">If you’re the kind of person who ignores instruction manuals,  feel free to head over to your profile, add a picture of yourself and some other information and then jump into a conversation.</p>
    <p style="line-height:1.4em;">Cool? </p>
    <p style="line-height:1.4em;"></p>
		<p style="line-height:1.4em;"></p>
		<p style="line-height:1.4em;"><%= link_to root_url, root_url %></p>
  </td>
</tr></table>
