<% if conversations %>
<% conversations.each_slice(3) do |conversation_mini_array|%>
  <div class="three-col-sm">
    <% conversation_mini_array.each do |conversation| %>
      <%= render partial: 'conversations/conversation_tile', locals: { conversation: conversation } %>
    <% end %>
  </div>
<% end %>
<% end %>
