%li
  %ul.event-details
    %li
      %strong Event:
      %em Roundtable Q&A 
    %li
      %strong When:
      May 24, 2010, 7:00 PM
    %li
      %strong Where:
      %a.text.button(href="#" title="City Club of Cleveland") City Club of Cleveland