<ul class='link-list'>
  <li><%= link_to "Recently Active", conversations_filter_path(:active) %></li>
  <li><%= link_to "Most Popular", conversations_filter_path(:popular) %></li>
  <li><%= link_to "Recently Created", conversations_filter_path(:recent) %></li>
</ul>
