%li
  .article.issue.conversation-ticker
    .date
      %p 
        %span.month= postable.created_at.strftime("%b")    
        %span.day= postable.created_at.strftime("%d")    
    %p Started discussing a new issue:
    %p
      %a{:href=>"#", :title=>"Starting talking about #{postable.description}"}= postable.description
