%li
  %div{:id => "action-div-#{@top_level_contribution.id}-respond"}
    = render(:partial => "conversations/tabbed_post_box", :locals => {:div_id => params[:div_id]})
  
= display_direct_descendant_subset(@contributions, @top_level_contribution.id)