%li
  .article.comment
    .meta
      .comment-type.question
      %a.rating.positive(href="#" title="Rate this comment") +13
    %img{:src=>"/images/fiorini-avatar-small.png", :alt=>"Question from #{postable.person.name}")
    %p
      %a{:href=>person_path(postable.person), :title=>"#{postable.person.name}'s Profile"}
        %strong= postable.person.name
      %span.action asked a question to:
      %a.question_recipient(href="#" title="Frank Jackson's Profile")
        Frank Jackson   
    %p.content= postable.content
    %p
      %a.button.answer(href="#" title="Answer Question") Answer
      %a(href="#" class="privileged" title="Delete this comment") Delete