<p>
We’re glad you want to start a conversation! Remember, you’re in charge and conversations at The Civic Commons are a little different than elsewhere because we keep our principles in mind (We strive to be diverse, credible, transparent, civil, entrepreneurial, participatory and optimistic). That’s not a huge deal, but it comes with a few responsibilities.
</p>
<ol>
  <li>Invite people to participate.</li>
  <li>Check in regularly, and stay engaged with people who are participating.</li>
  <li>If there are any problems, let us know. You can always reach us through Help Build the Commons, just under your name in the top right of the screen.</li>
</ol>
