.mod
  %h3 Participants
  .mod-content
    .guides
      .photobank
        -conversation.participants.select{ |p| @tlc_participants.include?(p.id) }.each do |participant|
          =conversation_profile(participant).html_safe
      %br.clear
    - if conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.size > 0
      .other-participants
        .photobank
          -conversation.participants.select{ |p| !@tlc_participants.include?(p.id) }.each do |participant|
            =conversation_profile(participant).html_safe
