<% content_for :main do %>
<div class="wrapper">
<div class="content-container">
  <h1>Conversations</h1>
  <%= render :partial => '/articles/featured' %>

      <div class="content-container">
        <div class="main-content">
          <div class="topic-header group">
            <p class="topic-selection">
              <a href="#">Most Recent</a>
              <a href="#">Most Active</a>
            </p>
          </div>

        <%= render :partial => '/conversations/conversation_pager' %>

        </div><!-- /.main-content -->     
        <div class='aside supplementary'>
          <h3>Select a Region</h3>
          <ul class='link-list'>
            <li><a href="#">Name of Region</a></li>
            <li><a href="#">Name of Region</a></li>
            <li><a href="#">Name of Region</a></li>
            <li><a href="#">Name of Region</a></li>
            <li><a href="#">Name of Region</a></li>
            <li><a href="#">Name of Region</a></li>
          </ul>
        </div><!-- /.aside -->      
      </div><!-- /.content-container -->
  </div>
</div>
     
<% end %>
