<div class="wrapper">
  <div class="content-container">
    <div class="main-content">
      <h1>Start a Conversation<%= " from #{@start_from}" if @start_from %></h1>
      <%= render partial: 'conversations/responsibilities_verbiage' %>
      <p>
        <%# link_to "I agree, continue", new_conversation_path(:accept => true, :content_item_id => params[:content_item_id],:type=>params[:type]), :class => 'button' %>
        <%= link_to "I agree, continue", polymorphic_url([:new, get_path_sym(@content_item), :conversation],:accept => true), :class => 'button' %>
        or
        <%= link_to "Cancel", root_url %>
      </p>
    </div>
  </div>
</div>
