<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2 class="mtn">New Vote</h2>
      <%= render :partial => 'form' %>
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
    </div><!-- /.aside -->


  </div>
</div>