<div class="mod">
  <h3>Filter Issues by Topic:</h3>
  <ul class="simple-list block-link-list topics">
    <% topics.each do |topic| %>
      <li><%= issue_topic_filter(topic) %></li>
    <% end %>
  </ul>
</div>
