
/* Button Styles
---------------------------------*/

a.button, 
.button, 
a.off_button, 
.off_button {
  background-color: #b9c974;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9c974), to(#9dae55));
  background-image: -webkit-linear-gradient(top, #b9c974, #9dae55);
  background-image: -moz-linear-gradient(top, #b9c974, #9dae55);
  background-image: -o-linear-gradient(top, #b9c974, #9dae55);
  background-image: -ms-linear-gradient(top, #b9c974, #9dae55);
  background-image: linear-gradient(top, #b9c974, #9dae55);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b9c974', EndColorStr='#9dae55');
  border: 1px solid #94a647;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  margin-right: 10px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0px rgba(0,0,0,.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
     -moz-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
       -o-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
          box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
}

.button.cta {
  background-color: #cbdbe4;
  border: 1px solid #7695a6;
}

.button.cta:hover {
  background-color: #c0d3dd;
}

a.button.answer, 
.button.answer {
  padding-top: 4px;
  text-transform: inherit;
  vertical-align: middle;
  line-height: 15px;
  text-transform: uppercase;
}

a.button:hover, 
a.off_button:hover, 
input.submit:hover, 
input#contribution_submit:hover {
  background-color: #a2af5d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a2af5d), to(#7b893b));
  background-image: -webkit-linear-gradient(top, #a2af5d, #7b893b);
  background-image: -moz-linear-gradient(top, #a2af5d, #7b893b);
  background-image: -o-linear-gradient(top, #a2af5d, #7b893b);
  background-image: -ms-linear-gradient(top, #a2af5d, #7b893b);
  background-image: linear-gradient(top, #a2af5d, #7b893b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a2af5d', EndColorStr='#7b893b');
  cursor: pointer;
  color: #f3f3f3;
}

a.button:active, 
a.off_button:active, 
input.submit:active, 
input#contribution_submit:active, 
a.button.active {
  background: #fff;
  color: #94a647;
  text-shadow: none;
}


/* Alternate Colors
---------------------------------*/

.button.secondary {
  background-color: #a8cce4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a8cce4), to(#7e9aac));
  background-image: -webkit-linear-gradient(top, #a8cce4, #7e9aac);
  background-image: -moz-linear-gradient(top, #a8cce4, #7e9aac);
  background-image: -o-linear-gradient(top, #a8cce4, #7e9aac);
  background-image: -ms-linear-gradient(top, #a8cce4, #7e9aac);
  background-image: linear-gradient(top, #a8cce4, #7e9aac);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a8cce4', EndColorStr='#7e9aac');
  border-color: #637988;
}

.button.secondary:hover {
  background-color: #95b5ca;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#95b5ca), to(#6c8595));
  background-image: -webkit-linear-gradient(top, #95b5ca, #6c8595);
  background-image: -moz-linear-gradient(top, #95b5ca, #6c8595);
  background-image: -o-linear-gradient(top, #95b5ca, #6c8595);
  background-image: -ms-linear-gradient(top, #95b5ca, #6c8595);
  background-image: linear-gradient(top, #95b5ca, #6c8595);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#95b5ca', EndColorStr='#6c8595');
}

.button.secondary:active, 
.button.secondary.active {
  background: #fff;
	color: #637988;
}


/* Radio Show Buttons
---------------------------------*/

a.button span.itunes {
  background: url(/images/icons/itunes-ico.png) no-repeat 0 2px;
  padding: 2px 0 2px 18px;
}

a.button:active span.itunes {
  background-position: 0 -62px;
}

a.button span.rss {
  background: url(/images/icons/rss-ico.png) no-repeat 0 2px;
  padding: 2px 0 2px 18px;
}

a.button:active span.rss {
  background-position: 0 -63px;
}

a.button span.stitcher {
  background: url(/images/icons/stitcher-ico.png) no-repeat 0 1px;
  padding: 2px 0 2px 18px;
}

a.button:active span.stitcher {
  background-position: 0 -63px;
}


/* Button Numbers
---------------------------------*/

.button .number {
	color: #fff;
  display: inline-block;
  margin: 0 -5px 0 5px;
  padding: 1px 3px;
  text-shadow: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
}

.button:active .number, 
.button.active .number {
	background: #9cb050;
	color: #fff;
}

.button.secondary:active .number, 
.button.secondary.active .number {
	background: #637988;
	color: #fff;
}


/* Button Groups
---------------------------------*/

.btn-group {
	position: relative;
}

.btn-group .button {
	position: relative;
	float: left;
	margin-left: -1px;
	margin-right: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
}

.btn-group .button:first-child {
	margin-left: 0;
     -webkit-border-top-left-radius: 4px;
         -moz-border-radius-topleft: 4px;
             border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
}

.btn-group .button:last-child, 
.btn-group .button.dropdown-toggle {
     -webkit-border-top-right-radius: 4px;
         -moz-border-radius-topright: 4px;
             border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
}

.btn-group .button:hover,
.btn-group .button:focus,
.btn-group .button:active,
.btn-group .button.active {
  z-index: 2;
}

.btn-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ie7 .btn-group {
	zoom: 1;
}


/* Large Button Group 
   (opportunities, etc.)
---------------------------------*/

.btn-group.btn-group-large .button {
  font-size: 13px;
	padding: 8px 15px;
	width: 150px;
}

.btn-group-large .text-left {
	text-align: left;
}


/* Caret Styling
---------------------------------*/

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  *text-indent: 0;
  vertical-align: top;
  border-left:  4px solid transparent;
  border-right: 4px solid transparent;
  border-top:   4px solid #fff;
  opacity: .7;
  content: "\2193";
}

.button:active .caret, 
.button.active .caret {
	border-top-color: #9cb050;
	opacity: 1;
}

.button.secondary:active .caret, 
.button.secondary.active .caret {
	border-top-color: #637988;
}

.button .caret {
	margin-top: 6px;
	margin-left: 5px;
}


/* Button Dropdowns
---------------------------------*/

.btn-group .dropdown-toggle.full {
	width: 268px;
}