
/* Button Styles
---------------------------------*/

a.button, 
.button, 
a.off_button, 
.off_button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B9C974), to(#9DAE55));
  background: -moz-linear-gradient(center top , #b9c974, #9dae55);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#FFb9c974, endColorStr=#FF9dae55);
  border: 1px solid #94a647;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  margin-right: 10px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0px rgba(0,0,0,.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
     -moz-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
       -o-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
          box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
}

.button.cta {
  background-color: #cbdbe4;
  border: 1px solid #7695a6;
}

.button.cta:hover {
  background-color: #c0d3dd;
}

a.button.answer, 
.button.answer {
  padding-top: 4px;
  text-transform: inherit;
  vertical-align: middle;
  line-height: 15px;
  text-transform: uppercase;
}

a.button:hover, 
a.off_button:hover, 
input.submit:hover, 
input#contribution_submit:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2af5d), to(#7b893b));
  background: -moz-linear-gradient(center top , #a2af5d, #7b893b);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#FFa2af5d, endColorStr=#FF7b893b);
  cursor: pointer;
  color: #f3f3f3;
}

a.button:active, 
a.off_button:active, 
input.submit:active, 
input#contribution_submit:active {
  background: #fff;
  color: #94a647;
  text-shadow: none;
}


/* Radio Show Buttons
---------------------------------*/

a.button span.itunes {
  background: url(/images/icons/itunes-ico.png) no-repeat 0 2px;
  padding: 2px 0 2px 18px;
}

a.button:active span.itunes {
  background-position: 0 -62px;
}

a.button span.rss {
  background: url(/images/icons/rss-ico.png) no-repeat 0 2px;
  padding: 2px 0 2px 18px;
}

a.button:active span.rss {
  background-position: 0 -63px;
}

a.button span.stitcher {
  background: url(/images/icons/stitcher-ico.png) no-repeat 0 1px;
  padding: 2px 0 2px 18px;
}

a.button:active span.stitcher {
  background-position: 0 -63px;
}