
/*- BASE STYLES
----------------------------------------------------------------------*/

body {
background: #f9f9f9 url(/images/body_bg.gif) repeat;
border-top: 5px solid #6A727F;
color: #444;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 100%;
}

/*- Typography ----------*/

div#header-wrapper, div.wrapper, div#nav-wrapper, div#footer, div#legal {font-size: .75em;}
p {
line-height: 1.5em;
margin-bottom: .8em;
}
p.fineprint {font-size:0.85em;}
strong {font-weight: bold;}
em {font-style: italic;}
ul, ol {
line-height: 1.7em;
margin-bottom: 1em;
margin-left: 2em;
}
ul {list-style-type: disc;}
ol {list-style-type: decimal;}
.link-list, .conversations, .posts, .contributions, .comments, .module_actions ul {
list-style: none;
margin-left: 0;
}
.contributions li.offset-1 { padding-left:100px; }
.conversations li:last-child {
border-bottom: none;
padding-bottom: 0;
}
.contribution-person-name {
font-weight: bold;
margin-right: 10px;
float: left;
}
.contribution-container i.date{color:#444;}
.conversations {margin: 0;}
/*
.conversations.divided {
padding-top: 20px;
}
*/
.collapsed > .comment > .conversations.divided {
padding-top: 0;
/* margin-top: 15px; */
}
.conversations.divided li {
margin-bottom: 0;
margin-top: 0;
padding-top: 15px;
}
.conversations.divided .input-with-options li {padding: 0;}
.conversations.divided .input-with-options li a.button {margin: 5px 10px 5px 0;}
div#show_conversation {}
.divided {border-top: 1px solid #dcdcdc;}
.conversations.divided {border-top: none;}
#show_conversation > ol.divided {border-top: none;}
.divided li.top-level-contribution:first-child {border-top: none;}
.divided li:last-child, .divided div:last-child {border-bottom: none;}
.divided a:link, .divided a:hover, .divided a:active, .divided a:visited {}
p.profile-meta {
margin-bottom:0;
font-size:0.9em;
font-style:italic;
color:#666;
padding-bottom: 1em;
}
ul li, ol li, dl dd {
line-height: 1.4em;
margin-bottom: .5em;
}
dl {margin-bottom: 1em;}
dl dt {
font-weight:bold;
margin-bottom:0.5em;
font-size:1.2em;
}
dl dd {margin-bottom:1em;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
h1 {
color: #555;
font-size: 2em;
line-height: 1em;
margin-bottom: 18px;
text-shadow: 0 1px 1px rgba(255,255,255,.85);
}
h1 span {color: #777;}
.wf-active h1 {font-size: 2.5em;}
h2 {
color: #555
border-bottom: none;
font-size: 1.6em;
line-height: 1em;
margin: 1em 0;
padding-bottom: 0;
text-transform: none;
}
.wf-active h2 {font-size: 2em;}
h3 {
border-bottom: 1px solid #cdcdcd;
font-size: 1.167em;
line-height: 1.4em;
margin-bottom: .8em;
padding-bottom: .5em;
}
h3.meta {font-weight:normal;}
h3.meta a {color:#2C87B7;}
h4 {
font-size: 1.084em;
margin-bottom: .5em;
}
.conversations h4 {margin-bottom: .2em;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration: none;}
p.region-desc {
color: #999;
font-weight: bold;
font-size: 1.3em;
margin: -15px 0 0 0;
}
.contribution-form-headline h3 {
border-bottom: none;
margin: .5em 0 .2em;
text-transform: none;
}
.conversation-tile-group {
border-bottom: solid 1px #cdcdcd;
padding: 0 0 25px;
margin: 0 0 15px;
}
.conversation-tile-group:last-child {border-bottom: none;}
.conversation-tile-group h3 {border: none;}


/*- FORM STYLES
----------------------------------------------------------------------*/

label {
display: block;
float: left;
font-weight: bold;
margin-right: 20px;
padding-top: 8px;
text-align: right;
width: 140px;
}
.form-label-offset{margin:5px 0 5px 160px;}
.form-label-offset .title{
display:block;
font-weight:bold;
padding:5px 0;
color:#555;
}
.form-label-offset a img {float:left}
.form-label-offset .remove_picture{margin-left:5px;}
/*input.textbox, textarea, input.textbox.small {*/
input.textbox, input.textbox.small {
font-family: Helvetica, Arial, sans-serif;
font-size: 1em;
border: 1px solid #ccc;
padding: 5px;
width: 448px;
}
input[type="file"] {border: none;}
input.checkbox { margin-left:160px; }
label.checkbox { float:none; display:inline; width:auto; }
.conversation-input-container input.textbox {width: 400px;}
.aside label, div.call-out label {width: 70px;}
.aside input.textbox, div.call-out input.textbox, .aside textarea, div.call-out textarea {width: 176px;}
.mod input.textbox, .mod textarea {width: 156px;}
button.cancel, input.submit, input#contribution_submit {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B9C974), to(#9DAE55));
background: -moz-linear-gradient(center top , #b9c974, #9dae55);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#FFb9c974, endColorStr=#FF9dae55);
border: 1px solid #94a647;
color: #fff;
display: inline-block;
font-size: 1em;
font-weight: bold;
line-height: 1.4;
margin-left: 160px;
margin-right: 10px;
padding: 4px 10px;
text-align: center;
text-decoration: none;
text-shadow: 0 -1px 0px rgba(0,0,0,.3);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
-moz-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
-o-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
}
button.cancel { margin-left: 2px; cursor: pointer; }
.contribution-form { padding-bottom: 5px; }
input.submit.no-tab {margin-left:0;}
input#contribution_submit {
margin-left: 0;
margin-right: 0;
}
.attach-issue input.submit,
.attach-conversation input.submit {
margin-left:0;
width:150px;
}
.aside input.submit, div.call-out input.submit {margin-left: 90px;}
div.checkbox label {
float: left;
margin-left: 160px;
text-align: left;
width: 448px;
}
div.checkbox input {width: auto;}
input.file {padding: 7px 0;}
input.placeholder, textarea.placeholder {color: #ccc;}
.input-with-options label {
background-color: #4d748d;
color: #d3e7f4;
display: block;
height: 25px;
padding: 10px;
text-align: left;
width: 97%;
}
.input-with-options label a {
color: #fff;
font-size: 12px;
}
.input-with-options label input.link {padding: 3px;}
.input-with-options textarea {height: 100px;}
a.cancel {font-weight: normal;}
.form-block {margin-bottom: 10px;}
.form-group {margin-bottom: 30px;}
.form-group .related {margin-left: 80px;}
.form-group .related input.textbox {width: 400px;}
.validation-error {color: #ae1111;}
.friendly-alert { color:#000; font-size:1.6em; font-weight:bold; margin-bottom:1em; }
div.validation-error > ul > li {
float: none;
margin: 0;
padding: 0;
text-align: left;
}
.field-with-error input.textbox {background-color: #fff8f8;}
div.issue-selection p {
float: left;
font-weight: bold;
margin-right: 10px;
text-align: right;
text-transform: uppercase;
width: 70px;
}
ul.issue-list {
list-style-type: none;
margin-left: 0;
padding-left: 90px;
width: 480px;
}
.aside .general-aside input.textbox, .aside .general-aside textarea {width: 97%;}
.aside .general-aside .submit {margin-left: 0;}
.general-aside div.radio label, .general-aside div.form-block-radio label {
float: none;
font-weight: normal;
margin-right: 0;
padding-bottom: 8px;
padding-top: 0;
text-align: left;
width: 100%;
}
div#poll_button {margin-top: 5px;}
div#poll_button input.submit {
float: left;
margin-right: 5px;
}

/*- Facebook Connect in Settings ----------*/

a.connectacct-link {
background: url(/images/fb_connect.png) no-repeat 0 0;
display: block;
float: left;
height: 32px;
margin-left: 160px;
outline: none;
text-indent: -9999px;
width: 257px;
}
a.connectacct-link.disconnect-fb {background-image: url(/images/fb_disconnect.png);}
a.connectacct-link:hover, a.connectacct-link:focus, a.connectacct-link.disconnect-fb:hover, a.connectacct-link.disconnect-fb:focus {background-position: bottom;}
fieldset.footer {margin-bottom: 2em;}

/*- Facebook Modal Styles ----------*/

#ajax-login-container {
font-size: .75em;
padding: 20px;
}
#ajax-login-container .form-group, #ajax-login-container fieldset.footer {margin-bottom: 15px;}
div.suggest-auth, div.fb-auth.linking-success, div.fb-auth.successful-registration, div.fb-auth.registering-email-taken, .fb-modal {padding: 25px 20px;}
.fb-modal h2 {
border-bottom: 1px solid #d6d6d6;
margin-bottom: 12px;
padding-bottom: 12px;
}
div.suggest-auth a.connectacct-link, .fb-modal .overwrite-email {
float: left;
margin-left: 0;
}
div.suggest-auth a.decline-facebook-auth, .fb-modal .cancel-overwrite-email {
display: block;
float: right;
padding-top: 4px;
}
p.fb-cnct-links {padding-top: 5px;}
#ajax-login-container input.textbox {width: 200px;}
#ajax-login-container p#facebook {padding: 0px 0px 0px 160px;}
.fb-modal input.textbox {width: 7em;}



/*- MODULAR ELEMENT STYLES
----------------------------------------------------------------------*/

div.topic-header {
border-bottom: 1px solid #cdcdcd;
margin-bottom: .8em;
padding-bottom: .5em;
}
div.topic-header p {margin-bottom: 0}
p.topic-count {float: left;}
p.topic-selection {float: right;}
p.topic-selection a {margin-left: 1em;}
a.see-more {float: right;}


/*- IMAGE OFFSET STYLE
----------------------------------------------------------------------*/

/*- Image Offset ----------*/

.offset-1 {
padding-left: 70px;
position: relative;
}
.conversations .offset-1, .comments .offset-1 {padding-left: 50px;}
.offset-2 {
padding-left: 50px;
position: relative;
}
.offset-3 {
padding-left: 100px;
position: relative;
}
.feature-mast .offset-1 {
min-height: 70px;
padding-left: 100px;
}
.feature-mast .offset-1.profile-mast {
min-height: 80px;
padding-left: 80px;
}
.offset-1 .callout, .offset-2 .callout, .offset-3 .callout {
left: 0;
position: absolute;
}
.divided div.offset-3 {min-height: 70px;}

/*- Media Download Styles ----------*/

.dnld {
margin-bottom: 1em;
padding-left: 25px;
}
.dnld.video {background: url(/images/video.png) no-repeat 0 3px;}
.dnld.document {background: url(/images/document.png) no-repeat 0 3px;}
.dnld.link {background: url(/images/link.png) no-repeat 0 3px;}
.dnld.image {background: url(/images/image.png) no-repeat 0 3px;}
.dnld.image img {max-width: 595px;}
.dnld strong {display: block;}
.dnld p {margin-bottom: .2em;}


/*- PHOTOBANK STYLES
----------------------------------------------------------------------*/

div.photobank {margin: 0 0 0 -12px;}
div.photobank img {
float: left;
margin: 0 0 12px 12px;
}
div.photobank-large {margin: 0 0 0 -20px;}
div.photobank-large img {
float: left;
margin: 0 0 20px 20px;
}
div.three-col-sm div.photobank {margin: 0 0 0 -6px;}
div.three-col-sm div.photobank img {margin: 0 0 6px 6px;}


/*- TABLE STYLES
----------------------------------------------------------------------*/

.data-table {
margin-bottom: 30px;
width: 100%;
}
.data-table colgroup.issue-title {width: 50%;}
.data-table colgroup.issue-title col {
font-weight: bold;
}
.data-table colgroup.contrib-count {width: 25%;}
.data-table colgroup.convo-count {width: 25%;}
.data-table td, .data-table th {
border-bottom: 1px dashed #bbb;
padding: 6px 0;
}
.data-table tr:last-child td, .data-table tr:last-child th {border-bottom: none;}
.data-table th {font-weight: bold;}
.data-table tr:hover {background: #fefefe;}
.data-table a {text-decoration: none;}


/*- ISSUE STYLES
----------------------------------------------------------------------*/

.issue-container {
margin-bottom: 25px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.issue-details {
background: #fff;
border: 1px solid #ccc;
overflow: hidden;
padding: 15px 15px 10px;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.issue-details h4 {
font-size: 1.8em;
font-weight: normal;
}
.issue-details h4, .issue-details p {padding-left: 210px;}
.issue-details img {
float: left;
margin-bottom: 10px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.issue-meta {
background: #e6e6e6;
border: 1px solid #ccc;
border-top: none;
overflow: hidden;
padding: 10px 15px 0;
text-align: right;
-moz-border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
-o-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
}
.issue-meta p {
color: #666;
float: right;
font-weight: bold;
margin-left: 20px;
text-shadow: 0 1px 1px rgba(255,255,255,.9);
text-transform: uppercase;
}
.issue-contrib {
background: url(/images/people-i.png) no-repeat 0 2px;
padding: 2px 0 2px 31px;
}
.issue-conv {
background: url(/images/conv-i.png) no-repeat 0 2px;
padding: 2px 0 2px 24px;
}
.issue-res {
background: url(/images/doc-i.png) no-repeat 0 2px;
padding: 2px 0 2px 21px;
}

/*- PAGINATION STYLES
----------------------------------------------------------------------*/

.pagination {clear: both;}
.pagination p {padding-top: 1em;}
.pagination span, .pagination a, .pagination em {
background: #eee;
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
display: block;
float: left;
font-weight: bold;
padding: 8px 12px;
text-decoration: none;
}
.pagination span {color: #999;}
.pagination .prev_page {
border-left: 1px solid #ccc;
-moz-border-radius: 4px 0 0 4px;
-webkit-border-radius: 4px 0 0 4px;
-o-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
.pagination .next_page {
-moz-border-radius: 0 4px 4px 0;
-webkit-border-radius: 0 4px 4px 0;
-o-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}
.pagination em {
background: #fff;
font-style: normal;
}


/*- BUTTON AND LINK STYLES
----------------------------------------------------------------------*/

a:link, a:visited {
color: #444;
outline: none;
}
a:hover {color: #2c87b7;}
a.button, .button, a.off_button, .off_button {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B9C974), to(#9DAE55));
background: -moz-linear-gradient(center top , #b9c974, #9dae55);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#FFb9c974, endColorStr=#FF9dae55);
border: 1px solid #94a647;
color: #fff;
display: inline-block;
font-size: 1em;
font-weight: bold;
line-height: 1.4;
margin-right: 10px;
padding: 4px 10px;
text-align: center;
text-decoration: none;
text-shadow: 0 -1px 0px rgba(0,0,0,.3);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
-moz-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
-o-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
}
.button.cta {
background-color: #cbdbe4;
border: 1px solid #7695a6;
}
.button.cta:hover {background-color: #c0d3dd;}
a.button.answer, .button.answer {
padding-top: 4px;
text-transform: inherit;
vertical-align: middle;
line-height: 15px;
text-transform: uppercase;
}
a.button:hover, a.off_button:hover, input.submit:hover, input#contribution_submit:hover {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2af5d), to(#7b893b));
background: -moz-linear-gradient(center top , #a2af5d, #7b893b);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#FFa2af5d, endColorStr=#FF7b893b);
cursor: pointer;
color: #f3f3f3;
}
a.button:active, a.off_button:active, input.submit:active, input#contribution_submit:active {
background: #fff;
color: #94a647;
text-shadow: none;
}
a.absent:after {
background-color: #c2c2c2;
content: "absent";
font-size: .857em;
font-weight: normal;
margin-left: 10px;
padding: 3px;
text-transform: uppercase;
color: #fff;
}
a.read-more {
display: block;
font-weight: bold;
text-align: right;
}
form.delete-button {
display: inline;
margin-left: 8px;
}


/*- PAGE STRUCTURE
----------------------------------------------------------------------*/

/*- Content Sections ----------*/

.wrapper {
margin: auto auto 10px;
padding: 10px 0 0;
width: 940px;
}
.content-container {margin: 15px 0;}
.content-container.no-bg {background: none;}
.full-width-content {width: 940px;}
.main-content {
float: left;
width: 620px;
}
.main-content-left {
float: left;
width: 120px;
}
.main-content-right {
float: right;
width: 480px;
}
.aside {
float: right;
width: 290px;
}
li.event-meta {
font-weight: bold;
text-transform: uppercase;
}

/*- Two Column Structure ----------*/

div.two-col, div.two-col-sm {margin: 0 0 20px -20px;}
div.two-col div.cols {
float: left;
margin-left: 20px;
}
div.two-col div.cols {width: 300px;}

/*- Three Column Structure ----------*/

div.three-col {margin: 0 0 20px -20px;}
div.three-col-sm {margin: 0 0 20px -20px;}
div.three-col div.cols, div.three-col-sm div.cols {
float: left;
margin-left: 20px;
}
div.three-col-sm div.cols {margin-left: 10px;}
div.three-col div.cols {width: 300px;}
div.three-col-sm div.cols {width: 200px;}
div.three-col-sm div.cols.call-out {
margin-left: 20px;
padding-bottom: 40px;
position: relative;
width: 180px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
div.three-col-sm div.cols.call-out img {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

/*- Four Column Structure ----------*/

div.four-col {margin: 0 0 20px -20px;}
div.four-col div.cols {
float: left;
margin-left: 20px;
width: 220px;
}

/*- Header and Logo ----------*/

#header-wrapper {background: url(/images/header_bg.png) no-repeat bottom center;}
#header {
border-bottom: 1px solid #c3c6cd;
line-height: 1.6em;
margin: 0 auto;
padding: 0 0 15px;
text-align: left;
width: 940px;
}
a#logo {
background: url(/images/cc_logo_4.png) no-repeat;
display: block;
float: left;
height: 62px;
margin-top: 17px;
text-indent: -9999px;
width: 179px;
}
#header span.subtitle {
display: block;
text-transform: uppercase;
color: #fff;
}
#header #header-utility {
float: right;
margin: 17px 0 0 0;
}
#login-status {}
#login-status a.user-link {
font-size: 12px;
text-transform: none;
}
div.signed-out div.offset-2 {
padding-left: 0;
}
div#user p {margin-bottom: .7em;}
.signed-out div#user p {margin-bottom: .3em;}
*:first-child+html div.signed-out div#user {display: inline;}
a.fb-login-btn {
background: url(/images/fb_login.png) no-repeat 0 0;
display: block;
height: 27px;
outline: none;
text-indent: -9999px;
width: 176px;
}
a.fb-login-btn:hover, a.fb-login-btn:focus {background-position: bottom;}
a.createacct-link {}
div.login-actions p {
font-size: .75em;
margin-bottom: .2em;
text-transform: uppercase;
}
.important a {font-weight: bold;}
.build-commons {
background: url(/images/build_commons.png) no-repeat 0 0;
padding: 5px 0 5px 27px;
}
#login-status h4, .important p {margin-bottom: .1em;}
#header #header-utility #login-status div.offset-2 {border: none;}
.flash-notice {
background-color: #ddecab;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.48, rgb(202,226,124)),color-stop(0.74, rgb(221,236,171)));
background-image: -moz-linear-gradient(center bottom,rgb(202,226,124) 48%,rgb(221,236,171) 74%);
color: #4c6404;
font-weight: bold;
padding: 5px 0;
margin-top: 10px;
width: 100%;
text-align: center;
line-height: 25px;
}

/*- Main Navigation ----------*/

ul#main-nav {
float: left;
margin: 0 0 0 67px;
overflow: hidden;
}
ul#main-nav li {
float: left;
list-style-type: none;
}
ul#main-nav li a {
color: #565656;
display: block;
font-weight: bold;
margin-right: 30px;
padding-top: 17px;
text-decoration: none;
text-transform: uppercase;
text-shadow: 0 1px 1px rgba(255,255,255,1);
}
ul#main-nav li a {overflow: hidden;}
ul#main-nav li a:hover {cursor: pointer;}
ul#main-nav li a span {
color: #666;
display: block;
font-size: .916em;
line-height: 1em;
text-transform: none;
}
ul#main-nav li a:hover {background: url(/images/top_arrow.png) no-repeat 50% 0;}
ul#main-nav li.conversations {
background: url(../images/nav_convo.png) no-repeat 0 17px;
display: block;
padding-left: 27px;
}
ul#main-nav li.issues {
background: url(../images/nav_issues.png) no-repeat 0 17px;
display: block;
padding-left: 23px;
}
ul#main-nav li.community {
background: url(../images/nav_comm.png) no-repeat 0 17px;
display: block;
padding-left: 32px;
}
ul#main-nav li.commons {
background: url(../images/nav_build.png) no-repeat 0 17px;
display: block;
padding-left: 26px;
}


/*- Selected Nav States ----------*/


/*- Search Form Styles ----------*/

div#search {
border: 1px solid #b4b4b5;
float: left;
margin-left: 66px;
margin-top: 10px;
padding-left: 5px;
width: 266px;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(0.5, #fff));
background: -moz-linear-gradient(center top , #f5f5f5, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#f5f5f5, endColorStr=#fff);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 1px rgba(255,255,255,1);
-moz-box-shadow: 0 0 1px rgba(255,255,255,1);
-o-box-shadow: 0 0 1px rgba(255,255,255,1);
box-shadow: 0 0 1px rgba(255,255,255,1);
}
div#search form {
background: url(../images/search-icon.png) no-repeat 3px 5px;
height: 24px;
padding-left: 24px;
position: relative;
width: 242px;
}
div#search form input.textbox {
background: transparent;
border: none;
margin: 6px 0 0;
padding: 0;
width: 242px;
}
div#search form input.textbox:focus {outline: 0 none;}
div#search input.submit {
background: none;
border: none;
color: transparent; /* Hack to make the value of the submit input invisible to IE */
display: block;
height: 26px;
margin: 0;
position: absolute;
right: -24px;
vertical-align: middle;
text-indent: -9999px;
text-transform: uppercase; /* Hack to make the value of the submit input invisible to IE */
top: -1px;
width: 24px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

/*- Feature Area ----------*/

.feature h1 {margin-bottom: 3px;}
.feature {margin-bottom: 20px;}
.feature .feat-callout {
float: left;
width: 300px;
}
.feature.feat-sm .feat-callout {width: 120px;}
.feature .feat-content {
float: right;
width: 300px;
}
.feature.feat-sm .feat-content {width: 480px;}
.feature ul.event-details {
margin-top: 1.5em;
margin-bottom: 32px;
list-style-type: none;
}
.feature ul.event-details li strong {
width: 150px;
margin-right: .6em;
text-transform: uppercase;
}
.feature img {margin-right: 1em;}
.feature .button {margin-top: .8em;}
.feature a.primary.button {
display: block;
padding-left: 0;
padding-right: 0;
width: 100%;
}


/*- SINGLE CONVERSATION PAGE STYLES
----------------------------------------------------------------------*/

/*- Tabs ----------*/

div.tab-strip-options, div.tab-strip div.panels {float: left;}
div.tab-strip ul {
list-style-type: none;
margin-bottom: 0;
margin-left: 0;
border-bottom: solid 1px #ccc;
}
div.tab-strip ul li {margin: 0;}
.divided div.tab-strip ul li {border-bottom: none;}
div.tab-strip ul li a {
display: block;
padding: 5px 9px;
text-decoration: none;
background: #ddd;
border: solid 1px #ccc;
border-bottom: none;
}
div.tab-strip ul li a.tab-active {
border-bottom: none;
background: #fff;
}
div.tab-strip textarea {
width: 97%; /* This gets modified in the show.js easytabs:after binding, so it doesn't matter for now */
margin: 0;
}
div.tab-strip input[type=text] {width: 97%;}
div.convo-summary {
clear: both;
line-height: 1.4em;
margin-bottom: 0.8em;
padding-top: 15px;
}
.convo-mast-buttons a.button {width: 150px;}

/*- Conversation Divider ----------*/

/*--- New Hottness --*/

.hide_contrib_tool {
position: absolute;
left: -10000px;
top: auto;
overflow: hidden;
}
.contrib_tool_container,
form.contribution_edit {
background: #e6e6e6;
border: 1px solid #ccc;
margin-top: 20px;
padding: 10px 20px;
text-align: left;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.contrib_tool_container .section input,
form.contribution_edit .section input{
margin-bottom: 10px;
}
form.contribution_edit .title,
.contrib_tool_container .title{
font-weight: bold;
}
.divided div:last-child.contrib_tool_container {border-bottom: 1px solid #ccc;}
#cancel-contribution, form.contribution_edit .cancel {margin-left: 10px;}
.mceEditor, #contribution-add-link, #contribution-add-file,
form.contribution_edit .add-link, form.contribution_edit .add-file {
display: block;
margin-bottom: 10px;
}
#contribution-add-link, #contribution-add-file,
form.contribution_edit .add-link, form.contribution_edit .add-file {
background: url(/images/icons/sm_add.png) no-repeat 0 2px;
padding-left: 20px;
}
div.contribution-container {zoom: 1;}

.comment {padding-bottom: 0;}

div.contribution-container.collapsed > .comment > .content p {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
-moz-binding: url('/stylesheets/ellipsis.xml#ellipsis');
width: auto;
}
div.contribution-container.collapsed > .comment > .edit-contribution,
div.contribution-container.collapsed > .comment > .convo-utility,
div.contribution-container.collapsed > .comment > .content p,
div.contribution-container.collapsed > .comment > .content ol,
div.contribution-container.collapsed > .comment > .content ul,
div.contribution-container.collapsed > .comment > .attached-file,
div.contribution-container.collapsed > .comment > .link-title,
div.contribution-container.collapsed > .comment > .embedded,
div.contribution-container.collapsed > .comment > .link-title,
div.contribution-container.collapsed > .comment > .link-quot {
display: none;
}
div.contribution-container.collapsed > .comment > .content p:nth-child(2) {
display: block;
}

div.contribution-container.collapsed > div.callout {width: 20px;}
div.contribution-container.collapsed > .callout img {
width: 20px;
height: 20px;
}
div.contribution-container.collapsed .expand-text {font-style: italic;}

div.convo-divider {
border-bottom: 3px solid #ddd;
margin-bottom: 40px;
padding: 10px 0 20px;
position: relative;
}
div.convo-divider p.date-stamp {
background: #ddd;
font-weight: bold;
left: 0;
padding: 4px 10px;
position: absolute;
top: 17px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

/*- Conversation Utility ----------*/

.edit-contribution {
float: right;
}
.thread-list .thread-list .contribution-container .edit-contribution{
margin-right: 40px;
}
.edit-contribution a {margin-left: 15px;}
div.convo-utility {
position:relative;
/* margin-bottom: -13px; */
z-index: 100;
}
div.convo-utility.response {
}
div.convo-utility div.tos {
color: #808080;
font-size: 80%;
display: block;
float: none;
text-align: right;
}
div.convo-utility div.tos a:link {color: #808080;}
div.convo-utility span.respond {
display: block;
float: right;
text-align: right;
}
html.js div.productive {display: none;}
div.productive {
background: #d6d6d6 url(../images/productivity_bg.gif) repeat-x top;
clear: both;
overflow: hidden;
padding: 10px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
div.productive p {margin: 0;}
div.productive a.button {margin-right: 0;}
.issue {
position: relative;
padding: 0px;
}
div.link-meta {overflow:hidden;}
div.embed-content {
word-break: break-word;
display: table-cell;
}
div.link-meta p.embedded {
  display: inline;
  float: left;
  margin-right: 10px;
}
p.link-quot {
color: #636363;
}

div.link-meta p.link-title a, div.link-meta p.link-quot a{
  text-decoration: none;
  font-weight: bold;
}
div.link-meta p.link-title a:hover, div.link-meta p.link-quot a:hover, div.link-meta p.embedded a:hover {
  cursor: pointer;
}
.issue .date {
top: 0;
position: absolute;
width: 70px;
text-align: center;
height: 100%;
background: #1379b9;
text-transform: uppercase;
font-weight: bold;
}
.issue .date span.day {
display: block;
letter-spacing: 1px;
font-weight: bold;
}
.issue .date p {
padding-left: 0;
margin-top: 10px;
color: #fff;
}
.issue p {padding-left: 80px;}

/*- Contribution Threads ----------*/

.contribution-container .contribution-toggle {display: none;}
.thread-list .thread-list .contribution-container .content {padding-right: 40px;}
.thread-list .thread-list .contribution-container .contribution-toggle {
background: url(../images/accordion-icon.png) no-repeat 0 0;
display: block;
height: 27px;
position: absolute;
right: 0;
text-indent: -9999px;
top: 10px;
width: 25px;
}
.content {overflow: hidden;}
.thread-list .thread-list .contribution-container .contribution-toggle:hover {background-position:  0 -27px;}
.thread-list .thread-list .contribution-container .contribution-toggle:active,
.thread-list .thread-list .contribution-container .contribution-toggle.active {background-position:  0 -54px;}

/*- Rating and Response Buttons ----------*/

a.rating-button,
span.rating-button {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
border: 1px solid #ccc;
display: inline-block;
color: #777;
font-size: .917em;
font-weight: bold;
padding: 4px 12px;
position: relative;
text-decoration: none;
text-shadow: 1px 1px 0px #ffffff;
top: 13px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow:0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
-moz-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
-o-box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
box-shadow: 0 1px 1px rgba(255,255,255,1), 0 0 1px rgba(255,255,255,1) inset;
}
div.respond-container {
clear: both;
margin: 15px 0 20px;
}
a.rating-button:hover, a.rating-button.active {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2af5d), to(#7b893b));
background: -moz-linear-gradient(center top , #a2af5d, #7b893b);
filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorStr=#FFa2af5d, endColorStr=#FF7b893b);
border: 1px solid #94A647;
color: #f3f3f3;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
a.rating-button span.number,
span.rating-button span.number {
background: #fff;
color:#9cb050;
display: inline-block;
margin: 0 -5px 0 5px;
padding: 1px 3px;
text-shadow: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
}
a.rating-button:active {
background: #fff;
color: #94a647;
text-shadow: none;
}
a.rating-button span.loading {
display: none;
margin: 0;
padding: 0;
vertical-align: top;
line-height: 0;
}
div.button-wrapper {
border-bottom: 1px solid #ccc;
position: relative;
}
a.respond.rating-button {
position: absolute;
right: 0;
}
div:last-child.button-wrapper {border-bottom: 1px solid #ccc;}

/*- Conrelativeesation Ticker ----------*/

.conversation-ticker {
background-color: #fff;
border: 1px solid #ccc;
border-left: none;
border-right: none;
clear: both;
margin-bottom: 10px;
padding: 16px;
}
.conversation-ticker strong {
margin-right: 10px;
text-transform: uppercase;
}

/*- Event Details ----------*/

ul.event-details li {margin-bottom: 0;}
ul.event-details li strong {
margin-right: 10px;
width: 70px;
display: inline-block;
text-align: right;
text-transform: uppercase;
}
ul.event-details li em {
font-style: normal;
font-weight: bold;
}
ul.event-details li a {font-weight: bold;}


/*- FOOTER STYLES
----------------------------------------------------------------------*/

div#footer {
clear: both;
font-size: .75em;
margin-bottom: 40px;
}
#footer-inner {
border-top: 1px solid #C3C6CD;
margin: 30px auto 0;
padding: 30px 0 10px;
width: 940px;
}
div#footer h3 {
border-bottom: none;
color: #666;
font-size: 1em;
text-shadow: 0 1px 1px rgba(255,255,255,1);
text-transform: uppercase;
}
ul.sub-nav {
margin-left: 0;
margin-bottom: .5em;
}
ul.sub-nav li {list-style-type: none;}
ul.social-media {
margin-bottom: .5em;
margin-left: 0;
}
ul.social-media li {
float: left;
list-style-type: none;
}
ul.social-media li a {
display: block;
height: 16px;
margin-right: 15px;
opacity: .75;
text-indent: -9999px;
width: 16px;
}
ul.social-media li a:hover {opacity: 1;}
a#facebook {background: url(/images/facebook_16.png) no-repeat;}
a#twitter {background: url(/images/twitter_16.png) no-repeat;}
a#youtube {background: url(/images/youtube_16.png) no-repeat;}
a#rss {background: url(/images/rss_16.png) no-repeat;}
div#cc-footer {
border-top: 1px solid #C3C6CD;
padding: 20px 0 0 0;
}
div#cc-footer p {
background: url(/images/cc_footer.png) no-repeat 0 0;
padding: 3px 0px 5px 50px;
width: 650px;
}


/*- THREAD LIST STYLES
----------------------------------------------------------------------*/

ul.thread-list {
list-style-type: none;
margin: 1em 0;
}
ul.thread-list li {
border-bottom: 1px dashed #999;
margin-bottom: 2em;
padding-bottom: 2em;
position: relative;
}
ul.thread-list div.article {padding-left: 70px;}
ul.thread-list div.meta {
left: 0;
position: absolute;
}

/*- Legacy Styles ----------*/

ul.event-details {
margin-bottom: 15px;
margin-left: 0;
list-style-type: none;
}
ul.conversation-stream {
margin-left: 0;
list-style-type: none;
}
ul.conversation-stream li {margin-bottom: 30px;}
.comment a.question_recipient {font-weight: normal;}
.comment ol.replies {
padding-left: 80px;
margin-top: 30px;
margin-left: 0;
list-style-type: none;
}
div.conversation-input-container {margin-bottom: 25px;}
.comment .meta {width: 60px;}
.comment .meta {
color: #9b9b9b;
font-size: .857em;
font-weight: bold;
text-align: center;
}
.comment-type {
background-color: #c1c1c1;
color: #fff;
font-size: .857em;
font-weight: bold;
padding-top: 2px;
padding-bottom: 2px;
text-transform: uppercase;
text-align: center;
}
.comment-type.reply {background-color: transparent;}
.comment-type.answer {background-color: transparent;}
.comment-type.unofficial {
background: #f00 url(/images/comment-unofficial.png) no-repeat right;
padding: 0;
padding-left: 50px;
/* width: 20px; */
height: 15px;
}
.comment-type.question {
background: url(/images/comment-question.png) no-repeat right;
padding: 0;
padding-left: 58px;
width: 12px;
height: 16px;
}


/*- SEARCH PAGE STYLES
----------------------------------------------------------------------*/

.results h4 {
font-size: 1.166em;
margin-bottom: .4em;
}
.results h1 {margin-bottom: 25px;}
.result {
margin-bottom: 10px;
padding: 2px 0 2px 35px;
}
.community-result {background: url("/images/people-r.png") no-repeat scroll 0 2px transparent;}
.issue-result {background: url("/images/issues-r.png") no-repeat scroll 4px 2px transparent;}
.conversation-result {background: url("/images/conv-r.png") no-repeat scroll 2px 2px transparent;}
.results .offset-2 {min-height: 50px;}
.results a img.callout {border: 1px solid #bbb;}
.results a:hover img.callout {border-color: #999;}


/*- MISCELLANEOUS ----------*/

/*- Temporary Fix Testing ----------*/

div.article {margin: 0;}
hr {
display: block;
border: 0;
border-top: solid 1px rgba(0, 0, 0, 0.19);
margin-bottom: 20px;
}
hr, .hide {display: none;}
a img {border: none;}
div.call-out {
background: #fff;
border: 1px solid #ccc;
min-height: 280px;
padding: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}
div.three-col-sm div.call-out .photobank {
background: #e6e6e6;
border-top: 1px solid #ccc;
bottom: 4px;
margin: 0 0 -4px -5px;
padding-top: 5px;
position: absolute;
width: 100%;
-moz-border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
-o-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
}
*:first-child+html div.three-col-sm div.call-out .photobank {padding-bottom: 5px;}
div.call-out a {
color: #444;
text-decoration: none;
}
img.region-img {margin-bottom: 2em;}
div.callout .time-stamp {
color: #9b9b9b;
font-size: .857em;
font-weight: bold;
text-align: center;
}
div.callout {width: 60px;}
img.main-img {margin-bottom: .5em;}
.feature-mast img, .main-content img.main-img {
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,.5);
box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}
img.float {
float:left;
margin-right:10px;
margin-bottom:10px;
}
.feature-mast .wrapper {
border-bottom: 1px solid #C3C6CD;
margin-bottom: 0;
}
.feature-mast img.featured {
float:left;
margin-right:15px;
}

/*- Aside Module ----------*/

.aside .mod {margin-bottom: 30px;}
.aside .mod h3 {
/*
font-weight: bold;
padding: 0 0 3px 0;
margin-bottom: 7px;
*/
text-shadow: 0 1px 1px rgba(255,255,255,1);
text-transform: uppercase;
}
.other-participants {
border-top: solid 1px #ddd;
padding-top: 15px;
margin-top: -10px;
}
.recent-item {
margin-bottom: 15px;
padding-bottom: 10px;
border-bottom: solid 1px #ccc;
}
.recent-item:last-child {
border-bottom: none;
}
.recent-item .item-person-name {
float: left;
margin-right: 0;
line-height: 1.4em;
}
.recent-item .posted {
display: block;
font-style: italic;
padding-top: 5px;
}

/*- Featured Conversation Filters ----------*/

.aside .f-conv h3 {
border-bottom: none;
padding-bottom: 0;
padding-left: 13px;
}
.aside .f-conv ul.feat-list {margin-left: 0;}
.aside .f-conv ul.feat-list li {list-style-type: none;}
.aside .f-conv ul.feat-list li a {
background-color: #fff;
background-repeat: no-repeat;
border: 1px solid #c0c0c0;
color: #777;
font-weight: bold;
display: block;
margin-bottom: .8em;
padding: 6px 10px 6px 40px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(255,255,255,1);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}
.aside .f-conv ul.feat-list li a:hover, .aside .f-conv ul.feat-list li a.active {
background-color: #dbedf5;
border-color: #9db4bc;
color: #51778e;
}
.aside .f-conv ul.feat-list li a:active {background-color: #c1d9e4;}
.aside .f-conv ul.feat-list li a#active-f {
background-image: url(../images/people-f.png);
background-position: 10px 7px;
}
.aside .f-conv ul.feat-list li a#active-f:hover, .aside .f-conv ul.feat-list li a#active-f.active {background-position: 10px -58px;}
.aside .f-conv ul.feat-list li a#recommended-f {
background-image: url(../images/recommended-f.png);
background-position: 12px 4px;
}
.aside .f-conv ul.feat-list li a#recommended-f:hover, .aside .f-conv ul.feat-list li a#recommended-f.active {background-position: 12px -56px;}
.aside .f-conv ul.feat-list li a#popular-f {
background-image: url(../images/popular-f.png);
background-position: 12px 7px;
}
.aside .f-conv ul.feat-list li a#popular-f:hover, .aside .f-conv ul.feat-list li a#popular-f.active {background-position: 12px -57px;}
.aside .f-conv ul.feat-list li a#recent-f {
background-image: url(../images/calendar-f.png);
background-position: 14px 5px;
}
.aside .f-conv ul.feat-list li a#recent-f:hover, .aside .f-conv ul.feat-list li a#recent-f.active {background-position: 14px -56px;}
#create-a-conversation {margin-bottom: 20px;}

/*- Create Conversation Feature ----------*/

.convo-create {
background: #dbedf5 url(../images/convo_create_bg.gif) repeat-x bottom;
border: 1px solid #9db4bc;
color: #51778e;
font-size: 1.167em;
margin-bottom: 20px;
padding: 20px 20px 15px;
text-shadow: 0 1px 1px rgba(255,255,255,.9);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
-o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.convo-create p {
float: left;
line-height: 1.5em;
margin-bottom: 0;
width: 320px;
}
.convo-create .convo-create-btn {
background: url(../images/create_convo_btn.png) no-repeat 0 0;
display: block;
float: right;
height: 46px;
outline: none;
text-indent: -9999px;
width: 189px;
}
.convo-create .convo-create-btn:hover {background-position: bottom;}


/*- STYLES FOR CONVO MODAL POPUP
----------------------------------------------------------------------*/

div#cboxLoadedContent div.tab-strip, div#cboxLoadedContent div.invite-form, div#cboxLoadedContent div.tos-form {font-size: .75em;}
div.convo-popup, div#cboxLoadedContent {
background: #eaeaea url(../images/convo_popup_bg.gif) repeat-x top;
border: 1px solid #ced1d6;
width: 620px;
}
div#cboxLoadedContent div.invite-form, div#cboxLoadedContent div.tos-form { padding: 10px 15px 0; }
div#cboxLoadedContent div.invite-form p, div#cboxLoadedContent div.tos-form p { margin: 10px 15px 0; }
div.convo-popup ul, div#cboxLoadedContent div.tab-strip-options ul {
float: left;
margin: 0 10px 0 0;
padding: 0;
}
div.convo-popup li, div#cboxLoadedContent div.tab-strip-options ul li a {
background: #dbdbdb url(../images/convo_popup_li.gif) repeat-x top;
color: #777;
font-weight: bold;
list-style: none;
margin: 0;
padding: 8px 0 8px 15px;
width: 100px;
}
div#cboxLoadedContent div.tab-strip-options ul li a#comment_tab {border-top: none;}
div.convo-popup li:last-child {border-bottom: none;}
div.convo-popup li.active, div.convo-popup li:hover, div#cboxLoadedContent div.tab-strip-options ul li a:hover, div#cboxLoadedContent div.tab-strip-options ul li a.tab-active {
background: none;
border-right: none;
color: #333;
cursor: pointer;
}
div.convo-popup form, div#cboxLoadedContent form#contribution_new,  div#cboxLoadedContent form.contribution_edit {
float: right;
margin: 7px 2px 0 0;
width: 414px;
}
div.convo-popup form textarea, div#cboxLoadedContent textarea {
display: block;
height: 135px;
margin-bottom: 8px;
width: 405px;
clear: both;
}
div.convo-entry input.textbox,  div#cboxLoadedContent .input-with-options label, div.convo-entry p.help-text {width: 310px;}
div.convo-entry a.button, div#cboxLoadedContent input#contribution_submit {margin-top: 5px;}
div#cboxLoadedContent .input-with-options label {
background-color: transparent;
color: #444;
height: auto;
padding: 0;
}
div#cboxLoadedContent .input-with-options label a {color: #444;}

/*- Preview ----------*/

div#cboxLoadedContent li.offset-1 {
list-style-type: none;
margin-top: 10px;
}
div#cboxLoadedContent div.contribution-preview form.contribution_edit {
float: none;
margin-left: 70px;
width: auto;
}

/*- Moderate Button ----------*/

a.button.moderate, input.submit.moderate {background-color: #e74d4d;}
a.button.moderate:hover, input.submit.moderate:hover {background-color: #d83535;}

/*-----------------------------------------------
=New User-generated Conversation styles
-----------------------------------------------*/
.tab-strip#new-convo-contribution .tab-strip-options {width: 160px;}
.tab-strip#new-convo-contribution textarea,
.tab-strip#new-convo-contribution input[type=text] {width: 448px;}
.tab-strip#new-convo-contribution textarea {height: 156px;}
.tab-strip#new-convo-contribution .input-with-options label {width: 440px;}

.tab-strip#new-convo-contribution .input-with-options label input[type=text] {width: 428px;}


/*- IN THE NEWS STYLES
----------------------------------------------------------------------*/

.in-the-news-post {
border-bottom: 2px solid #CDCDCD;
margin:1em 0 2em;
}
.in-the-news-post .decoration {
font-size: 1.8em;
line-height: 0.8em;
text-align: center;
}
.in-the-news-post h2 {font-size: 1.1em;}
.in-the-news-post .date {
border-bottom: 1px solid #CDCDCD;
font-size: 1.1em;
margin-bottom: 0.8em;
padding-bottom: 0.5em;
}
.in-the-news-post .source {display: block;}


/*- COMMUNITY PAGE STYLES
----------------------------------------------------------------------*/

.main-content .community {
clear: both;
padding-top: 20px;
}
.buddyimg {
background: #fff;
border: 1px solid #c0c0c0;
float: left;
margin: 0 20px 20px 0;
padding: 10px;
width: 260px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}
.buddyimg .img-container {
float: left;
height: 78px;
overflow: hidden;
width: 78px;
}
.buddyimg .img-container img {
border: 4px solid rgb(224, 224, 224);
display: block;
height: 70px;
width: 70px;
}
.buddyimg .text-container {
margin-left: 78px;
padding: 0 10px;
}
div.blog {margin-bottom: 20px;}
div.blog img.callout {float: left; width: 32px; height: 32px; padding-right: 5px;}
.blog_inner, .post_info {padding-left: 40px;}
.blog_inner a, .post_info a {color: #0099FF;}
.post_info {padding-top: 20px;}


/*- SELF CLEARING FLOATS
----------------------------------------------------------------------*/

#wrapper:after, #header:after, .feature:after, div.tab-strip ul:after, div.tab-area:after, #nav:after, #header-wrapper:after, .section:after, .content-container:after, .photobank:after, div.three-col:after, div.three-col-sm:after, .form-block:after, .offset-1:after, .offset-2:after, form:after, .convo-utility:after, ul.social-media:after, div.two-col:after, div.two-col-sm:after, .conversations:after, div.convo-popup:after, .pagination p:after, .convo-create:after, p.fb-cnct-links:after, div.four-col:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*- Universal Clearing Class ----------*/

.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*- Global Warning ----------*/

.global-warning {
background: #900;
border-bottom:1px solid #700;
color:#eff;
text-align: center;
padding: 6px 0;
}
.global-warning a { color:#fff; font-weight:bold; }

/*- IE6 ----------*/

* html #wrapper, * html #header, * html .feature, * html div.tab-strip ul, * html div.tab-area, * html #nav, * html #header-wrapper, * html .section, * html .content-container, * html .photobank, * html div.three-col, * html div.three-col-sm, * html .form-block, * html .offset-1, * html .offset-2, * html form, * html .convo-utility, * html ul.social-media, * html div.two-col, * html div.two-col-sm, * html .conversations, * html div.convo-popup, * html .pagination p, * html #header-utility, * html .convo-create, * html p.fb-cnct-links, * html div.four-col {zoom: 1;}
* html .group {zoom: 1;}

/*- IE7 ----------*/

*:first-child+html #wrapper, *:first-child+html #header, *:first-child+html .feature, *:first-child+html div.tab-strip ul, *:first-child+html div.tab-area, *:first-child+html #nav, #header-wrapper, *:first-child+html .section, *:first-child+html .content-container, *:first-child+html .photobank, *:first-child+html div.three-col, *:first-child+html div.three-col-sm, *:first-child+html .form-block, *:first-child+html .offset-1, *:first-child+html .offset-2, *:first-child+html form, *:first-child+html .convo-utility, *:first-child+html ul.social-media, *:first-child+html div.two-col, *:first-child+html div.two-col-sm, *:first-child+html .conversations, *:first-child+html div.convo-popup, *:first-child+html .pagination p, *:first-child+html #header-utility, *:first-child+html .convo-create, *:first-child+html p.fb-cnct-links, *:first-child+html div.four-col {zoom: 1;}
*:first-child+html .group {zoom: 1;}
