div.civic-commons-widget-container.cleanslate div.mod-content{background:black !important;}
.civic-commons-widget-container .mod-content .recent-item p a{color:white !important;}
.civic-commons-widget-container .mod-content .recent-item h4 a{color:white !important;}
.civic-commons-widget-container .mod-content a.load-more{color:white !important;}

