<div class="notification-main">
  <span class="notification notification-info dropdown dropdown-toggle">10</span>
  <ul class="dropdown-menu dropdown-menu-large dropdown-menu-right">
    <li>
      <a href="#">
        <div class="media">
          <img class="img" src="http://placehold.it/20x20" alt="test" />
          <div class="bd">
            <p><strong>Joe Smith</strong> commented on your post.</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="media">
          <img class="img" src="http://placehold.it/20x20" alt="test" />
          <div class="bd">
            <p><strong>Joe Smith</strong> commented on your post.</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="media">
          <img class="img" src="http://placehold.it/20x20" alt="test" />
          <div class="bd">
            <p><strong>Joe Smith</strong> commented on your post.</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
