<li>
  <div class="media">
    <%= profile_image(notification.person, 20, 'img') %>
    <div class="bd">
      <a href="<%= conversation_reflection_path(conversation_id: item.conversation.id, id: item, :anchor => 'opportunity-nav') %>">
        <p><strong><%= notification.person_name %></strong> made a reflection '<%= notification.item_title %>'.</p>
      </a>
    </div>
  </div>
</li>
