<div class="mod">
  <p><strong>You participated in the following actions, would you like to reference them in your reflection?</strong></p>
  <div class="media inset">
    <% reflection_form.fields_for :petition do |petition_form| %>
      <% petitions.each do |petition| %>
        <%= petition_form.check_box("petition", "title", { :class => 'img' }, petition.id) %>
        <div class="bd"><strong><%= petition.title %></strong></div>
      <% end %>
    <% end %>
  </div>
</div>

