<div class="entry-container reverse">
  <div class="entry-meta">
    <h3><a href='<%= conversation_reflection_path(conversation_id: conversation.id, id: reflection) %>'><%= reflection.title %></a></h3>
  </div>
  <div class="entry-details full">
    <p><strong>Read the <a style="color:red;" href="#">initial proposal</a> by <%= text_profile(reflection.owner) %></strong></p>
    <p><%= raw reflection.details %></p>
    <div><img src="http://placehold.it/375x240" /></div>
    <p><a href="#">8 comments</a> | <a href="#">Leave a comment</a></p>
  </div>
</div>

