<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2 class="mtn">Share a Reflection</h2>
      <p>This is the space where we take a moment to understand what we’ve learned and the significance of our conversation and action. So, what’s been accomplished? What’s still needed? Is there an opportunity for more action or a new conversation that ought to be launched? What are the unanswered questions and who else should be invited to participate?</p>
      <%= render 'form' %>
    </div><!-- /.aside -->


  </div>
</div>
