<div class='mod'>
  <h3>Participants</h3>
  <div class='mod-content'>
    <div class='guides'>
      <div class='photobank'>
        <% @participants.each do |participant| %>
          <%= conversation_profile(participant).html_safe %>
        <% end %>
      </div>
      <br class='clear' />
    </div>
  </div>
</div>
