<div class="recent-item conversation">
  <h4><%= link_to( conversation.title, conversation_path(conversation.id)) %></h4>
  <div  class="bd">
    <%= simple_format( truncate( Sanitize.clean( conversation.summary, :remove_contents => ['script'] ).strip, :length => 100, :separator => ' ' ) ) %>
  </div>
</div>