<p>
  Conversation created:
  <%= link_to( conversation.title, conversation_path(conversation.id)) %>
</p>
<%= simple_format( truncate( Sanitize.clean( conversation.summary ), :length => 100, :separator => ' ' ) ) %>
