<%
#TODO: Sloppy, too much logic, needs refactored...

link_text = ''
if contribution.person
  link_text << contribution.person.name
else
  link_text << 'A member'
end
link_text << ' '

if contribution.content.blank?
  if contribution.title.blank?
    link_text << '.'
  else
    link_text << contribution_action_past_tense( contribution )
    link_text << ': "'
    link_text << contribution.title
    link_text << '"'
  end
else
  link_text << 'responded: "'
  link_text << truncate( Sanitize.clean( contribution.content, :remove_contents => ['script'] ).strip, :length => 100, :separator => ' ' )
  link_text << '"'
end

link_url = ''
posted_text = ''
posted_url = ''

if contribution.issue && ! ( controller.controller_name == 'issues' && controller.action_name == 'show' )
  posted_text = contribution.issue.name
  posted_url = issue_node_path( contribution )
  link_url = issue_node_path( contribution )
elsif contribution.conversation
  if controller.controller_name == 'conversations' && controller.action_name == 'show'
    posted_text = nil
    posted_url = nil
    link_url = conversation_node_path( contribution )
  else
    posted_text = contribution.conversation.title
    posted_url = conversation_path( contribution.conversation.id )
    link_url = conversation_node_path( contribution )
  end
end
%>

<p>
<%= link_to(link_text, link_url) %>
</p>
<% unless posted_text.nil? %>
  <span class="posted">
    Posted on: <%= link_to(posted_text, posted_url) %>
  </span>
<% end %>
