<p>
  <%= person_display_name( rating.person ) %> rated a response as <i><%= rating.title %></i>:
</p>

<blockquote>
  <%= simple_format( truncate( rating.contribution.content, :length => 100, :separator => ' ' ) ) %>
</blockquote>

<% unless controller.action_name == 'show' %>
  <span class="posted">
    <%= link_to( rating.conversation.title, conversation_path(rating.conversation)) %>
  </span>
<% end %>
