<div class="recent-item">
  <h4><%= survey_response.survey.title %></h4>
  <div class="bd">
    <p><%= survey_response.person.name %> has participated in this <%= survey_response.survey.type %></p>
    <p><%= link_to( "View the results", polymorphic_survey_response_url(survey_response), :class => "read-more") %></p>
  </div>
</div>

