<div class="recent-item">
  <h4><%= link_to vote.title, polymorphic_survey_url(vote) %></h4>
  <div class="offset-2">
    <%= avatar_profile(vote.person, 40) %>
    <p><%= vote.person.name %> wrote this Vote</p>
    <p><%= link_to( "View the vote", polymorphic_survey_url(vote), :class => "read-more") %>
    </p>
  </div>
</div>