<span id="facebook-like">
  <a href="http://facebook.com/sharer.php?u=<%= request.url %>">Like on Facebook</a>
</span>

<script type="text/javascript">
(function($){
  $(window).load(function(){
    var fb = document.createElement('script'); fb.type = 'text/javascript'; fb.async = true;
    fb.src = (document.location.protocol + '//connect.facebook.net/en_US/all.js#xfbml=1');
    document.getElementsByTagName('head')[0].appendChild(fb);

    $('#facebook-like').replaceWith('<fb:like send="false" layout="button_count" width="200" show_faces="false" font="arial"></fb:like>');
  });
})(jQuery);
</script>
