<h2>The Civic Commons strives to be&hellip;</h2>
<dl>
  <dt>Diverse</dt>
  <dd>The Commons is wide open. We prize a diversity of perspectives and experience.</dd>
  
  <dt>Civil</dt>
  <dd>We tackle the issues, not each other. We're as interested in each other's opinions as we are in our own. And we act like it. </dd>
  
  <dt>Transparent </dt>
  <dd>Introductions are essential. We don't do anonymity. We share biases up front and we don't hide important facts about our interest in particular stories or issues. In fact, we hope to learn as much about each other as we do about the issues themselves. </dd>
  
  <dt>Credible</dt>
  <dd>We respect facts. We cite sources. And we hold each other responsible for using both with care.</dd>
  
  <dt>Entrepreneurial</dt>
  <dd>We recognize that our ideas and solutions must be as innovative as possible, so we're not afraid to experiment, because every experiment can teach us something.</dd>
  
  <dt>Participatory</dt>
  <dd>Community building, journalism, civic conversation--these are team sports. We believe that each of our talents is essential to solving the problems and taking advantage of the opportunities facing our community. So hop off the sidelines and join the action.</dd>
  
  <dt>Optimistic</dt>
  <dd>We don't wear rose-colored glasses, but we believe in the power of positive thinking, in focusing on what's going right and what can be improved.</dd>
</dl>
