<% if recent_items.size > 0 %>
  <div class="mod">
    <h3>Recent Activity <%= "By #{person.short_name}" if defined? person %></h3>
    <div class='mod-content'>
      <%= render :partial => 'shared/recent_item', collection: recent_items %>
    </div>
  </div>
<% end %>
