<div class="suggest-auth facebook-auth fb-modal" id="suggest-auth-facebook">
  <h2>Have a Facebook account?</h2>
  <p>
    Link your account at The Civic Commons with Facebook and forget having to remember multiple passwords. 
    It's just one more way The Civic Commons is helping you join the conversation.
  </p>
  <p class="fb-cnct-links">
    <%= link_to("Connect with Facebook", person_omniauth_authorize_path(:facebook), :class => 'connectacct-link facebook-auth' ) %>
    <%= link_to "Continue without linking account",'', :class => 'decline-facebook-auth' %>
  </p>
</div>