<div class="">
  <div class="recent-item petition">
    <h4><%= link_to( petition.title, conversation_petition_path(petition.conversation, petition, :anchor => 'opportunity-nav')) %></h4>
    <p>
      <%= petition.person.name %> wrote this Petition
    </p>
  </div>
</div>

