<div class="divided">
  <div class="recent-item contribution">
    <h4><%= link_to( survey_response.survey.title, send("#{survey_response.survey.type.underscore}_path".to_sym,survey_response.survey.id)) %></h4>
    <p>
    <%= survey_response.person.name %> has participated in this <%= survey_response.survey.type %>
    </p>
  </div>
</div>

