<div class="">
  <div class="recent-item petition">
    <h4><%= link_to( vote.title, polymorphic_survey_url(vote)) %></h4>
    <p>
      <%= vote.person.name %> wrote this Vote
    </p>
  </div>
</div>

