<% content_for :header do %>
  <%= stylesheet_link_tag @template.stylesheet_path unless @template.stylesheet_path.blank? %>
<% end %>
<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <%= raw CCML.parse(@template.template, controller.request.url) %>
      </div>
    </div>
  </div>
<% end %>
