<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1>Blog</h1>

      <div class="main-content">
        <table class="tablesorter" summary="List of Content Items">
          <thead>
            <tr>
              <th>Content Item Title</th>
              <th>Author</th>
              <th>Created Date</th>
              <th>Updated Date</th>
            </tr>
            <thead>
              <tbody>
                <tr>
                  <td><%= link_to @blog_post.title, admin_content_item_path(@blog_post) %></td>
                  <td><%= @blog_post.person_id %></td>
                  <td><%= @blog_post.created_at.strftime("%m-%d-%Y %I:%M %p") %></td>
                  <td><%= @blog_post.updated_at.strftime("%m-%d-%Y %I:%M %p") %></td>
                </tr>
              </tbody>
            </table>

          </div><!-- /.main-content -->     

          <div class='aside supplementary'>
            <div>&nbsp;</div>
          </div><!-- /.aside -->      
        </div>
      </div>
    <% end %>
