<div class="fb-auth linking-success fb-modal" id="auth-facebook-linking-success">
	<h2>Successfully linked your account to Facebook</h2>
	<p>Thanks for linking your account to Facebook.</p>
	<p>Now, you can only login to CivicCommons using your Facebook account.</p>
</div>
<script type="text/javascript">
  $('a.connectacct-link.facebook-auth').replaceWith('<%=escape_javascript( unlink_from_facebook_link.to_s )%>');
</script>