<div class="fb-auth registering-email-taken fb-modal" id="auth-registering-email-taken">
  <h2>Oops. Looks like an account using the email <%= flash[:email] %> already exists.</h2>
  <p>
    Please login to The Civic Commons using <%= flash[:email] %> and link to Facebook once logged in.
  </p>
</div>

 