<div class="fb-auth successful-registration fb-modal" id="auth-successful-registration">
  <h2>Congratulations! Your registration is complete.</h2>
  <p>
    We look forward to seeing you at The Commons.
  </p>
</div>