<div class="fb-auth successful-fb-registration fb-modal" id="auth-successful-fb-registration">
  <h2>You've successfully registered using Facebook.</h2>
  <p>
    But before you join the conversation, please complete your registration by entering your zip code.<br/>
    So as a regional resource we can geographically sort where people, contributions, and conversations are coming from.
  </p>
  
<%= render :partial => '/authentication/update_account_form' %>
</div>