<div class="fb-auth successful-fb-registration fb-modal" id="auth-successful-fb-registration">
  <h2>You've successfully registered using Facebook.</h2>
  <p>
    Now, we know you're eager to get started ... but, before you join the conversation, please let us know a little bit more about where you're from by entering your zip code. 
    This helps the community know more about itself and where conversations are coming from. <br/>
    Thanks!
  </p>
  
<%= render :partial => '/authentication/update_account_form' %>
</div>