- content_for :header do
  = javascript_include_tag 'lib/link-form'

- content_for :main_body do
  .wrapper
    %h1= @contribution.title
    %p This article will be added to the bottom of the conversation or issue that you select.
    #link_form_wrapper
      =form_for @contribution, :url => "/contributions/create_confirmed_contribution" do |l|
        =l.hidden_field(:type)
        =l.hidden_field(:issue_id)
        =l.hidden_field(:conversation_id)
        =l.hidden_field(:title)
        =l.hidden_field(:url)
        %p
          =l.text_area :description, :as => "text", :rows => 3, :placeholder => "Leave a comment"
        %p
          =l.submit "Continue"
    %ul.attach-to.link-list
      -@issues.each do |i|
        %li.attach-issue{:data => {:issue_id => i.id}}
          %input.submit{:type=>"submit", :value=>"Attach to Issue", :method=>:put}
          =i.name
      -@conversations.each do |c|
        %li.attach-conversation{:data => {:conversation_id => c.id}}
          %input.submit{:type=>"submit", :value=>"Attach to Conversation", :method=>:put}
          =c.title
