# This is a sample placeholder.
development:
  bucket: appname_development
  access_key_id: some access key
  secret_access_key: some secret access key
  distribution_domain: XXXX.cloudfront.net

test:
  bucket: appname_test
  access_key_id: some access key
  secret_access_key: some secret access key
  distribution_domain: XXXX.cloudfront.net

staging:
  bucket: appname_staging
  access_key_id: some access key
  secret_access_key: some secret access key
  distribution_domain: XXXX.cloudfront.net

