development:
  devise:
    email: "The Civic Commons <admin@somewhere.com>"
    mailer_host: "development.somewhere.com"
    pepper: "somereallylongstringtoemcryptuserspasswords"
  facebook:
    app_id: 'crazyfacebookid'
    app_secret: 'facebooksecretsauce'
  mailer:
    api_token: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-us1"
    list: "planetoftheapes"
    intercept: true
  rails_secret_token: "randonStuffThatsAtLeast30CharachtersYo128DirtyWithTh"
  smtp:
    address: "smtp.sendsomemail.net"
    domain: "somewhere.com"
    username: "someadmin@somewhere.com"
    password: "somethingsupercryptic"
  security:
    ssl_login: false

test:
  devise:
    email: "The Civic Commons <admin@somewhere.com>"
    mailer_host: "test.somewhere.com"
    pepper: "somereallylongstringtoemcryptuserspasswords"
  facebook:
    app_id: 'crazyfacebookid'
    app_secret: 'facebooksecretsauce'
  mailer:
    api_token: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-us1"
    list: "planetoftheapes"
    intercept: false
  rails_secret_token: "randonStuffThatsAtLeast30CharachtersYo128DirtyWithTh"
  smtp:
    address: "smtp.sendsomemail.net"
    domain: "somewhere.com"
    username: "someadmin@somewhere.com"
    password: "somethingsupercryptic"
  security:
    ssl_login: false

integration:
  devise:
    email: "The Civic Commons <admin@somewhere.com>"
    mailer_host: "integration.somewhere.com"
    pepper: "somereallylongstringtoemcryptuserspasswords"
  facebook:
    app_id: 'crazyfacebookid'
    app_secret: 'facebooksecretsauce'
  mailer:
    api_token: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-us1"
    list: "planetoftheapes"
    intercept: true
  rails_secret_token: "randonStuffThatsAtLeast30CharachtersYo128DirtyWithTh"
  smtp:
    address: "smtp.sendsomemail.net"
    domain: "somewhere.com"
    username: "someadmin@somewhere.com"
    password: "somethingsupercryptic"
  security:
    ssl_login: true

staging:
  devise:
    email: "The Civic Commons <admin@somewhere.com>"
    mailer_host: "staging.somewhere.com"
    pepper: "somereallylongstringtoemcryptuserspasswords"
  facebook:
    app_id: 'crazyfacebookid'
    app_secret: 'facebooksecretsauce'
  mailer:
    api_token: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-us1"
    list: "planetoftheapes"
    intercept: true
  rails_secret_token: "randonStuffThatsAtLeast30CharachtersYo128DirtyWithTh"
  smtp:
    address: "smtp.sendsomemail.net"
    domain: "somewhere.com"
    username: "someadmin@somewhere.com"
    password: "somethingsupercryptic"
  security:
    ssl_login: true

production:
  devise:
    email: "The Civic Commons <admin@somewhere.com>"
    mailer_host: "production.somewhere.com"
    pepper: "somereallylongstringtoemcryptuserspasswords"
  facebook:
    app_id: 'crazyfacebookid'
    app_secret: 'facebooksecretsauce'
  mailer:
    api_token: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-us1"
    list: "planetoftheapes"
    intercept: false
  rails_secret_token: "randonStuffThatsAtLeast30CharachtersYo128DirtyWithTh"
  smtp:
    address: "smtp.sendsomemail.net"
    domain: "somewhere.com"
    username: "someadmin@somewhere.com"
    password: "somethingsupercryptic"
  security:
    ssl_login: true

