development:
  url:                  "http://civiccommons.digitalcitymechanics.com"
  admin_password:       admin

test:
  url:                  "http://civiccommons.digitalcitymechanics.com"
  admin_password:       admin

staging:
  url:                  "http://socialstaging.theciviccommons.com"
  admin_password:       admin

production:
  url:                  "http://social.theciviccommons.com"
  admin_password:       admin
