<script id="attachment-fields-template" type="text/tmpl">
<div class="attachments">
  <div class="add-link"><div>
    <a href="#" id="contribution-add-link">Add a link to a related website</a>
    <%= form.text_field(:url, :type => "text", :class => "textbox hide") %>
  </div></div>

  <div class="add-file"><div>
    <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
    <%= form.file_field(:attachment, :class=>"hide") %>
  </div></div>
</div>
</script>
