<div class="fb-auth forgot-password fb-modal" id="fb-auth-forgot-password">
  <h2>Unable to reset your password</h2>
  <p>
    Unfortunately, we cannot reset your password because your Civic Commons account was registered using Facebook.
  </p>
  <p>
    <strong>
      Please login with Facebook.
    </strong>
  </p>
  <p>
    <%= link_to "Sign in with Facebook", person_omniauth_authorize_path(:facebook), :class => 'createacct-link facebook-auth fb-login-btn' %>
  </p>
</div>