<a class="button" id="follow" href="/subscriptions/subscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Follow" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">Follow this <%=subscribable_type%></a>
