<a class="button wide-button" id="follow" href="/subscriptions/unsubscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Stop Following" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">Following</a>
