<a class="button" id="follow" href="/subscriptions/unsubscribe?type=<%= subscribable_type %>&id=<%= subscribable_id %>" title="Stop Following this conversation" data-remote="true" data-method="POST" data-target="#subscription" rel="nofollow">Stop Following</a>
