<div class='<% classes(contribution) %>'>
  <% unless contribution.title.nil? %>
    <%= link_to contribution.title, contribution.url %>
  <% end %>
  <p><%= contribution.content %></p>
  <p class="profile-meta">Contributed to <%= link_to  %> on <%= contribution.created_at %></p>
</div>
