<% if votes %>
    <ul>
      <% votes.each do |vote| %>
        <li>
          <a href="<%= vote_path(vote)%>">
            <h4><%= vote.title %></h4>
            <%= simple_format(truncate(Sanitize.clean(vote.description), {:length => 125, :separator => ' '})) %>
          </a>
        </li>
      <% end %>
    </ul>
<% end %>
