<% content_for(:main_body) do %>
  <%= render :partial => "#{@surveyable.class.name.pluralize.underscore}/survey_header", :object => @surveyable if @surveyable %>
  <div class="wrapper">
    <div class="content-container">
      <div class="main-content">
        <div class="voting-container">
          <h1>This Ballot is not available at this moment.</h1>
          <p class="vote-time">Please come back again on or after <%= @survey.start_date.present? && @survey.start_date.to_s(:long) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>