<div class="modal">
	<h2>Thank you for voting!</h2>
	<p>Your ballot has been cast and a confirmation of your selection(s) has been sent to your e-mail.</p>
	<p>Stay tuned for the final results.</p>
</div>