=form_for [:admin, @region], :html =>{:multipart => true}  do |f|
  %p
    =show_errors @region
    %p
      =@region.city_name + ", " + @region.province
    =f.label :display_name
    %br
    =f.text_field :display_name
  %br

  %p
  .actions
    =f.submit
