%h1 Metro Regions Grouped By Display Name
%table.topics.tablesorter(summary="List of Metro Regions")
  %thead
    %tr
      %th Display Name
      %th Action
  %tbody
    - @regions.each do |r|
      %tr{"data-region-id" => r.id}
        %td= r.display_name
        -#=link_to r.metro_name, r
        %td= link_to "(edit)", "/admin/metro_regions/#{r.id}/edit_display_names"
