%h1 Mass Update Display Names
=form_for [:admin, @region], :url => { :action => 'update_display_names', :method => "put" }, :html =>{:multipart => true}  do |f|
  %p
    =show_errors @region
    =@region.display_name
  %p
    =f.label :display_name
    %br
    =f.text_field :display_name
  %br
  %p
    %b
      This updates all regions with exactly the same name.
  %p
  .actions
    =f.submit
