%h1 Metro Regions
%table.topics.tablesorter(summary="List of Metro Regions")
  %thead
    %tr
      %th City
      %th Display Name
      %th(colspan="2") Actions
  %tbody
    - @regions.each do |r|
      %tr{"data-region-id" => r.id}
        %td= r.city_name + ", " + r.province
        %td= r.display_name
        -#=link_to r.metro_name, r
        %td= link_to "(edit)", "/admin/metro_regions/#{r.id}/edit"
