<h2>New Content Item</h2>

<%= render 'form' %>

<script type="text/javascript">
  $().ready(function() {
    init_tiny_mce('#content_item_summary, #content_item_body');
    $('#content_item_published').datepicker();
	});
</script>
