%h2 Edit Person Information
=form_for [:admin, @person], :html => {:multipart => true} do |person|
  =show_errors @person
  %p
    =person.label :name
    %br
    =person.text_field :name
    
  %p
    =person.label :email
    %br
    =person.text_field :email
    
  %p
    =person.label :zip_code
    %br
    =person.text_field :zip_code
    

  -if @person.avatar.exists?
    =image_tag @person.avatar.url(:standard)

  %p
    =person.label :avatar, "Image"
    =person.file_field :avatar
    
  %p
    =person.label :admin
    =person.check_box :admin
    
    %p
    =person.label :proxy
    =person.check_box :proxy
    
  %p
    =person.submit
%br
=link_to "Back", admin_root_path
