%h2 People List
%table
  %thead
    %tr
      %th Name
      %th Validated
      %th Admin
      %th Proxy
  %tbody
    -@people.each do |person|
      %tr
        %td=link_to person.full_name, admin_person_path(person)
        %td=person.validated?
        %td=person.admin?
        %td=person.proxy?
        %td=link_to "Edit", edit_admin_person_path(person)
        
%br
=link_to "Add Person", new_admin_person_path

