%h2 People List
%table.people.tablesorter
  %thead
    %tr
      %th Name
      %th Admin
      %th Proxy
  %tbody
    -@people.each do |person|
      %tr
        %td=link_to person.name, admin_person_path(person)
        %td=person.admin?
        %td=person.proxy?
        %td=link_to "Edit", edit_admin_person_path(person)
        
%br
=link_to "Add Proxy", new_admin_person_path

