%h2 Create a Proxy Account
=form_for [:admin, @person], :html => {:multipart => true} do |person|
  = show_errors @person
  %p
    =person.label :name
    %br
    =person.text_field :name
    
  %p
    =person.label :zip_code
    %br
    =person.text_field :zip_code  
    
  %p
    =person.label :avatar, "Please upload an image for this person"
    %br
    =person.file_field :avatar
  
  %p
    =person.submit
%br
=link_to "Back", admin_root_path
