%h2
  -if @person.avatar.exists?
    =image_tag @person.avatar.url(:standard)
  -else
    No Avatar -
  = @person.name

%table
  %tbody
    %tr
      %td Email
      %td=@person.email
    %tr
      %td Zip Code
      %td=@person.zip_code
    %tr
      %td Proxy?
      %td=@person.proxy? ? "Yes" : "No"
    %tr
      %td Admin?
      %td=@person.admin? ? "Yes" : "No"
    %tr
      %td Created At?
      %td=@person.created_at? ? "#{@person.created_at}" : "-"
    %tr
      %td Confirmation Sent At?
      %td=@person.confirmation_sent_at? ? "#{@person.confirmation_sent_at}" : "-"
    %tr
      %td Confirmed At?
      %td=@person.confirmed_at? ? "#{@person.confirmed_at}" : "-"
    %tr

%p
  -if @person.confirmation_token && !@person.proxy?
    =link_to "Confirm User", confirmation_path(@person, :confirmation_token => @person.confirmation_token)
    |
  =link_to "Edit", edit_admin_person_path(@person)
  |
  =link_to "Back", admin_people_path


