<%= render :partial => 'layouts/opportunities' %>

<!--brads test start-->
<div class='wrapper'>
<div class='content-container'>
  <div class='main-content'>
    <div id='show_conversation'>
      <input id='conversation_id' type='hidden' value='369'>
      <input id='post_model_type' type='hidden' value='Comment'>
      <ol class='conversations divided thread-list'>
        <li class='offset-1' id='show-contribution-7260'>
          <a name='contribution-7260'></a>
          <div class='contribution-container uncollapsed'>
            <div class='callout'>
              <a href="http://localhost:3000/user/daryl-rowland" title="Daryl Rowland"><img alt="Daryl Rowland" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/934/standard/D and Tut.jpg?1308676625" title="Daryl Rowland" width="40" /></a>
            </div>
            <div class='article comment'>
              <a name='#post7260'></a>
              <div class='edit-contribution'>
              </div>
              <div class='content'>
                <span class='contribution-person-name'><a href="http://localhost:3000/user/daryl-rowland" title="Daryl Rowland">Daryl Rowland</a></span>
                <p><span style="font-size: 15px; font-family: Arial; color: #000000; background-color: transparent; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline;">When you think of America today, what thoughts and emotions come to mind? What divides us? What unites us?</span></p>
                <a class='contribution-toggle active' href='#'>Toggle</a>
                <p>
                  <i class='date'>
                    Posted Feb 06, 2012
                  </i>
                </p>
              </div>
              <div class='convo-utility response'>
                <div class='respond-container'>
                  <div class='tos'>
                    Inappropriate?
                    <a href="/tos/7260" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7260" title="Alert Us of Terms of Service Violations">Alert us.</a>
                  </div>
                  <div class='button-wrapper'>
                    <a href="/conversations/toggle_rating?contribution_id=7260&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7260-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7260&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7260-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>1</span></a> <a href="/conversations/toggle_rating?contribution_id=7260&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7260-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a>
                    <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7260" title="Respond to Daryl">Respond to Daryl</a>
                    <script type='text/javascript'>
                      //<![CDATA[
                        enable_post_to_conversation($('#respond-to-7260'));
                      //]]>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class='conversations divided thread-list'>
            <li class='offset-1' id='show-contribution-7261'>
              <a name='contribution-7261'></a>
              <div class='collapsed contribution-container'>
                <div class='callout'>
                  <a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
                </div>
                <div class='article comment'>
                  <a name='#post7261'></a>
                  <div class='edit-contribution'>
                  </div>
                  <div class='content'>
                    <span class='contribution-person-name'><a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy">Jason Segedy</a></span>
                    <p>When I think of America today, the resulting emotions are inextricably tangled, jumbled, and contradictory. There is a yin and a yang fluctuating through my thoughts: idealism/cynicism; pragmatism/utopianism; greed/generosity; selfishness/altruism; fear/hope; apathy/engagement; cowardice/courage; decadence/virtue.</p><p>Yes, every nation and every culture throughout recorded history has undoubtedly experienced and struggled with these same dichotomies; the same push-and-pull of contrary forces and impulses. But when I think about where we are today in this country, I can't escape the feeling that we are at a real crossroads; a true tipping-point where what we decide to do right here, right now, will affect the future in a deep and profound way.</p><p>We have a cultural, economic, and social identity crisis in this country. We are facing challenges in all of these realms that have transcended the ability of our existing institutions to deal with them. Our political, economic, cultural, and religious institutions are dysfunctional and broken, and they are simply not up to the task.</p><p>There is a season and a time to every purpose. If you believe Neil Howe and William Strauss (I do), we are in the beginning stages of a once every 80-odd-years-or-so realignment of our society that is cyclical and generational. The change is inevitable, but the shape that it will take is not. There is great opportunity and great danger ahead.</p><p>I won't bore everyone with a litany of what I think went wrong in this country or what I think should change. What most of us could probably agree on is that SOME sort of change is needed. Things cannot (and will not) continue on as they have forever. Our trajectory is unsustainable, and it will change when it truly cannot go on as it has.</p><p>My generation (and most of the participants on this site) have really never known deprivation of any of our physical or material needs (food, clothing, shelter, safety); indeed most of us have had the good fortune to enjoy an abundance of these things. But I would argue that we have known great cultural and spiritual deprivation (unity-of-purpose, social ties-that-bind, objective truth, and inner peace). Our individualism, utlitarianism, naturalism, and materialism has had its benefits, but it has not been without its liabilites.</p><p>So, in closing, and back to the yin and the yang -- I believe that the challenge that we are all faced with, when boiled down to its very essence, is this: to collectively recapture the balance between the individual and the society; between people and things; and individually, between the physical and spiritual; and between knowledge and wisdom. If we can do that, I am confident that we can navigate any challenge. If we cannot, we will continue, irrevocably to drift into anomie, and some other culture or civilization, unrecognizable to us, will take our place. The choice is ours.&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                    <a class='contribution-toggle' href='#'>Toggle</a>
                    <p>
                      <i class='date'>
                        Posted Feb 06, 2012
                      </i>
                    </p>
                  </div>
                  <div class='convo-utility no-response'>
                    <div class='respond-container'>
                      <div class='tos'>
                        Inappropriate?
                        <a href="/tos/7261" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7261" title="Alert Us of Terms of Service Violations">Alert us.</a>
                      </div>
                      <div class='button-wrapper'>
                        <a href="/conversations/toggle_rating?contribution_id=7261&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7261-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>3</span></a> <a href="/conversations/toggle_rating?contribution_id=7261&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7261-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>3</span></a> <a href="/conversations/toggle_rating?contribution_id=7261&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7261-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>5</span></a>
                        <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7261" title="Respond to Jason">Respond to Jason</a>
                        <script type='text/javascript'>
                          //<![CDATA[
                            enable_post_to_conversation($('#respond-to-7261'));
                          //]]>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ol class='conversations divided thread-list'>
                
              </ol>
            </li>
            <li class='offset-1' id='show-contribution-7266'>
              <a name='contribution-7266'></a>
              <div class='collapsed contribution-container'>
                <div class='callout'>
                  <a href="http://localhost:3000/user/michael-gray" title="Michael Gray"><img alt="Michael Gray" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/247/standard/156626_1578814484536_1660867891_1306507_770839_n.jpg?1291315506" title="Michael Gray" width="40" /></a>
                </div>
                <div class='article comment'>
                  <a name='#post7266'></a>
                  <div class='edit-contribution'>
                  </div>
                  <div class='content'>
                    <span class='contribution-person-name'><a href="http://localhost:3000/user/michael-gray" title="Michael Gray">Michael Gray</a></span>
                    <p>&nbsp;</p><p>When I think of America today, I believe we are misguided, ignorant, irresponsible, unethical, and immoral. I believe our society is focused more on greed and ego which is what causes division. Our government loses credibility daily, and with that comes a point of view questioning our laws, our ethics as a society, and the lack of concern for America's well being. We, as a nation, have lost sight of character which means the lack of accountability.</p>
                    <a class='contribution-toggle' href='#'>Toggle</a>
                    <p>
                      <i class='date'>
                        Posted Feb 07, 2012
                      </i>
                    </p>
                  </div>
                  <div class='convo-utility response'>
                    <div class='respond-container'>
                      <div class='tos'>
                        Inappropriate?
                        <a href="/tos/7266" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7266" title="Alert Us of Terms of Service Violations">Alert us.</a>
                      </div>
                      <div class='button-wrapper'>
                        <a href="/conversations/toggle_rating?contribution_id=7266&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7266-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7266&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7266-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7266&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7266-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>1</span></a>
                        <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7266" title="Respond to Michael">Respond to Michael</a>
                        <script type='text/javascript'>
                          //<![CDATA[
                            enable_post_to_conversation($('#respond-to-7266'));
                          //]]>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ol class='conversations divided thread-list'>
                <li class='offset-1' id='show-contribution-7267'>
                  <a name='contribution-7267'></a>
                  <div class='collapsed contribution-container'>
                    <div class='callout'>
                      <a href="http://localhost:3000/user/ronald-markowitz" title="Ronald Markowitz"><img alt="Ronald Markowitz" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/1793/standard/Ron Photo.jpg?1322063050" title="Ronald Markowitz" width="40" /></a>
                    </div>
                    <div class='article comment'>
                      <a name='#post7267'></a>
                      <div class='edit-contribution'>
                      </div>
                      <div class='content'>
                        <span class='contribution-person-name'><a href="http://localhost:3000/user/ronald-markowitz" title="Ronald Markowitz">Ronald Markowitz</a></span>
                        <p>Michael, I've never heard it said better. I believe the big question is how do we rid ourselves of the 535 in Congress who by and large are perfect examples of what you say.</p>
                        <a class='contribution-toggle' href='#'>Toggle</a>
                        <p>
                          <i class='date'>
                            Posted Feb 07, 2012
                          </i>
                        </p>
                      </div>
                      <div class='convo-utility no-response'>
                        <div class='respond-container'>
                          <div class='tos'>
                            Inappropriate?
                            <a href="/tos/7267" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7267" title="Alert Us of Terms of Service Violations">Alert us.</a>
                          </div>
                          <div class='button-wrapper'>
                            <a href="/conversations/toggle_rating?contribution_id=7267&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7267-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7267&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7267-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7267&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7267-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>1</span></a>
                            <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7267" title="Respond to Ronald">Respond to Ronald</a>
                            <script type='text/javascript'>
                              //<![CDATA[
                                enable_post_to_conversation($('#respond-to-7267'));
                              //]]>
                            </script>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ol class='conversations divided thread-list'>
                    
                  </ol>
                </li>
              </ol>
            </li>
            <li class='offset-1' id='show-contribution-7268'>
              <a name='contribution-7268'></a>
              <div class='collapsed contribution-container'>
                <div class='callout'>
                  <a href="http://localhost:3000/user/brant-lee" title="Brant Lee"><img alt="Brant Lee" class="callout" height="40" src="https://graph.facebook.com/631741112/picture" title="Brant Lee" width="40" /></a>
                </div>
                <div class='article comment'>
                  <a name='#post7268'></a>
                  <div class='edit-contribution'>
                  </div>
                  <div class='content'>
                    <span class='contribution-person-name'><a href="http://localhost:3000/user/brant-lee" title="Brant Lee">Brant Lee</a></span>
                    <p>I see a great disconnect between people who are decent and generous in their personal lives, and who support and long for engagement and community, and the strident ideologies and rhetoric that leads us to believe that OTHER people are misguided at best and evil at worst.&nbsp;</p>
                    <a class='contribution-toggle' href='#'>Toggle</a>
                    <p>
                      <i class='date'>
                        Posted Feb 07, 2012
                      </i>
                    </p>
                  </div>
                  <div class='convo-utility no-response'>
                    <div class='respond-container'>
                      <div class='tos'>
                        Inappropriate?
                        <a href="/tos/7268" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7268" title="Alert Us of Terms of Service Violations">Alert us.</a>
                      </div>
                      <div class='button-wrapper'>
                        <a href="/conversations/toggle_rating?contribution_id=7268&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7268-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7268&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7268-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7268&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7268-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a>
                        <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7268" title="Respond to Brant">Respond to Brant</a>
                        <script type='text/javascript'>
                          //<![CDATA[
                            enable_post_to_conversation($('#respond-to-7268'));
                          //]]>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ol class='conversations divided thread-list'>
                
              </ol>
            </li>
            <li class='offset-1' id='show-contribution-7274'>
              <a name='contribution-7274'></a>
              <div class='collapsed contribution-container'>
                <div class='callout'>
                  <a href="http://localhost:3000/user/david-sutula" title="David Sutula"><img alt="David Sutula" class="callout" height="40" src="https://graph.facebook.com/1193049902/picture" title="David Sutula" width="40" /></a>
                </div>
                <div class='article comment'>
                  <a name='#post7274'></a>
                  <div class='edit-contribution'>
                  </div>
                  <div class='content'>
                    <span class='contribution-person-name'><a href="http://localhost:3000/user/david-sutula" title="David Sutula">David Sutula</a></span>
                    <p>What divides us and unites us are exactly the same thing:&nbsp; We, as a culture, are completely removed from actual struggle and therefore we are unable to fully appreciate anything.&nbsp; For example; among the chief health concerns that our poorest citizens have is obesity and medical issues arising from obesity like diabetes.&nbsp; That is, our poorest people eat too much.&nbsp; In my opinion, we cannot rise again to true greatness until we are forced to earn it through hardship (and when hardship arrives, I think the great majority of us will fold completely because it will be so foreign that we won;t even be able to fully process it).&nbsp; This might sound pessimistic, but, IMO, it's just realistic.</p>
                    <a class='contribution-toggle' href='#'>Toggle</a>
                    <p class='attached-file'>
                      <a href="http://s3.amazonaws.com/appname_development/attachments/7274/large/IMG_1787.JPG?1328714365" data-colorbox="true"><img alt="Img_1787" src="http://s3.amazonaws.com/appname_development/attachments/7274/medium/IMG_1787.JPG?1328714365" /></a>
                    </p>
                    <p>
                      <i class='date'>
                        Posted Feb 08, 2012
                      </i>
                    </p>
                  </div>
                  <div class='convo-utility response'>
                    <div class='respond-container'>
                      <div class='tos'>
                        Inappropriate?
                        <a href="/tos/7274" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7274" title="Alert Us of Terms of Service Violations">Alert us.</a>
                      </div>
                      <div class='button-wrapper'>
                        <a href="/conversations/toggle_rating?contribution_id=7274&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7274-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>1</span></a> <a href="/conversations/toggle_rating?contribution_id=7274&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7274-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7274&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7274-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a>
                        <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7274" title="Respond to David">Respond to David</a>
                        <script type='text/javascript'>
                          //<![CDATA[
                            enable_post_to_conversation($('#respond-to-7274'));
                          //]]>
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ol class='conversations divided thread-list'>
                <li class='offset-1' id='show-contribution-7276'>
                  <a name='contribution-7276'></a>
                  <div class='collapsed contribution-container'>
                    <div class='callout'>
                      <a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
                    </div>
                    <div class='article comment'>
                      <a name='#post7276'></a>
                      <div class='edit-contribution'>
                      </div>
                      <div class='content'>
                        <span class='contribution-person-name'><a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy">Jason Segedy</a></span>
                        <p>David, you are right. We (and it is the "Royal We", because although I am speaking about us as a cultural whole, I can and will count myself amongst the chief offenders) don't appreciate personal sacrifice. We don't want it, we don't seek it, and we can't imagine that there is anything to be gained by it. And it is certainly not in the best interest of Wall Street, Madison Avenue, Hollywood, Washington, D.C., or (sadly and infuriatingly) our religious institutions to broach the topic. Personal sacrifice is the last thing that they want us to think about. They want us to buy s**t that we don't need, they want our money in the collection plate, and they want us to view politics as an infotainment reality TV show, not as something that involves public policy and personal responsibility.</p><p>We have yet to go through the crucible and come out on the other side: whether transformed, or found wanting. But we will. It is inevitable.</p><p>We live in accordance with this credo:</p><p>"Self-sacrifice? But it is precisely the self that cannot and must not be sacrificed." - Ayn Rand</p><p>Not this one:</p><p>"Whoever wants to be a leader among you must be your servant, and whoever wants to be first among you must be the slave of everyone else." - Jesus Christ</p><p>Or even this one:</p><p>"It's only after we've lost everything that we're free to do anything." -Tyler Durden, Fight Club</p><p>I bet you never thought you'd see those two quotes together. . .</p><p>I have yet to hear a story of personal greatness or social transformation that didn't involve deep and profound sacrifice. &nbsp;Being part of the problem myself, I don't have the answers to our problems, but we (the rich, the poor, the secular, the religious, and, most certainly, myself) could profit from considering the following:</p><p>"If I. . .can fathom all mysteries and all knowledge, and if I have a faith that can move mountains, but do not have love, I am nothing." - Paul the Apostle</p><p>Treating each other as valued brothers and sisters, rather than as enemies, or objects, or consumers, or votes, would be a wonderful first step toward true national greatness.</p>
                        <a class='contribution-toggle' href='#'>Toggle</a>
                        <p>
                          <i class='date'>
                            Posted Feb 08, 2012
                          </i>
                        </p>
                      </div>
                      <div class='convo-utility no-response'>
                        <div class='respond-container'>
                          <div class='tos'>
                            Inappropriate?
                            <a href="/tos/7276" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7276" title="Alert Us of Terms of Service Violations">Alert us.</a>
                          </div>
                          <div class='button-wrapper'>
                            <a href="/conversations/toggle_rating?contribution_id=7276&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7276-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7276&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7276-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7276&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7276-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a>
                            <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7276" title="Respond to Jason">Respond to Jason</a>
                            <script type='text/javascript'>
                              //<![CDATA[
                                enable_post_to_conversation($('#respond-to-7276'));
                              //]]>
                            </script>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ol class='conversations divided thread-list'>
                    
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li class='offset-1' id='show-contribution-7275'>
          <a name='contribution-7275'></a>
          <div class='contribution-container uncollapsed'>
            <div class='callout'>
              <a href="http://localhost:3000/user/nancy-reeves" title="Nancy Reeves"><img alt="Nancy Reeves" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/893/standard/MS150.jpg?1304999301" title="Nancy Reeves" width="40" /></a>
            </div>
            <div class='article comment'>
              <a name='#post7275'></a>
              <div class='edit-contribution'>
              </div>
              <div class='content'>
                <span class='contribution-person-name'><a href="http://localhost:3000/user/nancy-reeves" title="Nancy Reeves">Nancy Reeves</a></span>
                <p>Scenes from the 2004 election capture, for me, both what unites us and what divides us.&nbsp; That election season, for the first time since the McGovern campaign I was directly involved in campaigning.&nbsp; I spent the months before the election phoning and knocking on the doors of people likely to vote for John Kerry.&nbsp; On Election Day I worked the polls.<br /><br />When I arrived at the polls, the George Bush supporters had already set up camp.&nbsp; We parked ourselves across the driveway from them.&nbsp; Throughout the cold wet day we chatted with each other across the driveway.&nbsp; We took turns running to the convenience store across the street to bring back coffee and hot chocolate for each other, to keep a bit of the chill away.&nbsp; By the end of the day, when voters weren&rsquo;t coming up the drive we mostly chatted together on one side or the other of the drive &ndash; taking turns on the Bush or Kerry side, then scurrying back apart to grab our respective signs when a car approached in case the voter passing by was undecided.&nbsp; <br /><br />At one point, a Bush supporter complained to the election workers that the Kerry workers were inside the flags.&nbsp; The election workers came out and told my spouse and me to move outside of the flags &ndash; without saying a word to the Bush team directly across from us, also inside the flags, and the folks who had actually counted off the distance (some 300&rsquo; inside the flags the election workers had improperly placed 400&rsquo; from the polling place).<br /><br />All of us moved our camps outside the flags, even though the Bush supporters had not been threatened with arrest, or even asked to move.&nbsp; A few hours later the issue was resolved and we helped each other move everything back to our original locations.<br /><br />Anyone watching us through the day would have guessed we were old and dear friends, rather than strangers thrown together for a day because we held opposite political views.<br /><br />In sharp contrast, near the end of the day a voter passed by and glared at our Kerry sign without speaking.&nbsp; He drove off and returned a few minutes later with a truck filled with large signs bearing graphic abortion images, which he insisted on sticking in our faces while he called us baby killers.&nbsp; From the other side of the political spectrum, the day after election (which yielded not only a Kerry loss, but the passage of Ohio&rsquo;s marriage discrimination amendment) a whisper campaign began among Kerry supporters, despondent over the Bush win, that the election had been lost because &ldquo;those gays&rdquo; couldn&rsquo;t wait patiently until after this crucial election for their turn at the civil rights table.&nbsp; "Those gays;" many of whom had made the Solomon-like decision to devote our limited resources trying to get Kerry elected rather than on defeating the constitutional amendment aimed direcly at our families.<br /><br />We are at our worst when we see ourselves as &ldquo;us,&rdquo; and whoever makes a convenient target to blame the world&rsquo;s ills on as &ldquo;them.&rdquo;<br /><br />We are at our best when we sit at the table with each other, learn each others&rsquo; stories, come to care for one another, and discover that our differences are just part of what makes life interesting and, in the end, discover that that perhaps we aren&rsquo;t that different after all.</p>
                <a class='contribution-toggle active' href='#'>Toggle</a>
                <p>
                  <i class='date'>
                    Posted Feb 08, 2012
                  </i>
                </p>
              </div>
              <div class='convo-utility no-response'>
                <div class='respond-container'>
                  <div class='tos'>
                    Inappropriate?
                    <a href="/tos/7275" class="text conversation-action top-level-contribution-action-button" data-colorbox="true" id="action-link-7275" title="Alert Us of Terms of Service Violations">Alert us.</a>
                  </div>
                  <div class='button-wrapper'>
                    <a href="/conversations/toggle_rating?contribution_id=7275&amp;rating_descriptor_title=Persuasive" class="rating-button " data-method="post" data-remote="true" id="contribution-7275-rating-Persuasive" rel="nofollow">Persuasive <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7275&amp;rating_descriptor_title=Informative" class="rating-button " data-method="post" data-remote="true" id="contribution-7275-rating-Informative" rel="nofollow">Informative <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>0</span></a> <a href="/conversations/toggle_rating?contribution_id=7275&amp;rating_descriptor_title=Inspiring" class="rating-button " data-method="post" data-remote="true" id="contribution-7275-rating-Inspiring" rel="nofollow">Inspiring <span class='loading'><img alt="Loading" src="/images/loading.gif?1329490077" /></span><span class='number'>3</span></a>
                    <a href="#" class="respond text rating-button post_to_conversation" id="respond-to-7275" title="Respond to Nancy">Respond to Nancy</a>
                    <script type='text/javascript'>
                      //<![CDATA[
                        enable_post_to_conversation($('#respond-to-7275'));
                      //]]>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ol class='conversations divided thread-list'>
            
          </ol>
        </li>
      </ol>
      <div id='contribution_tool_container'>
        
        <div id="contrib" name="contrib" class="hide contrib_tool_container">
        
          <p class="title">Post to this conversation:</p>
        
          <form accept-charset="UTF-8" action="/conversations/akron-beacon-journal-seeks-citizen-views--2/contributions" class="contribution_new" data-remote="true" enctype="multipart/form-data" id="contribution_new" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="kyhmwUnG0Qqz5EbbDtA3T3NR6l1rRxg/P58g1cojl40=" /></div>
        
            <input id="contribution_parent_id" name="contribution[parent_id]" type="hidden" />
        
            <fieldset>
              <textarea class="content" cols="40" id="contribution_content" name="contribution[content]" placeholder="Leave a Comment..." rows="20"></textarea>
              <script id="attachment-fields-template" type="text/tmpl">
        <div class="attachments">
          <div class="add-link"><div>
            <a href="#" id="contribution-add-link">Add a link to a related website</a>
            <input class="textbox hide" id="contribution_url" name="contribution[url]" size="30" type="text" />
          </div></div>
        
          <div class="add-file"><div>
            <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
            <input class="hide" id="contribution_attachment" name="contribution[attachment]" type="file" />
          </div></div>
        </div>
        </script>
        
            </fieldset>
        
            <fieldset class="errors">
              <ul class="errors"></ul>
            </fieldset>
        
            <fieldset class="button-group">
              <input class="submit" id="contribution_submit" name="commit" type="submit" value="Leave my response" /> or 
              <a href="#" id="cancel-contribution">Cancel</a>
            </fieldset>
        
        </form></div>
      </div>
    </div>
  </div>
  <div class='aside supplementary'>
    <div id="search" class="">
      <form accept-charset="UTF-8" action="/search/results" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <input class="textbox" id="q" name="q" placeholder="What are you looking for?" type="text" />
        <input id="filter" name="filter" type="hidden" value="conversations" />
        <input class="submit" id="Search" type="submit" value="Search" />
    </form></div>
    <div class='mod'>
      <h3>Issues</h3>
      <div class='mod-content'>
        <ul class='link-list'>
          <li class='issue-list'>
            <a href="/issues/citizen-engagement">Citizen Engagement</a>
          </li>
          <li class='issue-list'>
            <a href="/issues/other-conversations-that-matter">Other Conversations that Matter</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='mod'>
      <h3>Participants</h3>
      <div class='mod-content'>
        <div class='guides'>
          <div class='photobank'>
          </div>
          <br class='clear'>
        </div>
        <div class='other-participants'>
          <div class='photobank'>
            <a href="http://localhost:3000/user/daryl-rowland" title="Daryl Rowland"><img alt="Daryl Rowland" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/934/standard/D and Tut.jpg?1308676625" title="Daryl Rowland" width="40" /></a>
            <a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
            <a href="http://localhost:3000/user/michael-gray" title="Michael Gray"><img alt="Michael Gray" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/247/standard/156626_1578814484536_1660867891_1306507_770839_n.jpg?1291315506" title="Michael Gray" width="40" /></a>
            <a href="http://localhost:3000/user/ronald-markowitz" title="Ronald Markowitz"><img alt="Ronald Markowitz" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/1793/standard/Ron Photo.jpg?1322063050" title="Ronald Markowitz" width="40" /></a>
            <a href="http://localhost:3000/user/brant-lee" title="Brant Lee"><img alt="Brant Lee" class="callout" height="40" src="https://graph.facebook.com/631741112/picture" title="Brant Lee" width="40" /></a>
            <a href="http://localhost:3000/user/david-sutula" title="David Sutula"><img alt="David Sutula" class="callout" height="40" src="https://graph.facebook.com/1193049902/picture" title="David Sutula" width="40" /></a>
            <a href="http://localhost:3000/user/nancy-reeves" title="Nancy Reeves"><img alt="Nancy Reeves" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/893/standard/MS150.jpg?1304999301" title="Nancy Reeves" width="40" /></a>
          </div>
        </div>
      </div>
    </div>
      <div class="mod">
        <h3>Recent Activity </h3>
        <div class='mod-content'>
          <div class="recent-item rating">
      <p class="title">
      <strong>Jeri Vespoli rated a response from Nancy Reeves as <span class="rating-type">Inspiring</span></strong>:
      </p>
    
      <div class="bd">
        <p>
        <a href="/conversations/369#node-7275">&quot;Scenes from the 2004 election capture, for me, both what unites us and what divides us.  That...&quot;</a>
        </p>
    
      </div>
    </div>
    
    <div class="recent-item rating">
      <p class="title">
      <strong>Daryl Rowland rated a response from Nancy Reeves as <span class="rating-type">Inspiring</span></strong>:
      </p>
    
      <div class="bd">
        <p>
        <a href="/conversations/369#node-7275">&quot;Scenes from the 2004 election capture, for me, both what unites us and what divides us.  That...&quot;</a>
        </p>
    
      </div>
    </div>
    
    <div class="recent-item rating">
      <p class="title">
      <strong>Jason Segedy rated a response from David Sutula as <span class="rating-type">Persuasive</span></strong>:
      </p>
    
      <div class="bd">
        <p>
        <a href="/conversations/369#node-7274">&quot;What divides us and unites us are exactly the same thing:  We, as a culture, are completely...&quot;</a>
        </p>
    
      </div>
    </div>
    
    <div class="recent-item contribution">
    
      <h4><a href="/conversations/akron-beacon-journal-seeks-citizen-views--2">Akron Beacon Journal seeks citizen views</a></h4>
    
      <div class="offset-2">
        <a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
        <p>
          <strong><a href="http://localhost:3000/user/jason-segedy">Jason Segedy</a></strong> -
          &quot;David, you are right. We (and it is the &quot;Royal We&quot;, because although I am speaking about us as a...&quot;
        </p>
        <p><a href="/conversations/369#node-7276" class="read-more">Continue Reading</a></p>
      </div>
    
    </div>
    
    <div class="recent-item rating">
      <p class="title">
      <strong>Jason Segedy rated a response from Nancy Reeves as <span class="rating-type">Inspiring</span></strong>:
      </p>
    
      <div class="bd">
        <p>
        <a href="/conversations/369#node-7275">&quot;Scenes from the 2004 election capture, for me, both what unites us and what divides us.  That...&quot;</a>
        </p>
    
      </div>
    </div>
    
    
        </div>
      </div>
  </div>
</div>
</div>
  
  <!--brads test end-->
