<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2>New Petition</h2>
      <div class="form-error mbl"><p>There were errors saving this petition.</p></div>
      
        <fieldset class="form-group">
        <label class="top-label" for="your_petition">Title:*</label>
        <input id="your_petition" name="conversation[title]" size="40" type="text" />
        </fieldset>
        
        <label class="top-label" for="explain_petition">Your Petition:*</label>
        <fieldset class="form-group">
        <textarea cols="60" id="explain_petition" name="" rows="10"></textarea>
        </fieldset>
        
        <label class="top-label" for="conversation_title">Explain what will happen if you get enough signatures:*</label>
        <fieldset class="form-group">
        <textarea cols="60" id="contribution_content" name="contribution[content]" rows="10" value="This petition will be mailed to _______ at ______ with all the signatures attached, on _____."></textarea>
        </fieldset>
        
        <fieldset class="form-group">
        <label class="top-label" for="conversation_title">Number of signatures needed:*</label>
        <input id="conversation_title" name="conversation[title]" size="40" type="text" />
        </fieldset>
        
        <fieldset class="form-group">
        <label class="top-label" for="conversation_title">Petition Ends On:*</label>
        <input id="conversation_title" name="conversation[title]" size="40" type="text" />
        </fieldset>
        <p><strong>I'm ready to submit my petition. I understand that once this is submitted that I cannot make any more changes.</strong></p>
        <fieldset>
          <input class="submit" id="contribution_submit" name="commit" type="submit" value="Publish" /> or 
          <a href="#" id="cancel-contribution">Cancel</a>
        </fieldset>
        
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
    </div><!-- /.aside -->

  </div>
</div>