<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2 class="mtn">New Vote</h2>
        <fieldset class="top-align new-vote mbl">
          <div class="form-block">
            <label class="" for="your_vote_title">Title:*</label>
            <input class="textbox" id="your_vote_title" name="your_vote_title" size="40" type="text" />
          </div>
          
          <div class="form-block">
              <label class="" for="explain_vote">Description:*</label>
              <textarea class="textbox" cols="60" id="explain_vote" name="explain_vote" rows="10"></textarea>
          </div>
          
          <div class="form-block">
              <label class="" for="vote_options">Number of options to select:</label>
              <input class="input-short textbox" id="vote_options" name="vote_options" size="40" type="text" />
          </div>
          
          <div class="form-block">
              <label class="" for="vote_end">Vote Ends On:</label>
              <input class="input-short textbox" id="vote_end" name="vote_end" size="40" type="text" />
          </div>
        </fieldset>
        
        <h3>Vote Options:</h3>
        
      <div id="contrib" name="contrib" class="contrib_tool_container mbl">
        <form accept-charset="UTF-8" action="" class="contribution_new">
          <div class="form-block">
            <input class="textbox" id="vote_options_title" name="vote_options_title" placeholder="Title" style="width: 563px" />
          </div>
          <div class="form-block">
            <!-- Adding an inline style to make this HTML mockup look right, this can be removed once the actual module is in place. -->
            <textarea class="short textbox" cols="40" id="vote_option_description" name="vote_option_description" placeholder="Description of option" rows="20" style="width: 563px;"></textarea>
          </div>
          <div>
            <div class="attachments">
              <div class="add-link section">
                <div>
                  <a href="#" id="contribution-add-link">Add a link to a related website</a>
                  <input class="textbox hide" id="contribution_url" name="contribution[url]" size="30" type="text">
                </div>
              </div>
              <div class="add-file section">
                <div>
                  <a href="#" id="contribution-add-file">Upload a photograph, document, or other file</a>
                  <input class="hide" id="contribution_attachment" name="contribution[attachment]" type="file">
                </div>
              </div>
            </div>
          </div>
          <fieldset class="button-group">
            <input class="submit" id="contribution_submit" name="commit" type="submit" value="Add another option">
          </fieldset>
        </form>
      </div> 
      <fieldset>
          <input class="submit" id="contribution_submit" name="commit" type="submit" value="Publish" /> &nbsp; or 
          <a href="#" id="cancel-contribution">Cancel</a>
      </fieldset>
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
    </div><!-- /.aside -->


  </div>
</div>