<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2>New Petition</h2>
      <div class="alert alert-error mbl">There were errors saving this petition.</div>
      
        <fieldset class="top-align">
            <div class="form-block">
                <label class="" for="your_petition">Title:*</label>
                <input class="textbox" id="your_petition" name="conversation[title]" size="40" type="text" />
            </div>
        </fieldset>
        
        <fieldset class="top-align">
            <div class="form-block">
                <label class="" for="explain_petition">Your Petition:*</label>
                <textarea class="short textbox" cols="60" id="explain_petition" name="" rows="10"></textarea>
            </div>
        </fieldset>
        
        <fieldset class="top-align">
            <div class="form-block">
                <label class="" for="conversation_title">Explain what will happen if you get enough signatures:*</label>
                <textarea class="short textbox" cols="60" id="contribution_content" name="contribution[content]" rows="10" value="This petition will be mailed to _______ at ______ with all the signatures attached, on _____."></textarea>
            </div>
        </fieldset>
        
        <fieldset class="top-align">
            <div class="form-block">
                <label class="" for="conversation_title">Number of signatures needed:*</label>
                <input class="textbox input-short" id="conversation_title" name="conversation[title]" size="40" type="text" />
            </div>
        </fieldset>
        
        <fieldset class="top-align">
            <div class="form-block">
                <label class="" for="conversation_title">Petition Ends On:*</label>
                <input class="textbox input-short" id="conversation_title" name="conversation[title]" size="40" type="text" /> <a title="Pick a date" href="#" class="date-picker">Pick a date</a>
            </div>
        </fieldset>

        <p><strong>I'm ready to submit my petition. I understand that once this is submitted that I cannot make any more changes.</strong></p>
       
        <fieldset>
          <input class="submit" id="contribution_submit" name="commit" type="submit" value="Publish" />&nbsp; or 
          <a href="#" id="cancel-contribution">Cancel</a>
        </fieldset>
        
    </div><!-- /.main-content -->

    <div class="aside">
    </div><!-- /.aside -->

  </div>
</div>