<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      
      <h2 class="mtn">In Summary</h2>
      <p>This is owned by the person who created the opportunity, or any CC admins. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero.</p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
      <p> Ut metus. Phasellus pulvinar. Aenean rutrum tristique neque. Morbi vulputate. Curabitur pretium, arcu a accumsan pretium, augue mi ullamcorper ligula, at tristique ligula purus quis mi. Etiam blandit arcu et lorem. Nam ligula. Aliquam nisi sem, euismod id, pharetra vitae, ullamcorper et, pede.</p>
      <p class="mbl"><a href="#">Edit your summary of this opportunity.</a></p>
      
      <div class="entry-container reverse">
        <div class="entry-meta">
          <h3>Petition to Cedar Fair to turn Sea World into a Whale Breeding Motel</h3>
        </div>
        <div class="entry-details full">
          <!-- <p class="entry-tags">Proposed by: <a href="#">Mike Shafarenko</a>. Ends Jan. 1, 2012</p> -->
          <p><strong>Read the <a href="#">initial proposal</a> by <a href="#">Noelle Celeste</a></strong></p>
          <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est.</p>
          <div><img src="http://placehold.it/375x240" /></div>
          <p><a href="#">8 comments</a> | <a href="#">Leave a comment</a></p>
        </div>
      </div>
      
    </div><!-- /.main-content -->

    <div class="aside supplementary">
      <div class="mod">
        <div class="btn-group btn-group-large">
          <a href="#" class="button btn-large">Share a Reflection</a>
        </div>
      </div>
      <div class="mod">
        <h3>Topics</h3>
        <ul class="simple-list block-link-list">
          <li>
            <a href="/issues/citizen-engagement">Citizen Engagement</a>
          </li>
          <li>
            <a href="/issues/other-conversations-that-matter">Other Conversations that Matter</a>
          </li>
        </ul>
      </div>
      <div class="mod">
        <h3>Participants</h3>
        <div class="mod-content">
          <div class="other-participants">
            <div class="photobank">
              <a href="http://localhost:3000/user/daryl-rowland" title="Daryl Rowland"><img alt="Daryl Rowland" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/934/standard/D and Tut.jpg?1308676625" title="Daryl Rowland" width="40" /></a>
              <a href="http://localhost:3000/user/jason-segedy" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
              <a href="http://localhost:3000/user/michael-gray" title="Michael Gray"><img alt="Michael Gray" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/247/standard/156626_1578814484536_1660867891_1306507_770839_n.jpg?1291315506" title="Michael Gray" width="40" /></a>
              <a href="http://localhost:3000/user/ronald-markowitz" title="Ronald Markowitz"><img alt="Ronald Markowitz" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/1793/standard/Ron Photo.jpg?1322063050" title="Ronald Markowitz" width="40" /></a>
              <a href="http://localhost:3000/user/brant-lee" title="Brant Lee"><img alt="Brant Lee" class="callout" height="40" src="https://graph.facebook.com/631741112/picture" title="Brant Lee" width="40" /></a>
              <a href="http://localhost:3000/user/david-sutula" title="David Sutula"><img alt="David Sutula" class="callout" height="40" src="https://graph.facebook.com/1193049902/picture" title="David Sutula" width="40" /></a>
              <a href="http://localhost:3000/user/nancy-reeves" title="Nancy Reeves"><img alt="Nancy Reeves" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/893/standard/MS150.jpg?1304999301" title="Nancy Reeves" width="40" /></a>
            </div>
          </div>
    </div><!-- /.aside -->


  </div>
</div>

