<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      
      <h2>Title of Reflection</h2>
      <p><strong>By: <a href="#">Noelle Celeste</a> on January 1, 2012</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar. Aenean rutrum tristique neque. Morbi vulputate. Curabitur pretium, arcu a accumsan pretium, augue mi ullamcorper ligula, at tristique ligula purus quis mi. Etiam blandit arcu et lorem. Nam ligula. Aliquam nisi sem, euismod id, pharetra vitae, ullamcorper et, pede.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci. Praesent eget purus. Nullam sed nunc. Etiam quis orci ac metus consectetuer consequat. Sed pulvinar aliquam sem. Vestibulum convallis. Pellentesque vestibulum dapibus est. Morbi iaculis. Morbi molestie molestie libero. Ut metus. Phasellus pulvinar. Aenean rutrum tristique neque. Morbi vulputate. Curabitur pretium, arcu a accumsan pretium, augue mi ullamcorper ligula, at tristique ligula purus quis mi. Etiam blandit arcu et lorem. Nam ligula. Aliquam nisi sem, euismod id, pharetra vitae, ullamcorper et, pede.</p>
      
      <div class="comment-section mtl">
        <h3 class="mbl">Comments</h3>
        
        <div class="media comment mbl">
          <a class="img" href="#" title="Noelle Celesten"><img alt="image" class="callout" height="40" src="http://placehold.it/40x40" title="Noelle Celeste" width="40"></a>
          <div class="bd">
            <p><strong><a href="#">Jason Russell</a> on January 20, 2012</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci.</p>
          </div>
        </div>
        <div class="media comment mbl">
          <a class="img" href="#" title="Noelle Celesten"><img alt="image" class="callout" height="40" src="http://placehold.it/40x40" title="Noelle Celeste" width="40"></a>
          <div class="bd">
            <p><strong><a href="#">Jason Russell</a> on January 20, 2012</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci.</p>
          </div>
        </div>
        <div class="media comment mbl">
          <a class="img" href="#" title="Noelle Celesten"><img alt="image" class="callout" height="40" src="http://placehold.it/40x40" title="Noelle Celeste" width="40"></a>
          <div class="bd">
            <p><strong><a href="#">Jason Russell</a> on January 20, 2012</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin augue nisi, fermentum vitae, imperdiet a, auctor eu, mi. Nulla imperdiet molestie purus. Duis arcu dui, pretium in, molestie id, convallis eget, orci.</p>
          </div>
        </div>
        
        <form action="post" id="comment-form">
          <p><strong>Comment on Noelle's Reflection:</strong></p>
          <textarea cols="40" rows="15" class="short textbox"></textarea>
          <div class="mbm">
            <a href="#" class="button">Leave my Response</a> or <a href="#">Cancel</a>            
          </div>
        </form>
        
      </div>
      
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
      <div class="mod">
        <div class="media">
          <span class="img"><a href="#" title="Noelle Celesten"><img alt="image" class="callout" height="40" src="http://placehold.it/40x40" title="Noelle Celeste" width="40"></a></span>
          <div class="bd">
            <h4><a href="#">Noelle Celeste</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            <p><a href="#">View Noelle's Profile</a></p>
          </div>
        </div>
      </div>
      <div class="mod">
        <h3>Noelle participated in:</h3>
        <div class="recent-item">
          <div class="offset-2">
            <a href="#" title="Jill Miller Zimon"><img alt=" " class="callout" height="40" src="http://placehold.it/40x40" title=" " width="40"></a>
            <p><strong><a href="#">Jill Miller Zimon</a></strong> -
              "At the beginning of this week, one Civic Commons member organization, the Citizens League of..."</p>
            <p><a href="#" class="read-more">Continue Reading</a></p>
          </div>
        </div>
      </div>
    </div><!-- /.aside -->


  </div>
</div>

