<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2>Title of Vote</h2>
      <p><strong>By: <a href="#">Dan Moulthrop</a> on Jan 1, 2012</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
      <div class="tab-content">
      <ul>
        <li><a href="#">Step 1: Select Options</a></li>
        <li class="tab-active">Step 2: Rank Options</li>
      </ul>
      </div>
      <p>Drag the selected options into order of importance.</p>
      <ol>
        <li>
          <h4>Title of Option</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
        </li>
       
      </ol>
      
      <fieldset>
          <input class="continue" id="contribution_submit" name="Continue" type="continue" value="Cast my Vote" /> &nbsp; or 
          <a href="#" id="cancel-contribution">Cancel</a>
      </fieldset>
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
      <div class="recent-item">
        <div class="offset-2">
          <a href="#" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
          <p><strong><a href="#">Dan Moulthrop</a></strong><br />
          <a href="#">View Profile</a></p>
        </div>
      </div>
    </div><!-- /.aside -->


  </div>
</div>

