<%= render :partial => 'layouts/opportunities' %>

<div class="wrapper">
  <div class="content-container">

    <div class="main-content">
      <h2 class="mtn">Title of Vote</h2>
      <p><strong>By: <a href="#">Dan Moulthrop</a> on Jan 1, 2012</strong></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
      <ul class="tab tab-section mtl mbl">
        <li class="active">
          <a href="#"><strong>Step 1:</strong> Select Options</a>
        </li>
        <li><a href="vote_permalink_step_2"><strong>Step 2:</strong> Rank Options</a></li>
      </ul>
      <form>
        <div class="media mbl inset">
            <input class="tab-checkbox img" type="checkbox" name="vehicle" value="#" />
            <div class="bd">
              <h4>Title of Option</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
            </div>
        </div>
        
        <div class="media mbl inset">
          <input class="tab-checkbox img" type="checkbox" name="vehicle" value="#" />
          <div class="bd">
            <h4>Title of Option</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
          </div>
        </div>

        <div class="media mbl inset">
          <input class="tab-checkbox img" type="checkbox" name="vehicle" value="#" />
          <div class="bd">
            <div class="media">
              <img class="img" src="http://placehold.it/80x50" />
                <h4>Title of Option</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
            </div>
          </div>
        </div>

        <div class="media mbl inset">
            <input class="tab-checkbox img" type="checkbox" name="vehicle" value="#" />
            <div class="bd">
              <h4>Title of Option</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
            </div>
        </div>
        
        <div class="media mbl inset">
          <input class="tab-checkbox img" type="checkbox" name="vehicle" value="#" />
          <div class="bd">
            <h4>Title of Option</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem in lacus mattis adipiscing eget ut lorem. Proin eu quam nulla, id porta erat. </p>
          </div>
        </div>

        <fieldset>
          <input class="continue" id="contribution_submit" name="Continue" type="continue" value="Continue" /> &nbsp; or 
          <a href="#" id="cancel-contribution">Cancel</a>
        </fieldset>
      </form>
      
    </div><!-- /.main-content -->

    <div class='aside supplementary'>
      <div class="recent-item">
        <div class="offset-2">
          <a href="#" title="Jason Segedy"><img alt="Jason Segedy" class="callout" height="40" src="http://s3.amazonaws.com/com.theciviccommons.production/avatars/31/standard/jason-segedy.jpg?1289706219" title="Jason Segedy" width="40" /></a>
          <p><strong><a href="#">Dan Moulthrop</a></strong><br />
          <a href="#">View Profile</a></p>
        </div>
      </div>
    </div><!-- /.aside -->


  </div>
</div>

