<div class="media mod">
  <img src="http://placehold.it/300x193" class="img" />
  <div class="bd">
    <p>
      <%= raw @blogpost_description.description_long unless @blogpost_description.blank? %>
    </p>
    <%= render partial: 'media_buttons' %>
  </div>
</div>
