<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">

      <%= parse_content_template('blog-index') %>

      <div class='aside supplementary'>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
<% end %>
