<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">

      <%
        template = ContentTemplate.find('blog-index')
        parsed = CCML.parse(template.template, request.url) unless template.nil?
      %>

      <%= raw parsed %>

      <div class='aside supplementary'>
        <div>&nbsp;</div>
      </div><!-- /.aside -->      
    </div>
  </div>
<% end %>
