-form_for [:admin, @region] do |f|
  %p
    =show_errors @region
    =f.label :name
    %br
    =f.text_field :name
  .label
    ZipCodes
  =f.text_area :zip_code_string
  %br
    (Seperate by line breaks)
  %p
  .actions
    =f.submit
