-form_for [:admin, @region], :html =>{:multipart => true}  do |f|
  %p
    =show_errors @region
    =f.label :name
    %br
    =f.text_field :name
    %br
    =f.label :description
    %br
    =f.text_area :description
    %br
    -if @region.image.exists?
      =image_tag @region.image.url(:normal)

    =f.label :image, "Attach an Image"
    %br
    =f.file_field :image
  .label
    ZipCodes (Separate by line breaks)
  =f.text_area :zip_code_string
  %br
  %p
  .actions
    =f.submit
