//=require_self
//=require 'ui-lightness/jquery-ui-1.8.16.custom.css'
/*resets
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, header, footer, hgroup,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }
*/
/*-----------------------------------------------
 = Message Styles
 =---------------------------------------------*/
div.message {
position: fixed;
top:0px;
left:0px;
width:100%;
padding:10px;
z-index:9999;
text-align:center; }

div.error {
background-color:#500;
color:#FFF;
}

div.alert {
background-color: #ffffcc;
color: #333;
}

body {
  line-height: 1;
  color: black;
  background: #cccccc;
  padding: 0;
  margin: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

fieldset {
  border: 1px solid #ccc;
  margin: 15px 0; }
fieldset.form-field {
  margin-right:15px;
  margin-bottom:30px;
}

.wrapper {
  width: 960px;
  margin: auto;
  padding: 0;}

.admin-header {
  height: 100px;
  background: #5599ee;
  padding: 0;
  margin: 0;}

.admin-header h1 {
  padding-top: 40px;
  margin: 0;}

.admin-header h1 a {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  background: #fff;
  width: 220px;
  float: left;
  margin: 10px 10px 0 0;
  padding: 0;}

#main {
  background: #fff;
  width: 710px;
  float: left;
  margin: 10px 10px 0 0;
  padding: 0  0 10px 10px;}

.nav ul {
  padding-left: 10px;}

.nav li {
  line-height: 25px;}

.nav a {
  display: block;}

.flash-error, .flash-notice{
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 25px;
}

.flash-error{
  background-color: #e85959;
  border-top: 3px solid #e74b4b;
  border-bottom: 3px solid #e74b4b;
}

.flash-notice{
  background-color: #ffff99;
  border-top: 3px solid #ffff66;
  border-bottom: 3px solid #ffff66;
}

#perma-link {
  float: right;
  padding-right: 10px;}

/* tables */
table.people-stats {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.people-stats tbody td {
  color: #3D3D3D;
  padding: 4px;
  vertical-align: top;
}
table.people-stats tr.even {
  background-color: #F0F0F6;
}



table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: image-url("bg.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: middle;
}
table.tablesorter tbody td.locked {
    color: red
}

table.tablesorter tbody td.unlocked {
    color: green;
}

table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: image-url("asc.gif");
}
table.tablesorter thead tr .headerSortDown {
  background-image: image-url("desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.conversations,
table.issues {
  background-color: inherit;
}

table.conversations td.handle,
table.issues td.handle {
  background-color: white;
  cursor: move;
  font-size: 2em;
  opacity: 0.1;
  width: 20px;
}

table.conversations td.handle:hover,
table.issues td.handle:hover {
  opacity: 1;
}

table.topics td {
  width: 300px;
}

/* staff picks */
.staff_pick {
  display: block;
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.staff_pick .text {
  display: none;
}

.staff_pick.off,
.staff_pick.on:hover {
  background: transparent image-url("icons/star_empty.png") 0 0 no-repeat;
}

.staff_pick.on,
.staff_pick.off:hover {
  background: transparent image-url("icons/star_full.png") 0 0 no-repeat;
}
textarea.tinymce{width:695px;}

/* There's a bug in jquery ui datepicker. On page init the datepicker shows up even though it should be hidden
 * see: http://forum.jquery.com/topic/jquery-ui-datepicker-initial-display-none-fixup
 * */
#ui-datepicker-div { display: none; }
.survey-option{
  border-top: dotted 1px gray;
}

/*- Vote Results ----------*/
/*COPIED FROM master.css*/

.survey_results {
width: 98%;
list-style-type: none;
margin: 0;
padding: 0;
}
.survey_results li {
display: block;
position: relative;
padding: 10px;
font-size: 1.2em;
margin-bottom: 15px;
}
.survey_results .bar {
display: block;
position: absolute;
top: 0;
left: 8%;
height: 100%;
background: #c4c4c4;
margin-left: -4px;
overflow: hidden;
text-indent: -9999px;
-moz-border-radius: 0 4px 4px 0;
-webkit-border-radius: 0 4px 4px 0;
-o-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c4c4c4), to(#A8A8A8));
background: -moz-linear-gradient(center top , #c4c4c4, #A8A8A8);
}
.survey_results .info {
background: #5a5a5a;
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
overflow: hidden;
color: #fff;
text-align: center;
line-height: 3em;
width: 8%;
z-index: 5;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}
.survey_results .winning.info {background:#3a505b;}
.survey_results .info .span {top: 10px;}
.survey_results .winning.bar {
background: #98b9ca;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#98b9ca), to(#819CAB));
background: -moz-linear-gradient(center top , #98b9ca, #819CAB);
}
.survey_results .answer {
color: #333;
position: relative;
z-index: 2;
font-weight: bold;
left: 8%;
width: 92%;
text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}


/*-----------------------------------------------
 = Meta Data Form Styling
 =---------------------------------------------*/
fieldset.meta {
  margin-right:15px;
  margin-bottom:30px;
}
.meta legend {
  font-weight: bold;
}
.meta div {
  margin: 10px;
}
.meta label {
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 20px;
  padding-top: 8px;
  text-align: right;
  width: 140px;
  vertical-align: top;
  clear: both;
}
.meta .label-content {
  display: block;
  padding-top: 8px;
}

