// Button styles

a.button,
.button,
a.off_button,
.off_button {
  border: 1px solid #94a647;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  margin-right: 10px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  @include border-radius(4px);
  background-color: #abbb64;
  @include background-image(linear-gradient(top, rgb(185, 201, 116), rgb(157, 174, 85)));
  @include filter-gradient(rgb(185, 201, 116), rgb(157, 174, 85), vertical);
  @include box-shadow(rgba(255,255,255,1) 0 1px 1px, rgba(255,255,255,.2) 0 1px 1px inset);
}

a.button.button-mini {
  font-size: .9em;
  font-weight: normal;
  padding: 2px 6px;
}

.button.cta {
  background-color: #cbdbe4;
  border: 1px solid #7695a6;
}

.button.cta:hover {
  background-color: #c0d3dd;
}

a.button.answer,
.button.answer {
  padding-top: 4px;
  vertical-align: middle;
  line-height: 15px;
  text-transform: uppercase;
}

a.button:hover,
a.off_button:hover,
input.submit:hover,
input#contribution_submit:hover {
  cursor: pointer;
  background-color: #8e9c4c;
  @include background-image(linear-gradient(top, rgb(162, 175, 93), rgb(123, 137, 59)));
  @include filter-gradient(rgb(162, 175, 93), rgb(123, 137, 59), vertical);
}

a.button:active,
a.off_button:active,
input.submit:active,
input#contribution_submit:active,
a.button.active {
  background-color: #818f3e;
  @include background-image(linear-gradient(top, rgb(135, 150, 66), rgb(123, 137, 59)));
  @include filter-gradient(rgb(135, 150, 66), rgb(123, 137, 59), vertical);
  @include box-shadow(0 2px 3px rgba(0,0,0,.2) inset);
}

.wide-button {
  width: 200px;
}

.button.button-block {
  display: block;
}

.button.ico-btn {
  padding-bottom: 5px;
  padding-top: 2px;
}

// Alternate colors

.button.secondary {
  border-color: #637988;
  background-color: #93b3c8;
  @include background-image(linear-gradient(top, rgb(168, 204, 228), rgb(126, 154, 172)));
  @include filter-gradient(rgb(168, 204, 228), rgb(126, 154, 172), vertical);
}

.button.secondary:hover {
  background-color: #809daf;
  @include background-image(linear-gradient(top, rgb(149, 181, 202), rgb(108, 133, 149)));
  @include filter-gradient(rgb(149, 181, 202), rgb(108, 133, 149), vertical);
}

.button.secondary:active,
.button.secondary.active {
  background-color: #718c9d;
  @include background-image(linear-gradient(top, rgb(119, 147, 166), rgb(108, 133, 149)));
  @include filter-gradient(rgb(119, 147, 166), rgb(108, 133, 149), vertical);
}

.button.tertiary {
  border-color: #bbb;
  color: #555;
  text-shadow: 0 1px 0px rgba(255,255,255,.3);
  background-color: #e6e6e6;
  @include background-image(linear-gradient(top, rgb(237, 237, 237), rgb(224, 224, 224)));
  @include filter-gradient(rgb(237, 237, 237), rgb(224, 224, 224), vertical);
}

.button.tertiary:hover {
  background-color: #d4d7d7;
  @include background-image(linear-gradient(top, rgb(224, 226, 226), rgb(201, 204, 204)));
  @include filter-gradient(rgb(224, 226, 226), rgb(201, 204, 204), vertical);
}

.button.tertiary:active,
.button.tertiary.active {
  background-color: #cbcfcf;
  @include background-image(linear-gradient(top, rgb(206, 210, 210), rgb(201, 204, 204)));
  @include filter-gradient(rgb(206, 210, 210), rgb(201, 204, 204), vertical);
}

// Radio show buttons

a.button span.itunes {
  background: image-url("icons/itunes-ico.png") no-repeat 0 2px;
  padding: 2px 0 2px 18px;
}

a.button:active span.itunes {
  background-position: 0 -62px;
}

a.button span.rss {
  background: image-url("icons/rss-ico.png") no-repeat 0 2px;
  padding: 2px 0 2px 18px;
}

a.button:active span.rss {
  background-position: 0 -63px;
}

a.button span.stitcher {
  background: image-url("icons/stitcher-ico.png") no-repeat 0 1px;
  padding: 2px 0 2px 18px;
}

a.button:active span.stitcher {
  background-position: 0 -63px;
}

// Button numbers

.button .number {
	color: #fff;
  display: inline-block;
  margin: 0 -5px 0 5px;
  padding: 1px 3px;
  text-shadow: none;
  @include border-radius(2px);
}

// Button groups

.btn-group {
	position: relative;
}

.btn-group .button {
	position: relative;
	float: left;
	margin-left: -1px;
	margin-right: 0;
  @include border-radius(0);
}

.btn-group .button:first-child {
	margin-left: 0;
  @include border-radius(4px 0 0 4px);
}

.btn-group .button:last-child,
.btn-group .button.dropdown-toggle {
  @include border-radius(0 4px 4px 0);
}

.btn-group .button:hover,
.btn-group .button:focus,
.btn-group .button:active,
.btn-group .button.active {
  z-index: 2;
}

.btn-group .text {
  float: left;
  font-style: italic;
  text-align: left;
  width: 181px;
}

.btn-group .text p {
  padding: 0 10px 0 5px;
}

.btn-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  @include clearfix;
}

// Large button group

.btn-group.btn-group-large .button {
  font-size: 13px;
	padding: 8px 15px;
	width: 150px;
}

 // TODO: Need to refactor and make large buttons indepenedent of button group (BD)
.btn-group-large .text-left {
	text-align: left;
}

// Full Width Button Group

.full-width {
  zoom: 1;

  > div {
    display: table;
    float: none;
    width: 100%;
  }

  .button {
    display: table-cell;
    float: none;
    border-left-width: 0;

    &:first-child {
      border-left-width: 1px;
    }
  }
}

// Button Dropdowns

.btn-group .full {
  max-width: none;
	width: 268px;
}
