
/* Styles for Dropdowns
   (based on Bootstrap)
---------------------------------*/

.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border-color: #ccc;
  border-color: rgba(0,0,0,.2);
  border-style: solid;
  border-width: 1px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
       -o-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -o-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.dropdown-menu-large {
  min-width: 260px;
  max-width: 320px;
  _width: 260px;
}  

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.btn-group .dropdown-menu.full {
	left: 10px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #fff;
  *width: 100%;
  *margin: -5px 0 5px;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu-large li > a {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu-large li:last-child > a {
  border-bottom: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #95b6ca;
}

.dropdown-menu-large li {
  margin-bottom: 0;
}

.dropdown.open {
  *z-index: 1000;
}

.dropdown.open .dropdown-toggle {
  color: #fff;
  background: #ccc;
  background: rgba(0,0,0,.3);
}
  
.dropdown.open .dropdown-menu {
  display: block;
}


/* Caret Styling
---------------------------------*/

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -9999px;
  *text-indent: 0;
  vertical-align: top;
  border-left:  4px solid transparent;
  border-right: 4px solid transparent;
  border-top:   4px solid #fff;
  opacity: .7;
  content: "\2193";
}

.button:active .caret, 
.button.active .caret {
	border-top-color: #9cb050;
	opacity: 1;
}

.button.secondary:active .caret, 
.button.secondary.active .caret {
	border-top-color: #637988;
}

.button .caret {
	margin-top: 6px;
	margin-left: 5px;
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown:hover .caret,
.open.dropdown .caret {
	opacity: 1;
}
