// List Styles

.divided-list-vertical > * {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }

}

.divided-list-horizontal > * {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;

  &:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

}
