.notification-main {
  position: relative;
  float: right;
  height: 40px;
  width: 58px;
  background: url(/images/notification_main.png) no-repeat;
}

.notification {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 4px 3px;
  background-color: #ccc;
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: bold;
  text-shadow: 0 -1px 1px rgba(0,0,0,.3);
  border: 3px solid #fff;
  cursor: pointer;
  @include border-radius(15px);
  @include box-shadow(0 1px 1px rgba(0,0,0,.3));
}

.notification-info {
  background-color: #b73123;
}

// .notification-inactive {
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
//   filter: alpha(opacity=50); /* IE 5-7 */
//   -moz-opacity: .5;
//        opacity: .5;
//   }
