<div class="mod">
  <%# render :partial => 'regions/region_filter' %>
  <h3>Filter by Metro Area</h3>
  <ul class="simple-list block-link-list">
    <%- @top_metro_regions.each do |metro_region| -%>
      <li><a href="#" class=""><span><%= metro_region.display_name%></span></a></li>
    <%- end -%>
  </ul>
</div>
