<div class="modal">
  <h2>I'm a member of this organization</h2>

  <p>I'm an official representative of this organization and have permission to represent them on The Civic Commons</p>
  <p>
    <%= link_to "I agree", '', :class => 'confirm_membership button' %>
    <%= link_to "Cancel", '', :class => 'cancel' %>
  </p>
</div>