<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome to the Civic Commons</title>
  </head>
  <body style="background:url(http://staging.theciviccommons.com/images/body_bg.gif) #f9f9f9; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#444; margin:0; auto;">
    <!-- Structure -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #9ba1ae;"><tr>
      <td align="center" style="background:#fff;">
        <!--Header-->
        <table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
          <td style="padding:20px 0;">
            <a href="http://staging.theciviccommons.com/"><img src="http://staging.theciviccommons.com/images/cc_logo_2.png" width="137" height="80" alt="Civic Commons Logo" style="border:0;" /></a>
          </td>
        </tr></table>
        <!--Header-->
      </td>
    </tr></table>
    <table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
      <td align="center">
        <!--Content-->
        <table width="600px" border="0" cellspacing="0" cellpadding="0"><tr>
          <td style="padding:20px 0 0 0;">
            <h1 style="margin-top:0; color:#555; font-size:26px; letter-spacing:-1px;">Welcome to the Civic Commons</h1>

            <p style="line-height:1.4em;">FIX THIS GRAF--MAKE IT MORE FUN</p>
            <p style="line-height:1.4em;">Welcome to The Civic Commons, we're really glad you decided to join the conversation.</p>
            <p style="line-height:1.4em;">Now that we’ve got all the formalities out of the way, here’s how to get started:</p>
            <p style="line-height:1.4em;">If you like to read instructions or you haven't seen this yet, check out our video introduction to the Commons.</p>
            <p style="line-height:1.4em;">If you're the kind of person who ignores instruction manuals,  feel free to head over to your profile, add a picture of yourself and some other information and then jump into a conversation.</p>
            <p style="line-height:1.4em;">Cool?</p>
            <p style="line-height:1.4em;">See you at the Commons!</p>
            <p style="line-height:1.4em;">The Civic Commons Team</p>
          </td>
        </tr></table>
        <!--Content-->
      </td>
    </tr></table>
    <!-- /Structure-->
  </body>
</html>