<div class="wrapper">
  <div class="alert alert-admin mts mbs pal">
    <a class="dismiss" title="Remove Filter" href="#">&times;</a>
    Viewing results for <strong class="region-name">Akron, OH</strong> <a href="#">change</a>

    <%= render :partial => 'regions/region_filter' %>

  </div>
</div>
