-content_for :main_body do 
  .feature-mast
    .wrapper
      .content-containter
        %h1
          =@region.name
  .wrapper
    .content-container
      .main-content.group
        -if @region.image?
          =image_tag @region.image.url, :alt => @region.name, :class => 'featured main-img float'
        %p= raw(@region.description)
        -if @conversations.length >0
          %h2 Conversations in this Region
          =render :partial => "conversations/conversation_pager"

      .aside.supplementary
        .mod
          %h3 SELECT A REGION
          .mod-content
            %ul.link-list
              -@regions.each do |r|
                %li
                  =link_to r.name, r
        - if @region.issues.count > 0
          .mod
            %h3 ISSUES
            %ul.link-list
              .mod-content
                -@region.issues.each do |i|
                  %li
                    =link_to i.name, i.becomes(Issue)
