-content_for :main_body do 
  .feature-mast
    .wrapper
      .content-containter
        %h1
          =@region.name
  .wrapper
    .content-container
      .main-content
        .two-col
          .cols
            -if @region.image?
              %img.featured{ :class => "main-img", :src => @region.image.url(:normal), :alt => @region.name, :class => 'main-img'}
            .feature
              -if @conversations.length >0
                %h2 Conversations in this Region
                =render :partial => "conversations/conversation_pager"

          .cols
            %p= raw(@region.description)
      .aside.supplementary
        .mod
          %h3 SELECT A REGION
          .mod-content
            %ul.link-list
              -@regions.each do |r|
                %li
                  =link_to r.name, r
        - if @region.people.count > 0
          .mod
            %h3 PEOPLE
            .mod-content
              -@region.people.each do |p|
                =conversation_profile(p).html_safe
        - if @region.issues.count > 0
          .mod
            %h3 ISSUES
            %ul.link-list
              .mod-content
                -@region.issues.each do |i|
                  %li
                    =link_to i.name, i
