-content_for :main_body do 
  .feature-mast
    .wrapper
      %h1
        =@region.name
  .wrapper
    .aside
      .mod
        %h3 SELECT A REGION
        .mod-content
          %ul.link-list
            -@regions.each do |r|
              %li
                -link = r.default? ? "/regions/default" : r
                =link_to r.name, link
      - if @region.issues.count > 0
        .mod
          %h3 ISSUES
          %ul.link-list
            .mod-content
              -@region.issues.each do |i|
                %li
                  =link_to i.name, i
    .content-container
      .content-container
        -if @region.image?
          %img.featured{ :class => "main-img", :src => @region.image.url(:normal), :alt => @region.name}
        .feature
          - if @region.people.count > 0
            %h2 People
            -@region.people.each do |p|
              =p.name
          -if @conversations.length >0
            %h2 Conversations in this Region
            =render :partial => "conversations/conversation_pager"
