<fieldset class="meta">
  <legend>Meta Information:</legend>
  <div>
    <label>Page Title:</label>
    <span class="label-content">
      <%= meta_object.page_title %>
    </span>
  </div>
  <div>
    <label>Page Description:</label>
    <span class="label-content">
      <%= meta_object.meta_description %>
    </span>
  </div>
  <div>
    <label>Page Tags:</label>
    <span class="label-content">
      <%= meta_object.meta_tags %>
    </span>
  </div>
</fieldset>

