<% if @error %>
  $('#tos-form').find('.validation-error').html('<%= escape_javascript(@error) %>');
  $.colorbox.resize();
<% else %>
  $.colorbox.close();
  $('body').append('<div class="flash-notice"><%= escape_javascript(@notice) %></div>');
<% end %>
