<% content_for :main_body do %>
  <div class="wrapper">
    <div class="content-container">
      <h1><%= link_to @content_item.title, content_path(@content_item) %></h1>

      <div class="main-content">
        <div class="post">
          <p class="author"><%= @content_item.author.name %></p>
          <p class="time"><%= @content_item.created_at.strftime("%m-%d-%Y %I:%M %p") %></p>
          <div class="body"><%= raw @content_item.body %></div>
        </div>
      </div><!-- /.main-content -->     

      <div class='aside supplementary'>
        <div>&nbsp;</div>
      </div><!-- /.aside -->      
    </div>
  </div>
<% end %>
