<p id="notice"><%= notice %></p>

<p>
<%= render partial: 'admin/curated_feed_items/form' %>
</p>

<%= link_to 'Show', @admin_curated_feed_item %> |
<%= link_to 'Back', admin_curated_feed_items_path %>
