- if managed_issues.size > 0
  .mod
    %h3 Projects
    .mod-content
      %ul.simple-list.block-link-list
        -managed_issues.each do |issue|
          %li.issue-list
            =link_to(issue.name, issue_path(issue))

