<div id="cc-footer">
	<p>
	<%= image_tag 'cc_by-nc-sa.png', style: "float: left; margin: 0 15px 0 0;"  %>
	Conversation text and related responses copyright &copy; The Civic Commons and are available under the
	<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>;
	additional terms may apply.
	</p>
</div>
