<div class="offset-2">
  <%= user_profile(current_person).html_safe %>
  <h4>
    <%= text_profile(current_person).html_safe %>
  </h4>
  <p style='margin-bottom: 0;'>
    <%= link_to_settings(current_person).html_safe %>
    <br />
    <%= link_to "Logout", destroy_person_session_path(:protocol => 'http'), :class => 'user-link' %>
  </p>
</div>
