<div class="wrapper">
  <div class="content-container">

    <div class="main-content">

      <img src='#' width='123px' height='77' style='border: solid 1px black; float: left; margin: 0 30px 10px 0'>
      <h1>Save the Lake Erie Whales</h1>
      <h2>Started on Dec 1, 2011 by <%= link_to "Josh Walsh", '#' %></h2>

      <div style='clear: both; font-weight: bold;'>
        <p>The population of Lake Erie's lovable species of fresh-water whale has been in decline the last few years.  What do you think is causing this problem, and what can we do to fix it?</p>
      </div>

      <div>
        Talk
        Take Action
        Reflect
      </div>

    </div><!-- /.main-content -->

    <div class='aside supplementary convo-mast-buttons'>

      <%= link_to "Follow", '#', :class => 'button' %>

    </div><!-- /.aside -->

  </div>
</div>

