<div class="wrapper">
  <div class="content-container">

    <div class="main-content">

      <div class='main-content-left'>
        <img src='#' width='120' height='80' class='featured main-img'>
      </div>
      <div class='main-content-right'>
        <h1>Save the Lake Erie Whales</h1>
        <h2>Started on Dec 1, 2011 by <%= link_to "Josh Walsh", '#' %></h2>
      </div>

      <div class='convo-summary'>
        <p>The population of Lake Erie's lovable species of fresh-water whale has been in decline the last few years.  What do you think is causing this problem, and what can we do to fix it?</p>
      </div>

      <div>
        <div>
          Talk
        </div>
        <div>
          Take Action
        </div>
        <div>
          Reflect
        </div>
      </div>

    </div><!-- /.main-content -->

    <div class='aside supplementary convo-mast-buttons'>

      <%= link_to "Follow", '#', :class => 'button' %>

    </div><!-- /.aside -->

  </div>
</div>

