<div class="convo-create">
    <p>It's your <strong>Civic Commons</strong>, so you get to start the conversation you think is important.</p>
    <%= link_to "Start a Conversation", conversation_responsibilities_path, :class => 'convo-create-btn' %>
</div>

