<div class="wrapper">
  <div class="content-container">

    <div class="main-content">

      <div class='main-content-left'>
        <img src='#' width='120' height='80' class='featured main-img'>
      </div>
      <div class='main-content-right'>
        <h1>Save the Lake Erie Whales</h1>
        <p class="subtitle">Started on Dec 1, 2011 by <%= link_to "Josh Walsh", '#' %></p>
      </div>

      <div class='convo-summary'>
        <p>The population of Lake Erie's lovable species of fresh-water whale has been in decline the last few years.  What do you think is causing this problem, and what can we do to fix it?</p>
      </div>

      <div class="btn-group btn-group-large">
        <a class="button secondary active" href="#"><span class="fl-left">Talk</span> <span class="fl-right number"><i class="ico-sm ico-person-white"></i> 23</span></a>
        <a class="button secondary" href="#"><span class="fl-left">Take Action</span> <span class="fl-right number">2</span></a>
        <a class="button secondary" href="#"><span class="fl-left">Reflect</span> <span class="fl-right number">0</span></a>
      </div>

    </div><!-- /.main-content -->

    <div class='aside supplementary convo-mast-buttons'>

      <%= link_to "Follow", '#', :class => 'button' %>

    </div><!-- /.aside -->

  </div>
  
</div>