<a class="button secondary<%= ' active' if active %>" href="<%= link %>">
  <span class="fl-left"><%= title %></span>
  <span class="fl-right number">
    <% if defined? show_person_icon and show_person_icon %>
      <i class="ico-sm ico-person-white"></i>
    <% end %>
    <%= count %>
  </span>
</a>