#user
  - if person_signed_in?
    = surround "Logged in as ", "." do
      = current_person.email
    = precede "Not you? " do
      = link_to "Logout", destroy_person_session_path
  - else
    %p
      <a href="/people/login" class="cc-login-btn">Login</a>
    or
    <a href="/people/register/new">register for an account</a>