!!!
%html
  %head
    =javascript_include_tag 'vendor/jquery-1.4.2.min'
    =stylesheet_link_tag 'admin.css'
    %title CivicCommons Admin
  %body
    .header
      .wrapper
        %h1
          =link_to "Civic Commons Admin", admin_root_path
    .wrapper
      .nav
        %ul
          %li
            =link_to "Civic Commons Home", root_path
          %li
            =link_to "Articles", admin_articles_path
            %ul
              %li
                =link_to "Add Article", new_admin_article_path
          %li
            =link_to "Conversations", admin_conversations_path
            %ul
              %li
                =link_to "Add Conversation", new_admin_conversation_path
          %li
            =link_to "Issues", admin_issues_path
            %ul
              %li
                =link_to "Add Issue", new_admin_issue_path
          %li
            =link_to "People", admin_people_path
            %ul
              %li
                =link_to "Proxy Accounts", admin_proxies_path
      %div#main
        -if flash[:notice]
          %div
            =flash[:notice]
        = yield
