!!!
%html
  %head
    =javascript_include_tag 'admin'
    =stylesheet_link_tag 'admin'
    =javascript_tag '$.fx.off = true;' if Rails.env.test?
    %title CivicCommons Admin
  %body
    .admin-header
      .wrapper
        %h1
          =link_to "The Civic Commons Admin", admin_root_path
        = csrf_meta_tag
    -if flash[:error]
      .flash-error
        =flash[:error]
    -if flash[:notice]
      .flash-notice
        =flash[:notice]
    .wrapper
      .nav
        %ul
          %li
            =link_to "The Civic Commons Home", root_path
            %ul
              -if can? :manage, :admin_featured_homepages
                %li
                  =link_to "Featured Homepage Items", admin_featured_homepage_index_path
          -if can? :manage, :admin_featured_opportunities
            %li
              =link_to "Featured Opportunities", admin_featured_opportunities_path
          -if can? :manage, :admin_articles
            %li
              =link_to "Articles", admin_articles_path
              %ul
                %li
                  =link_to "Add Article", new_admin_article_path
          -if can? :manage, :admin_conversations
            %li
              =link_to "Conversations", admin_conversations_path
              %ul
                %li
                  =link_to "Add Conversation", new_admin_conversation_path
          -if can? :manage, :admin_metro_regions
            %li
              =link_to "Metro Regions", admin_metro_regions_path
              %ul
                %li
                  =link_to "Display Names", display_names_admin_metro_regions_path
          -if can? :manage, :admin_topics
            %li
              =link_to "Topics", admin_topics_path
              %ul
                %li
                  =link_to "Add Topic", new_admin_topic_path
          -if can? :manage, :admin_issues
            %li
              =link_to "Issues", admin_issues_path
              %ul
                %li
                  =link_to "Add Issue", new_admin_issue_path
                %li
                  =link_to "Managed Issue Pages", admin_issues_pages_all_path
          -if can? :manage, :admin_people
            %li
              =link_to "People", admin_people_path
              %ul
                %li
                  =link_to "Register User", new_admin_user_registration_path
                %li
                  =link_to "Proxy Accounts", proxies_admin_people_path
                %li
                  =link_to "Add Proxy Account", new_admin_person_path
                %li
                  =link_to 'Export Members to CSV', export_members_admin_people_path
          -if can?(:manage, :admin_content_items) || can?(:manage, :admin_blog_posts) || can?(:manage, :admin_news_items) || can?(:manage, :admin_radio_shows)
            %li
              Content Items
              -if can?(:manage, :admin_blog_posts) || can?(:manage, :admin_content_items)
                %ul
                  %li
                    =link_to "Blog Posts", admin_content_items_type_path('blog_post')
              -if can?(:manage, :admin_news_items) || can?(:manage, :admin_content_items)
                %ul
                  %li
                    =link_to "News Items", admin_content_items_type_path('news_items')
              -if can?(:manage, :admin_radio_shows) || can?(:manage, :admin_content_items)
                %ul
                  %li
                    =link_to "Radio Shows", admin_content_items_type_path('radio_shows')
              %ul
                %li
                  =link_to "Add Content Item", new_admin_content_item_path
          -if can? :manage, :admin_content_templates
            %li
              =link_to "Static Pages", admin_content_templates_path
              %ul
                %li
                  =link_to "Add Static Page", new_admin_content_template_path
          -if can? :manage, :admin_curated_feeds
            %li
              =link_to "Curated Feeds", admin_curated_feeds_path
              %ul
                %li
                  =link_to "Add Feed", new_admin_curated_feed_path
          -if can? :manage, :admin_surveys
            %li
              =link_to "Surveys", admin_surveys_path
              %ul
                %li
                  =link_to "Add Survey", new_admin_survey_path
          -if can? :manage, :admin_email_restrictions
            %li
              =link_to "Email Restrictions", admin_email_restrictions_path
              %ul
                %li
                  =link_to "Add Email Restrictions", new_admin_email_restriction_path
          -if can? :manage, :admin_widget_stats
            %li
              =link_to "Your Commons Stats", admin_widget_stats_path
      %div#main
        =yield

