!!!
%html
  %head
    =javascript_include_tag 'vendor/jquery-1.4.4.min'
    =javascript_include_tag 'lib/rails'
    =javascript_include_tag 'lib/master'
    =stylesheet_link_tag 'admin.css'
    =javascript_include_tag 'vendor/jquery.tablesorter.min'
    =javascript_include_tag 'lib/admin/sort_table'
    %title CivicCommons Admin
  %body
    .admin-header
      .wrapper
        %h1
          =link_to "Civic Commons Admin", admin_root_path
        = csrf_meta_tag
    -if flash[:notice]
      .flash-notice
        =flash[:notice]
    .wrapper
      .nav
        %ul
          %li
            =link_to "Civic Commons Home", root_path
          %li
            =link_to "Articles", admin_articles_path
            %ul
              %li
                =link_to "Add Article", new_admin_article_path
          %li
            =link_to "Conversations", admin_conversations_path
            %ul
              %li
                =link_to "Add Conversation", new_admin_conversation_path
          %li
            =link_to "Regions", admin_regions_path
            %ul
              %li
                =link_to "Add Region", new_admin_region_path
          %li
            =link_to "Issues", admin_issues_path
            %ul
              %li
                =link_to "Add Issue", new_admin_issue_path
          %li
            =link_to "People", admin_people_path
            %ul
              %li
                =link_to "Proxy Accounts", proxies_admin_people_path
              %li
                =link_to "Add Proxy Account", new_admin_person_path
          %li
            =link_to "Content Items", admin_content_items_path
            %ul
              %li
                =link_to "Add Content Item", new_admin_content_item_path
      %div#main
        =yield

