!!!
%html
  %head
    =javascript_include_tag 'vendor/jquery/jquery-1.4.4.min'
    =javascript_include_tag 'jquery_ujs'
    =javascript_include_tag 'lib/master'
    =stylesheet_link_tag 'admin.css'
    =stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.16.custom.css'

    =javascript_include_tag 'vendor/jquery/jquery.tablesorter.min'
    =javascript_include_tag 'lib/admin/sort_table'
    =javascript_include_tag 'lib/admin/apply_tiny_mce'
    =javascript_include_tag 'vendor/jquery/jquery-ui-1.8.16.custom.min.js'
    =javascript_include_tag 'vendor/tiny_mce/jquery.tinymce.js'
    =javascript_tag '$.fx.off = true;' if Rails.env.test?
    %title CivicCommons Admin
  %body
    .admin-header
      .wrapper
        %h1
          =link_to "The Civic Commons Admin", admin_root_path
        = csrf_meta_tag
    -if flash[:error]
      .flash-error
        =flash[:error]
    -if flash[:notice]
      .flash-notice
        =flash[:notice]
    .wrapper
      .nav
        %ul
          %li
            =link_to "The Civic Commons Home", root_path
            %ul
              %li
                =link_to "Featured Homepage Items", admin_featured_homepage_index_path
          %li
            =link_to "Articles", admin_articles_path
            %ul
              %li
                =link_to "Add Article", new_admin_article_path
          %li
            =link_to "Conversations", admin_conversations_path
            %ul
              %li
                =link_to "Add Conversation", new_admin_conversation_path
          %li
            =link_to "Regions", admin_regions_path
            %ul
              %li
                =link_to "Add Region", new_admin_region_path
          %li
            =link_to "Topics", admin_topics_path
            %ul
              %li
                =link_to "Add Topic", new_admin_topic_path
              %li
          %li
            =link_to "Issues", admin_issues_path
            %ul
              %li
                =link_to "Add Issue", new_admin_issue_path
              %li
                =link_to "Managed Issue Pages", admin_issues_pages_all_path
          %li
            =link_to "People", admin_people_path
            %ul
              %li
                =link_to "Register User", new_admin_user_registration_path
              %li
                =link_to "Proxy Accounts", proxies_admin_people_path
              %li
                =link_to "Add Proxy Account", new_admin_person_path
          %li
            Content Items
            %ul
              %li
                =link_to "Blog Posts", admin_content_items_type_path('blog_post')
            %ul
              %li
                =link_to "News Items", admin_content_items_type_path('news_items')
            %ul
              %li
                =link_to "Radio Shows", admin_content_items_type_path('radio_shows')
            %ul
              %li
                =link_to "Add Content Item", new_admin_content_item_path
          %li
            =link_to "Static Pages", admin_content_templates_path
            %ul
              %li
                =link_to "Add Static Page", new_admin_content_template_path
          %li
            =link_to "Curated Feeds", admin_curated_feeds_path
            %ul
              %li
                =link_to "Add Feed", new_admin_curated_feed_path
          %li
            =link_to "Surveys", admin_surveys_path
            %ul
              %li
                =link_to "Add Survey", new_admin_survey_path
          %li
            =link_to "Email Restrictions", admin_email_restrictions_path
            %ul
              %li
                =link_to "Add Email Restrictions", new_admin_email_restriction_path
      %div#main
        =yield

